.input-theme{
    border: 1px solid #DDD;
    padding: 10px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.input-theme:focus{
    outline: none;
    border: 2px solid #FF8500;
}

.edit-question-max-score{
    text-align: center;
    color: grey;
    padding-top: 8%;
}

.edit-question-icon{
    text-align: center;
    padding-top : 20px;
}

.edit-question-icon img{
    width: 50px;
    height: 50px;
}

.buttonAddDocument{
    color: black;
    background: white;
    border: 2px solid #1D9CCB;
}

.buttonAddDocument:hover{
    color: white;
    background: #1D9CCB;
}

