<div class="row vertical-spacing">
    <div class="row">
        <h3><i18n>exercizer.grain.types</i18n></h3>
        <div class="row">
            <form>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('text')" value="text" />
                <i18n>exercizer.grain.option1</i18n>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('list')" value="list" />
                <i18n>exercizer.grain.option2</i18n>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('drag')" value="drag" />
                <i18n>exercizer.grain.option3</i18n>
            </form>
        </div>
    </div>
    <div class="row vertical-spacing"><strong><i18n>exercizer.grain.filltext.help</i18n></strong></div>
    <div class="row">
        <editor class="fill-text" ng-model="grain.grain_data.custom_data.htmlContent" inline track-input-event="grain.getTracker()"></editor>
    </div>
    <div class="options" ng-if="grain.grain_data.custom_data.answersType === 'drag'">
        <ul>
            <li ng-repeat="option in grain.grain_data.custom_data.options track by $index">
                <text-zone style="max-width:unset">
                    <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
                    <span>[[option]]</span>
                </text-zone>
            </li>
        </ul>
    </div>
</div>
