<div class="row">
    <div class="row">
        <div class="row mb-8"><strong><i18n>exercizer.grain.types</i18n></strong></div>
        <div class="row">
            <select ng-model="grain.grain_data.custom_data.answersType"
                    ng-change="switchTo(grain.grain_data.custom_data.answersType)">
                <option value="text">[['exercizer.grain.option1'|i18n]]</option>
                <option value="list">[['exercizer.grain.option2'|i18n]]</option>
                <option value="drag">[['exercizer.grain.option3'|i18n]]</option>
            </select>
        </div>
        <message-info status="info" ng-if="grain.grain_data.custom_data.answersType=='text'">
            <i18n>exercizer.grain.accent.warning</i18n>
        </message-info>
    </div>
    <div class="row mb-8"><small><em><i18n>exercizer.grain.filltext.help</i18n></em></small></div>
    <div class="row">
        <editor class="fill-text" ng-model="grain.grain_data.custom_data.htmlContent" inline track-input-event="grain.getTracker()"></editor>
    </div>
    <div class="options" ng-if="grain.grain_data.custom_data.answersType === 'drag'">
        <ul>
            <li ng-repeat="option in grain.grain_data.custom_data.options track by $index">
                <text-zone style="max-width:unset">
                    <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
                    <span>[[option]]</span>
                </text-zone>
            </li>
        </ul>
    </div>
</div>
