<article class="grain-perform">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-display-hint="true"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div bind-html="grainCopy.grain_copy_data.custom_copy_data.htmlContent"></div>

        <div class="options zero-mobile-fat-mobile" drop-item="removeAnswer($item);" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'">
            <ul>
                <li 
                    drag-item="option"
                    ng-repeat="option in dragOptions | filter:availableOption track by $index ">
                    <text-zone><span>[[option.option]]</span></text-zone>
                </li>
            </ul>
        </div>
        <div class="mobile-fat-mobile tap-tap" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag' && showAnswersMobile">
            <div class="tap-tap__item" ng-repeat="option in dragOptions | filter:availableOption track by $index " data-ng-click="selectAnswer(option)">
                [[option.option]]
            </div>
        </div>
    </div>

</article>