<article id="[[grainCopy.id]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-is-teacher="isTeacher"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div bind-html="grainCopy.grain_copy_data.custom_copy_data.htmlContent"></div>
    </div>
    <br>
    <div class="row" style="padding-bottom: 10px;">
        <button class="cell right-magnet cancel"
            style="margin: 0;"
            data-ng-click="doDisplayCorrection()"
            data-ng-if="displayCorrectAnswerButton()">
            <i18n data-ng-if="!displayCorrection">exercizer.grain.display.correction</i18n>
            <i18n data-ng-if="displayCorrection">exercizer.grain.undisplay.correction</i18n>
        </button>
    </div>
    <grain-copy-footer data-ng-if="!displayCorrection"
                       data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>

    <article class="grain-correction" data-ng-if="displayCorrection">
        <i class="right-magnet close" data-ng-click="doDisplayCorrection()"></i>
        <h2><i18n>exercizer.grain.correction</i18n></h2>
        <correction-fill-text data-grain-scheduled="grainScheduled">
        </correction-fill-text>
    </article>

</article>