<article id="[[grainCopy.id]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"
    data-is-teacher="isTeacher" data-display-correction="displayCorrection" data-on-display-correction="doDisplayCorrection()"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div bind-html="grainCopy.grain_copy_data.custom_copy_data.htmlContent"></div>
    </div>
    <br>
    
    <grain-copy-footer data-ng-if="!displayCorrection"
                       data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>

    <article style="background-color: #daf2ef;" data-ng-if="displayCorrection">
        <i class="right-magnet close" data-ng-click="doDisplayCorrection()"></i>
        <h2><i18n>exercizer.grain.correction</i18n></h2>
        <correction-fill-text data-grain-scheduled="grainScheduled">
        </correction-fill-text>
    </article>

</article>