<article>
    <div class="row">
        <div class="one cell">
            <div class="row">
                <div class="twelve cell">
                    <div class="edit-statement-icon paragraph">
                        <img src="/exercizer/public/assets/img/paragraph.PNG">
                    </div>
                </div>
                <div class="twelve cell">
                    <div class="edit-statement-icon arrowLeft">
                        <img src="/exercizer/public/assets/img/arrowLeft.PNG">
                    </div>
                </div>
            </div>
        </div>
        <!--
        NG-BLUR : where ?
        -->
        <div class="eleven cell">
            <html-editor class="edit-statement-html-editor"  ng-model="grain.grain_data.custom_data.statement"></html-editor>
        </div>
    </div>
</article>
