<nav class="vertical">
    <ul>
        <li>
            <a data-ng-class="{selected: currentItem == 'subjectPresentation'}" data-ng-show="display.subjectPresentation()" data-ng-click="clickOnOneItem('subjectPresentation')">
                Résumé
            </a>
        </li>
        <li data-ng-repeat="item in itemList()  | orderObjectBy:'order':false">
            <a data-ng-class="{selected: currentItem == item.order}" data-ng-click="clickOnOneItem(item)">
                 [[getItemLabel(item)]]
            </a>
        </li>
        <li>
            <a data-ng-class="{selected: currentItem == 'subjectEndPage'}" data-ng-show="display.subjectEndPage()" data-ng-click="clickOnOneItem('subjectEndPage')">
                Rendre la copie
            </a>
        </li>
    </ul>
</nav>

