<!-- lightbox -->
<lightbox data-show="display.lightboxCreateFolder" data-on-close="hideLightbox()">
    <h1>Nouveau dossier</h1>
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="twelve cell">
                    <input type="text" data-ng-model="newFolder.label" class="twelve cell" placeholder="Nom du dossier"
                           required>
                </div>
                <div class="twelve cell">
                    <button data-ng-click="createNewFolder()" class="right-magnet" data-ng-disabled="form.$invalid">
                        Créer
                    </button>
                    <button data-ng-click="hideLightbox()" class="right-magnet cancel">
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</lightbox>

<!-- page -->

<nav class="vertical dragging-zone-folder">
    <ul>
        <li>
            <a
                    class="selected"
                    data-ng-click="toggleDisplayMySubjectList(); goToRoot()"
                    dragdrop="dropToRoot($originalEvent)"
            >
                Mes sujets
            </a>
            <folder-container is-root="true" folder-list="folderList"></folder-container>
        </li>
    </ul>
    <a class="classic-link" data-ng-click="clickCreateFolder()">
        Créer un nouveau dossier
    </a>
</nav>