<div class="row">
    <h1 class="cell">
        <span class="zero-mobile"><span class="hover-orange" data-ng-click="(previewingFromLibrary) ? redirectToTeacherDashboardLibraryTab() : redirectToDashBoard()">
            <i18n>exercizer.title</i18n></span> / </span><span tooltip="[[subjectScheduled.title]]">[[ subjectScheduled.title | limitTo: 35  ]][[ subjectScheduled.title.length > 35 ? '...' : '']]</span>
    </h1>
</div>
<div class="row">
    <h2 class="cell">
        <strong><i18n>exercizer.preview.copy</i18n></strong>
    </h2>
    <button class="cell right-magnet" data-ng-click="redirectToTeacherDashboardLibraryTab()" data-ng-if="previewingFromLibrary">
        <i18n>exercizer.back.library</i18n>
    </button>

    <button class="cell right-magnet" data-ng-click="redirectToSubjectEdit()" data-ng-if="!previewingFromLibrary">
        <i18n>exercizer.back.edit</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToSubjectPreviewPerformCopy()">
        <i18n>exercizer.back.preview</i18n>
    </button>
</div>