<div class="row" ng-if="isHeader()">
    <h1 class="cell">
        <span class="no-responsive"><span class="hover-orange" data-ng-click="redirectToSubjectDashboard()"><i18n>exercizer.title</i18n></span>
        / </span><span data-ng-click="redirectToCorrectDashboard()"><span class="hover-orange"><i18n>exercizer.dashboard.instructer.tab2</i18n></span></span>
        / <span tooltip="[[subjectScheduled.title]]" data-ng-click="redirectToDashboard(false)">[[ subjectScheduled.title | limitTo: 35  ]][[ subjectScheduled.title.length > 35 ? '...' : '']]</span>
    </h1>
</div>
<div class="row">
    <span ng-if="isHeader()">
        <div class="cell no-margin italic-text desktop-three" style="font-size: large;">
            <span data-bind-html="copiesYetToCorrectDisplay"></span>
        </div>
        <h2 class="cell" style="margin-left: 20px;">
            <strong class="cell reduce-block-four">&nbsp;<i18n>exercizer.copy.from</i18n> [[ subjectCopy.owner_username ]] &nbsp;</strong>
        </h2>
    </span>

    <button class="right-magnet flat-button" data-ng-click="redirectToNextCopy()" data-ng-show="hasNextCopy()" tooltip="exercizer.next.copy">
        <i class="open-right"></i>
    </button>

    <button class="cell right-magnet" data-ng-click="redirectToDashboard(true)" data-ng-hide="copyIsCorrected()">
        <i18n>exercizer.copy.make.corrected</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToPreviousCopy()" data-ng-show="hasPreviousCopy()" tooltip="exercizer.previous.copy">
        <i class="left-open"></i>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)" data-ng-hide="copyIsCorrected()">
        <i18n>exercizer.back</i18n>
    </button>


    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)" data-ng-show="copyIsCorrected()">
        <i18n>exercizer.back.corrected</i18n>
    </button>
</div>
