<div class="row">
    <button class="cell right-magnet" data-ng-click="redirectToDashboard(true)" data-ng-hide="copyIsCorrected()">
        <i18n>exercizer.copy.make.corrected</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToNextCopy()" data-ng-show="hasNextCopy()">
        <i18n>exercizer.next.copy</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToPreviousCopy()" data-ng-show="hasPreviousCopy()">
        <i18n>exercizer.previous.copy</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)" data-ng-hide="copyIsCorrected()">
        <i18n>exercizer.back</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)" data-ng-show="copyIsCorrected()">
        <i18n>exercizer.back.corrected</i18n>
    </button>
</div>