<h2><i18n>exercizer.grain.responses</i18n></h2>

<div class="info row">
    <i18n>exercizer.grain.responses.info</i18n>
</div>

<div class="options">
    <ul>
        <li ng-repeat="option in grain.grain_data.custom_data.options track by $index"
            ng-click="displayState.editedTextZone.answer = option;">
            <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
                <span>[[option]]</span>
            </text-zone>
        </li>
    </ul>
    <div class="row add-option">
        <input type="text" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(grain.grain_data.custom_data)" />
        <button ng-disabled="!displayState.newOption" ng-click="addOption(grain.grain_data.custom_data)">+</button>
    </div>
</div>

<div class="row">
    <button class="right-magnet" ng-click="addElement(addZone());" ng-if="displayState.editedTextZone.id === undefined">
        <i18n>add</i18n>
    </button>
    <button class="right-magnet" ng-if="displayState.editedTextZone.id !== undefined" ng-click="displayState.editZone = false">
        <i18n>edit</i18n>
    </button>
</div>