<h2><i18n>exercizer.grain.responses</i18n></h2>

<message-info status="info"><i18n>exercizer.grain.responses.info</i18n></message-info>

<div class="options lightbox">
    <label for="fill-text-input" class="form-label mb-8 block"><i18n>exercizer.grain.zone.add</i18n></label>
    <div class="add-option flex">
        <input type="text" maxlength="40" id="fill-text-input" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(grain.grain_data.custom_data)" />
        <button ng-disabled="!displayState.newOption" ng-click="addOption(grain.grain_data.custom_data)"><svg ng-click="editZone(textZone)" class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg></button>
    </div>
    <em class="form-info mt-12 block right-text"><i18n>exercizer.grain.zonetxt.limit</i18n></em>
    <ul class="gap-12">
        <li ng-repeat="option in grain.grain_data.custom_data.options track by $index"
            ng-click="displayState.editedTextZone.answer = option;">
            <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                <svg ng-click="removeOption(grain.grain_data.custom_data, option)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                <span>[[option]]</span>
            </text-zone>
        </li>
    </ul>
</div>

<div class="row">
    <button class="right-magnet" ng-click="addElement(addZone());" ng-if="displayState.editedTextZone.id === undefined">
        <i18n>add</i18n>
    </button>
    <button class="right-magnet" ng-if="displayState.editedTextZone.id !== undefined" ng-click="displayState.editZone = false">
        <i18n>edit</i18n>
    </button>
</div>