<h2><i18n>exercizer.grain.zone</i18n></h2>
<form>
    <div class="row">
        <input type="text" maxlength="40" ng-model="displayState.editedTextZone.answer" required class="twelve cell" i18n-placeholder="exercizer.grain.filltext.editor.text.answer" />
    </div>
    <div class="row">
        <button class="right-magnet" ng-if="displayState.editedTextZone.id === undefined" ng-click="addElement(addZone());">
            <i18n>add</i18n>
        </button>
        <button class="right-magnet" ng-if="displayState.editedTextZone.id !== undefined" ng-click="displayState.editZone = false; updateGrain()">
            <i18n>edit</i18n>
        </button>
        <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
            <i18n>cancel</i18n>
        </button>
    </div>
</form>