<div class="row">
    <h1 class="cell only-wide-screen">
        <i class="exercizer"></i>
        <span class="no-responsive"><span class="hover-orange" data-ng-click="clickReturnExercizer()"><span class="hover-orange"><i18n>exercizer.title</i18n></span></span> / </span>
        <span data-ng-click="clickReturnExercizerTab()"><span class="hover-orange">[[ getTab()]]</span></span>
        <span data-ng-click="" data-ng-if="selectedSubjectScheduled"> / <span class="hover-orange" tooltip="[[selectedSubjectScheduled.title]]">[[ selectedSubjectScheduled.title | limitTo: 35  ]][[ selectedSubjectScheduled.title.length > 35 ? '...' : '']]</span></span>
    </h1>
    <div class="cell right-magnet" data-ng-if="!selectedSubjectScheduled">
        <button class="button button-primary" data-ng-click="switchToStudentView()">
            <svg class="icon-switch" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#switch"></use></svg>
            <i18n>exercizer.switch.learner</i18n>
        </button>
    </div>
</div>

<div class="flex align-items-center justify-content-end mb-16 flex-wrap-wrap">
    <div class="flex-inline gap-16 flex-wrap-wrap justify-content-end">
        <button  data-ng-if="selectedSubjectScheduled.showStats" data-ng-click="option.chooseExport=true; option.mode='simple'" class="right-magnet">
            <i18n>exercizer.export.action</i18n>
        </button>
        <button  data-ng-if="selectedSubjectScheduled" data-ng-click="clickReturnSubjectScheduledList()" class="button button-secondary">
            <svg class="icon-arrowLeft" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#arrowLeft"></use></svg>
            <i18n>exercizer.back</i18n>
        </button>
    </div>
</div>


<div class="tabs dashboard-tabs mb-24">
    <div class="tabs-inner">
        <header class="horizontal-spacing"
                data-ng-click="switchTab('mySubjects')"
                data-ng-class="{ selected: currentTab === 'mySubjects' }"
        >
            <i18n>exercizer.dashboard.instructer.tab1</i18n>
        </header>
        <header class="horizontal-spacing"
                data-ng-click="switchTab('correction')"
                data-ng-class="{ selected: currentTab === 'correction' }"
        >
            <i18n>exercizer.dashboard.instructer.tab2</i18n>
        </header>
        <header class="horizontal-spacing"
                data-ng-if="showLibraryTag()"
                data-ng-click="switchTab('library')"
                data-ng-class="{ selected: currentTab === 'library' }"
        >
            <i18n>exercizer.dashboard.instructer.tab3</i18n>
        </header>
    </div>
</div>

<lightbox show="option.chooseExport" on-close="option.chooseExport=false">
    <h2><i18n>exercizer.export.lightbox.title</i18n></h2>
    <p>
        <span><i18n>exercizer.export.lightbox.question</i18n></span>
        <ul>
            <label class="checkbox top-spacing-twice aligned">
                <input type="checkbox" ng-checked="option.mode == 'simple'" ng-click="switchMode(); $event.stopPropagation();" />
                <span></span>
                <span><i18n>exercizer.export.lightbox.choice1</i18n></span>
            </label>
            <label class="checkbox top-spacing-twice aligned">
                <input type="checkbox" ng-checked="option.mode == 'full'" ng-click="switchMode(); $event.stopPropagation();" />
                <span></span>
                <span><i18n>exercizer.export.lightbox.choice2</i18n></span>
            </label>
        </ul>
    </p>
    <div class="cell right-magnet">
        <button class="button button-secondary" data-ng-click="option.chooseExport=false"><i18n>cancel</i18n></button>
        <button data-ng-click="export(); option.chooseExport=false;"> <i18n>exercizer.export.action</i18n></button>
    </div>
</lightbox>