<lightbox data-show="isDisplayed" on-close="closeReminder()">
    <div data-ng-if="remind.step === 'choose'">
        <h2><i18n>exercizer.reminder</i18n> - [[selectedSubjectScheduled.title]]</h2>
        <h4><i18n>exercizer.reminder.choose.label</i18n></h4>
        <div class="flex-row justify-center gap-8 vertical-spacing-six">
            <button data-ng-click="remind.step = 'perso'" class="button button-secondary"><i18n>exercizer.reminder.choose.type1</i18n></button>
            <button data-ng-click="remind.step = 'auto'" class="button button-secondary"><i18n>exercizer.reminder.choose.type2</i18n></button>
        </div>
    </div>
    <div data-ng-if="remind.step === 'auto'">
        <h2>
            <span class="hover-orange" data-ng-click="remind.step = 'choose'"> < <i18n>exercizer.reminder.type2.header</i18n></span>
        </h2>
        <h4><i18n>exercizer.reminder.type2.label</i18n></h4>
        <div class="row">
            <i18n>exercizer.reminder.type2.content1</i18n> [[selectedSubjectScheduled.title]] <i18n>exercizer.reminder.type2.content2</i18n> [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.due_date | date:'HH:mm']]</em>
        </div>
    </div>
    <div data-ng-if="remind.step === 'perso'">
        <h2 class="row">
            <span class="hover-orange" data-ng-click="remind.step = 'choose'"> < <i18n>exercizer.reminder.type1.header</i18n></span>
        </h2>
        <div class="flex-row align-center horizontal-spacing vertical-spacing-four" style="cursor:default">
            <label class="one cell">
                <i18n>exercizer.reminder.type1.label1</i18n>
            </label>
            <div style="overflow-y: auto; max-height: 150px">
                <div class="label-badge-disabled two cell" data-ng-repeat="copie in reminderCopies">
                    <div class="cell-ellipsis">[[copie.owner_username]]</div>
                </div>
            </div>
        </div>
        <div class="flex-row align-center vertical-spacing-four horizontal-spacing">
            <label class="one cell">
                <i18n>exercizer.reminder.type1.label2</i18n>
            </label>
            <input type="text" data-ng-model="remind.subject" class="eleven cell" i18n-placeholder="exercizer.reminder.type1.label2">
        </div>
        <div class="row horizontal-spacing">
            <div class="twelve cell">
                <editor data-ng-model="remind.body"  track-input-event="getTracker()"></editor>
            </div>
        </div>
    </div>
    <div class="row vertical-spacing" data-ng-if="remind.step === 'perso' || remind.step === 'auto'">
        <div class="cell right-magnet">
            <button data-ng-click="sendReminder()" class="right-magnet button button-accent">
                <i18n>exercizer.reminder.send</i18n>
            </button>
        </div>
        <div class="cell right-magnet mr-8">
            <button data-ng-click="closeReminder()" class="right-magnet button button-secondary">
                <i18n>exercizer.cancel</i18n>
            </button>
        </div>
    </div>
</lightbox>