/src/main/main.iml
build
bin
.idea
/exercizer
.DS_Store
.classpath
.project
.gradle
.settings
node_modules
build.gradle
gradlew
gradlew.bat
settings.gradle
privateConfig.js
/src/main/resources/public/js/scripts.min.js
/scripts.min.js
