/src/main/main.iml
build
bin
.idea
/exercizer
.DS_Store
.classpath
.project
.gradle
.settings
node_modules
build.gradle
gradlew
gradlew.bat
settings.gradle
privateConfig.js
/scripts.min.js
src/main/resources/public/js
**/ts/entcore
**/template/entcore
**/dist
**/temp
**/view
bower_components
rev-manifest.json
gradle/
gradlew*
.vscode/launch.json
