<lightbox data-show="isDisplayed" data-on-close="hide()">
    <h1 translate content="[[isSimpleSubject ? 'exercizer.schedule.simple.title' : 'exercizer.schedule.interactive.title']]"></h1>

    <div class="row">
        <div class="three cell">
            <nav class="vertical">
                <ul>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'assignSubject'}"
                            data-ng-click="state='assignSubject'">
                            Destinataires
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'option'}"
                            data-ng-click="state='option'">
                            Options
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'schedule'}"
                            data-ng-click="state='schedule'">
                            Valider
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="nine cell">
            <div data-ng-show="state == 'assignSubject'">
                <div class="row">
                    <h4>Rechercher un utilisateur ou un groupe</h4>
                    <input type="text" class="twelve cell" ng-model="search.search" autofocus ng-change="updateFoundUsersGroups()" id="to-users" />
                    <drop-down
                            options="search.found"
                            ng-change="clickOnItem(selectedItem)"
                            on-close="clearSearch()"
                            ng-model="selectedItem"
                            for="to-users">
                    </drop-down>
                </div>
                <div class="row">
                    <div class="flex-row align-start vertical-spacing-twice">
                        <div class="cell six horizontal-spacing">
                            <h4><i18n>Groupes ajoutés</i18n></h4>
                            <label class="chip removable block" data-ng-repeat="group in data.groupList" data-ng-click="removeItem(group)">
                                <i class="close"></i>
                                <span class="right-magnet cell-ellipsis">[[group.toString()]]</span>
                            </label>
                            <div class="small-text" data-ng-if="data.groupList.length === 0">
                                <i18n>Aucun groupe ajouté.</i18n>
                            </div>
                        </div>
                        <div class="cell six horizontal-spacing">
                            <h4><i18n>Utilisateurs ajoutés</i18n></h4>
                            <label class="chip removable block" data-ng-repeat="user in data.userList" data-ng-click="removeItem(user)">
                                <i class="close"></i>
                                <span class="right-magnet cell-ellipsis">[[user.toString()]]</span>
                            </label>
                            <div class="small-text" data-ng-if="data.userList.length === 0">
                                <i18n>Aucun utilisateur ajouté.</i18n>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'option'">
                        Suivant
                    </button>
                    <button class="cancel right-magnet cell" data-ng-click="hide()">
                        Annuler
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'option'">
                <div class="row">
                    <h4>Options</h4>
                </div>
                <div data-ng-if="!isSimpleSubject && isDisplayed">
                    <div class="row">
                        <div class="six cell"><span> Date de début :&nbsp;</span></div>
                        <date-picker ng-model="option.begin_date"  class="six cell"></date-picker>
                    </div>
                    <div class="row">
                        <div class="six cell"><span> Date de fin :&nbsp;</span></div>
                        <date-picker ng-model="option.due_date" class="six cell"></date-picker>
                    </div>
                    <div class="row vertical-spacing">
                        <input type="checkbox" data-ng-model="option.allow_students_to_update_copy"/>
                        <span>Autoriser l'élève à améliorer sa copie</span>
                    </div>
                    <!--
                    <div class="row vertical-spacing">
                        <input type="checkbox" data-ng-model="option.has_automatic_display"/>
                        <span>Résultat et correction automatique visibles pour les élèves</span>
                    </div>
                    -->
                    <div class="row vertical-spacing" style="margin-top: 50px !important;">
                        <span>Temps de réalisation estimé du devoir </span>
                        <input type="text" data-ng-model="option.estimated_duration"/>
                        <span>minute(s)</span>
                    </div>
                </div>
                <div data-ng-if="isSimpleSubject && isDisplayed">
                    <div class="row">
                        <div class="six cell"><span> Date de début de la remise :&nbsp;</span></div>
                        <date-picker ng-model="option.begin_date"  class="six cell"></date-picker>
                    </div>
                    <div class="row">
                        <div class="six cell"><span> Date limite de remise :&nbsp;</span></div>
                        <date-picker ng-model="option.due_date" class="six cell"></date-picker>
                    </div>
                    <div class="row">
                        <div class="six cell"><span> Date de publication du corrigé :&nbsp;</span></div>
                        <date-picker ng-model="option.corrected_date" class="six cell"></date-picker>
                    </div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'schedule'">
                        Suivant
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'assignSubject'">
                        Précédent
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'schedule'">
                <div class="row vertical-spacing">
                    <div class="warning" translate content="[[isSimpleSubject ? 'exercizer.schedule.simple.confirm' : 'exercizer.schedule.interactive.confirm']]"></div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="scheduleSubject()" data-ng-disabled="scheduleSubjectInProgress">
                        <i18n>exercizer.schedule</i18n>
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'option'">
                        Précédent
                    </button>
                </div>
            </div>
        </div>
    </div>
</lightbox>
