<lightbox data-show="lightbox.isDisplayed" data-on-close="hide()">
    <h1 translate content="[[isSimpleSubject ? 'exercizer.schedule.simple.title' : 'exercizer.schedule.interactive.title']]"></h1>

    <div class="row">
        <div class="three cell">
            <nav class="vertical">
                <ul>
                    <li>
                        <a  data-ng-class="{'selected' : lightbox.state == 'type'}"
                            data-ng-click="lightbox.state='type'">
                            <i18n>exercizer.scheduled.subject.type</i18n>
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : lightbox.state == 'assignSubject'}"
                            data-ng-click="lightbox.state='assignSubject'">
                            <i18n>exercizer.scheduled.subject.to</i18n>
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : lightbox.state == 'option'}"
                            data-ng-click="lightbox.state='option'">
                            <i18n>exercizer.scheduled.subject.option</i18n>
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : lightbox.state == 'schedule'}"
                            data-ng-click="lightbox.state='schedule'">
                            <i18n>exercizer.validate</i18n>
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="nine cell">
            <div data-ng-show="lightbox.state == 'type'">
                <div class="row">
                    <h4><i18n>exercizer.scheduled.subject.type.title</i18n></h4>
                </div>
                <div class="row vertical-spacing">
                    <label>
                        <input type="checkbox" data-ng-checked="option.mode == 'classic'" data-ng-click="switchMode(); $event.stopPropagation();"/>
                        <span style="height: unset;">&nbsp;<i18n>exercizer.scheduled.subject.type.choice.classic</i18n></span>
                    </label>
                    <span class="tipbox up left-margin-5">
                        <i class="help square-medium"></i>
                        <div class="tipbox-content">
                            <span class="small-text">
                                <i18n>exercizer.scheduled.subject.type.classic.tooltip</i18n>
                            </span>
                        </div>
                    </span>
                </div>
                <div class="row vertical-spacing">
                    <label>
                        <input type="checkbox" data-ng-checked="option.mode == 'training'" data-ng-click="switchMode(); $event.stopPropagation();"/>
                        <span style="height: unset;">&nbsp;<i18n>exercizer.scheduled.subject.type.choice.training</i18n></span>
                    </label>
                    <span class="tipbox up left-margin-5">
                        <i class="help square-medium"></i>
                        <div class="tipbox-content">
                            <span class="small-text">
                                <i18n>exercizer.scheduled.subject.type.training.tooltip</i18n>
                            </span>
                        </div>
                    </span>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="lightbox.state = 'assignSubject'">
                        <i18n>exercizer.next</i18n>
                    </button>
                    <button class="cancel right-magnet cell" data-ng-click="hide()">
                        <i18n>exercizer.cancel</i18n>
                    </button>
                </div>
            </div>
            <div data-ng-show="lightbox.state == 'assignSubject'">
                <div class="row">
                    <h4><i18n>exercizer.scheduled.subject.search</i18n></h4>
                    <input type="text" class="twelve cell" ng-model="search.search" autofocus ng-change="updateFoundUsersGroups()" i18n-placeholder="exercizer.search" id="to-users" />
                    <drop-down
                            options="search.found"
                            ng-change="clickOnItem(selectedItem)"
                            on-close="clearSearch()"
                            ng-model="selectedItem"
                            for="to-users">
                    </drop-down>
                </div>
                <div class="row">
                    <groups-users-selector
                        groups-list="data.groupList"
                        users-list="data.userList"
                        selector="selector">
                    </groups-users-selector>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="lightbox.state = 'option'">
                        <i18n>exercizer.next</i18n>
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="lightbox.state = 'type'">
                        <i18n>exercizer.previous</i18n>
                    </button>
                </div>
            </div>

            <div data-ng-show="lightbox.state == 'option'">
                <div class="row">
                    <h4><i18n>exercizer.scheduled.subject.option</i18n></h4>
                </div>
                <div data-ng-if="!isSimpleSubject && lightbox.isDisplayed">
                    <div class="row" data-ng-show="option.mode == 'classic'">
                        <div class="six cell"><span> <i18n>exercizer.scheduled.subject.start</i18n> :&nbsp;</span></div>
                        <date-picker ng-model="option.begin_date" min-date="now"  class="three cell" date-picker-delegate="datePickerDelegate"></date-picker>
                        <div class="one cell">&nbsp;</div>
                        <input class="two cell"  type="text" data-ng-model="option.begin_time" data-ng-blur="option.begin_time = checkTime(option.begin_time)"/>
                    </div>
                    <div class="row" data-ng-show="option.mode == 'classic'">
                        <div class="six cell"><span> <i18n>exercizer.scheduled.subject.end</i18n> :&nbsp;</span></div>
                        <date-picker ng-model="option.due_date" min-date="option.begin_date" class="three cell" date-picker-delegate="datePickerDelegate"></date-picker>
                        <div class="one cell">&nbsp;</div>
                        <input class="two cell" type="text" data-ng-model="option.due_time" data-ng-blur="option.due_time = checkTime(option.due_time, true)"/>
                    </div>
                    <div class="row vertical-spacing" data-ng-show="option.mode == 'classic'">
                        <label>
                            <input type="checkbox" data-ng-model="option.allow_students_to_update_copy"/>
                            <span style="height: unset;">&nbsp;<i18n>exercizer.scheduled.subject.improve</i18n></span>
                        </label>
                    </div>
                    <div class="row vertical-spacing">
                        <label>
                            <input type="checkbox" data-ng-model="option.random_display"/>
                            <span style="height: unset;">&nbsp;<i18n>exercizer.scheduled.subject.random.display</i18n></span>
                        </label>
                    </div>
                    <div class="row vertical-spacing" data-ng-show="option.mode == 'classic'">
                        <label>
                            <input type="checkbox" data-ng-model="option.forbid_training"/>
                            <span style="height: unset;">&nbsp;<i18n>exercizer.scheduled.subject.forbid.training</i18n></span>
                        </label>
                        <span class="tipbox up left-margin-5">
                            <i class="help square-medium"></i>
                            <div class="tipbox-content">
                                <span class="small-text">
                                    <i18n>exercizer.scheduled.subject.forbid.training.tooltip</i18n>
                                </span>
                            </div>
                        </span>
                    </div>
                    <!--
                    <div class="row vertical-spacing">
                        <input type="checkbox" data-ng-model="option.has_automatic_display"/>
                        <span>Résultat et correction automatique visibles pour les élèves</span>
                    </div>
                    -->
                    <div class="row vertical-spacing" style="margin-top: 50px !important;">
                        <span><i18n>exercizer.scheduled.subject.delay</i18n></span>
                        <input type="text" data-ng-model="option.estimated_duration" size="5"/>
                        <span><i18n>exercizer.minute</i18n></span>
                    </div>
                    <div class="row warning" ng-if="!isValidSubject()">
                        <i18n>exercizer.scheduled.date.error</i18n>
                    </div>
                </div>
                <div data-ng-if="isSimpleSubject && lightbox.isDisplayed">
                    <div class="row">
                        <div class="six cell"><span><i18n>exercizer.scheduled.subject.start</i18n> :&nbsp;</span></div>
                        <date-picker ng-model="option.begin_date"  min-date="now" class="three cell" date-picker-delegate="datePickerDelegate"></date-picker>
                        <div class="one cell">&nbsp;</div>
                        <input class="two cell" type="text" data-ng-model="option.begin_time" data-ng-blur="option.begin_time = checkTime(option.begin_time)"/>
                    </div>
                    <div class="row">
                        <div class="six cell"><span><i18n>exercizer.scheduled.subject.end</i18n> :&nbsp;</span></div>
                        <date-picker ng-model="option.due_date" min-date="option.begin_date" class="three cell" date-picker-delegate="datePickerDelegate"></date-picker>
                        <div class="one cell">&nbsp;</div>
                        <input class="two cell" type="text" data-ng-model="option.due_time" data-ng-blur="option.due_time = checkTime(option.due_time, true)"/>
                    </div>
                    <div class="row">
                        <div class="six cell"><span><i18n>exercizer.scheduled.simple.subject.corrected</i18n> :&nbsp;</span></div>
                        <date-picker ng-model="option.corrected_date" min-date="option.due_date" class="three cell" date-picker-delegate="datePickerDelegate"></date-picker>
                        <div class="one cell">&nbsp;</div>
                        <input class="two cell" type="text" data-ng-model="option.corrected_time" data-ng-blur="option.corrected_time = checkTime(option.corrected_time)"/>
                    </div>
                    <div class="row warning" ng-if="!isValidSubject()">
                        <i18n>exercizer.scheduled.simple.date.error</i18n>
                    </div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="lightbox.state = 'schedule'" ng-disabled="!isValidSubject()">
                        <i18n>exercizer.next</i18n>
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="lightbox.state = 'assignSubject'">
                        <i18n>exercizer.previous</i18n>
                    </button>
                </div>
            </div>

            <div data-ng-show="lightbox.state == 'schedule'">
                <div class="row vertical-spacing">
                    <div class="warning">[[confirmation()]]</div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="scheduleSubject()" data-ng-disabled="scheduleSubjectInProgress">
                        <i18n>exercizer.schedule</i18n>
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="lightbox.state = 'option'">
                        <i18n>exercizer.previous</i18n>
                    </button>
                </div>
            </div>
        </div>
    </div>
</lightbox>
