<div class="row vertical-spacing">
    <span class="row"><i18n>exercizer.grain.mode</i18n> :&nbsp;</span>
    <input type="checkbox" data-ng-model="grain.grain_data.custom_data.no_error_allowed" data-ng-change="updateGrain()" />
    <span><i18n>exercizer.grain.mode.option</i18n></span>
</div>

<div class="row vertical-spacing">
    <div data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index" class="flex align-items-center justify-space-between m-16 gap-16" style="max-width: 460px">
        <input type="text" class="form-control eleven cell" data-ng-model="answer.text" ng-change="updateGrain()" value="[[ answer.text ]]" i18n-placeholder="exercizer.grain.answer.info" />
        <div class="cell right-magnet" data-ng-click="deleteAnswer(answer)"><i class="close"></i></div>
    </div>

    <div class="row vertical-spacing">
        <button data-ng-click="addAnswer()" class="twelve cell flat-button">
            <i18n>exercizer.grain.add.answer</i18n>
        </button>
    </div>
</div>

