<article id="[[ grainCopy.id ]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div data-ng-repeat="(key, filled_answer) in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list" class="row vertical-spacing">
        <input type="text" class="twelve cell"
               data-ng-class="{'input-response-correct' : isCorrect[key], 'input-response-incorrect' : !isCorrect[key]}"
               data-ng-model="filled_answer.text"
               i18n-placeholder="exercizer.grain.noanswer" disabled />
    </div>
    <grain-copy-footer data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>
</article>