<div class="row">
    <div class="row">
        <div class="row mb-8"><strong><i18n>exercizer.grain.types</i18n></strong></div>
        <div class="row">
            <select ng-model="answersType"
                ng-change="switchTo(answersType)">
                <option value="text">[['exercizer.grain.option1'|i18n]]</option>
                <option value="list">[['exercizer.grain.option2'|i18n]]</option>
                <option value="drag">[['exercizer.grain.option3'|i18n]]</option>
            </select>
        </div>
        <message-info status="info" ng-if="answersType ==='text'">
            <i18n>exercizer.grain.accent.warning</i18n>
        </message-info>
    </div>
    <section class="zone-text mb-16">
        <div class="row">
            <div class="drawing-zone base-image">
                <div class="image-container">
                    <image-select ng-model="grain.grain_data.custom_data.guideImage" ng-change="updateGrain();" id="[[ grain.id ]]-bckgrnd"></image-select>
                </div>
                <placed-block ng-repeat="textZone in grain.grain_data.custom_data.zones" style="padding:0;" draggable
                                x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                                transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
                                
                >
                    <text-zone>
                        <svg ng-click="removeZone(textZone)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                        <svg ng-click="editZone(textZone)" class="icon-edit" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#edit"></use></svg>
                        <span class="text-zone-size">[[textZone.answer]]</span>
                    </text-zone>
    
                </placed-block>
            </div>
        </div>
    
        <div class="select-zone flex gap-8">
            <button class="btns btns-secondary flex-inline gap-8" ng-click="editZone()"><svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg><i18n>exercizer.grain.add.answer</i18n></button>
            <button class="cancel flat-button flex-inline gap-8" ng-click="displayState.changeBackground = true"><svg class="icon-edit" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#edit"></use></svg><i18n>exercizer.grain.background</i18n></button>
            <div class="options right" ng-if="answersType === 'drag'">
                <ul>
                    <li 
                        ng-repeat="option in grain.grain_data.custom_data.options">
                        <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                            <svg ng-click="removeOption(grain.grain_data.custom_data, option)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                            <span class="text-zone-size">[[option]]</span>
                        </text-zone>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <lightbox show="displayState.changeBackground" on-close="displayState.changeBackground = false">
        <div ng-if="displayState.changeBackground">
            <media-library ng-model="grain.grain_data.custom_data.guideImageFile" ng-change="displayState.changeBackground = false; updateGrain();" file-format="'img'"></media-library>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && answersType === 'list'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <message-info status="info"><i18n>exercizer.grain.responses.info</i18n></message-info>

        <div class="options lightbox">
            <label for="fill-text-input" class="form-label mb-8 block"><i18n>exercizer.grain.zone.add</i18n></label>
            <div class="add-option flex">
                <input type="text" maxlength="40" id="fill-text-input" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(displayState.editedTextZone)" />
                <button ng-disabled="!displayState.newOption" ng-click="addOptionIfNotEmpty(displayState.editedTextZone)"><svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg></button>
            </div>
            <em class="form-info mt-12 block right-text"><i18n>exercizer.grain.zonetxt.limit</i18n></em>
            <ul class="gap-12">
                <li ng-repeat="option in displayState.editedTextZone.options"
                ng-click="displayState.editedTextZone.answer = option;">
                    <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                        <svg ng-click="removeOption(displayState.editedTextZone, option)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                        <span>[[option]]</span>
                    </text-zone>
                    
                </li>
            </ul>
        </div>
        
        <div class="row">
            <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                <i18n>add</i18n>
            </button>
            <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                <i18n>edit</i18n>
            </button>
            <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                <i18n>cancel</i18n>
            </button>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && answersType === 'drag'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <message-info status="info"><i18n>exercizer.grain.responses.info</i18n></message-info>

        <div class="options lightbox">
            <label for="fill-text-input" class="form-label mb-8 block"><i18n>exercizer.grain.zone.add</i18n></label>
            <div class="add-option flex">
                <input type="text" maxlength="40" id="fill-text-input" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(grain.grain_data.custom_data)" />
                <button ng-disabled="!displayState.newOption" ng-click="addOption(grain.grain_data.custom_data)"><svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg></button>
            </div>
            <ul class="gap-12">
                <li ng-repeat="option in grain.grain_data.custom_data.options"
                    ng-click="displayState.editedTextZone.answer = option;">
                    <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                        <svg ng-click="removeOption(grain.grain_data.custom_data, option)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                        <span>[[option]]</span>
                    </text-zone>
                </li>
            </ul>
        </div>
        
        <div class="row">
            <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                <i18n>add</i18n>
            </button>
            <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                <i18n>edit</i18n>
            </button>
            <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                <i18n>cancel</i18n>
            </button>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && answersType === 'text'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.zone</i18n></h2>
        <form>
            <div class="row">
                <input type="text" maxlength="40" ng-model="displayState.editedTextZone.answer" required class="twelve cell" i18n-placeholder="Réponse" />
            </div>
            <div class="row">
                <em class="form-info m-12 block right-text"><i18n>exercizer.grain.zonetxt.limit</i18n></em>
            </div>
            <div class="row">
                <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                    <i18n>add</i18n>
                </button>
                <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                    <i18n>edit</i18n>
                </button>
                <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                    <i18n>cancel</i18n>
                </button>
            </div>
        </form>
    </lightbox>
    <lightbox show="boxOnChange.isVisible" on-close="boxOnChange.dismiss()">
        <span class="fs-5 flex gap-8">
            <svg class="icon-alert fill-warning" width="24" height="24"><use href='exercizer/public/assets/icons/icons.svg#alert'></use></svg>
            <strong><i18n>exercizer.grain.filltext.onchange.title</i18n></strong>
        </span>
        <div class="row">
            <p><i18n>exercizer.grain.filltext.onchange.text</i18n></p>
        </div>
        <div class="row">
            <button class="right-magnet" ng-click="boxOnChange.confirm()">
                <i18n>confirm</i18n>
            </button>
            <button class="cancel right-magnet" ng-click="boxOnChange.cancel()" type="button">
                <i18n>cancel</i18n>
            </button>
        </div>
    </lightbox>
</div>
