<div class="row vertical-spacing">
    <div class="row">
        <h3><i18n>exercizer.grain.types</i18n></h3>
        <div class="row">
            <form>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('text')" value="text" />
                <i18n>exercizer.grain.option1</i18n>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('list')" value="list" />
                <i18n>exercizer.grain.option2</i18n>
                <input type="radio" name="answerType"
                       ng-model="grain.grain_data.custom_data.answersType"
                       ng-change="switchTo('drag')" value="drag" />
                <i18n>exercizer.grain.option3</i18n>
            </form>
            
        </div>
    </div>
    <div class="row">
        <div class="drawing-zone base-image">
            <div class="image-container">
                <image-select ng-model="grain.grain_data.custom_data.guideImage" ng-change="updateGrain();" id="[[ grain.id ]]-bckgrnd"></image-select>
            </div>
            <placed-block ng-repeat="textZone in grain.grain_data.custom_data.zones" style="padding:0;" draggable
                            x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                            transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
            >
                <text-zone>
                    <i class="close" ng-click="removeZone(textZone)"></i>
                    <i class="edit" ng-click="editZone(textZone)"></i>
                    <span>[[textZone.answer]]</span>
                </text-zone>

            </placed-block>
        </div>
    </div>
    <lightbox show="displayState.changeBackground" on-close="displayState.changeBackground = false">
        <div ng-if="displayState.changeBackground">
            <media-library ng-model="grain.grain_data.custom_data.guideImageFile" ng-change="displayState.changeBackground = false; updateGrain();" file-format="'img'"></media-library>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && grain.grain_data.custom_data.answersType === 'list'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <div class="info row">
           <i18n>exercizer.grain.responses.info</i18n>
        </div>

        <div class="options">
            <ul>
                <li ng-repeat="option in displayState.editedTextZone.options"
                ng-click="displayState.editedTextZone.answer = option;">
                    <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                        <i class="close" ng-click="removeOption(displayState.editedTextZone, option)"></i>
                        <span>[[option]]</span>
                    </text-zone>
                    
                </li>
            </ul>
            <div class="row add-option">
                <input type="text" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(grain.grain_data.custom_data)" />
                <button ng-disabled="!displayState.newOption" ng-click="addOption(displayState.editedTextZone)">+</button>
            </div>
        </div>
        
        <div class="row">
            <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                <i18n>add</i18n>
            </button>
            <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                <i18n>edit</i18n>
            </button>
            <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                <i18n>cancel</i18n>
            </button>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && grain.grain_data.custom_data.answersType === 'drag'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <div class="info row">
            <i18n>exercizer.grain.responses.info</i18n>
        </div>

        <div class="options">
            <ul>
                <li ng-repeat="option in grain.grain_data.custom_data.options"
                    ng-click="displayState.editedTextZone.answer = option;">
                    <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                        <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
                        <span>[[option]]</span>
                    </text-zone>
                </li>
            </ul>
            <div class="row add-option">
                <input type="text" ng-model="displayState.newOption" on-enter="addOptionIfNotEmpty(grain.grain_data.custom_data)" />
                <button ng-disabled="!displayState.newOption" ng-click="addOption(grain.grain_data.custom_data)">+</button>
            </div>
        </div>
        
        <div class="row">
            <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                <i18n>add</i18n>
            </button>
            <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                <i18n>edit</i18n>
            </button>
            <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                <i18n>cancel</i18n>
            </button>
        </div>
    </lightbox>
    <lightbox show="displayState.editZone && grain.grain_data.custom_data.answersType === 'text'" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.zone</i18n></h2>
        <form>
            <div class="row">
                <input type="text" ng-model="displayState.editedTextZone.answer" required class="twelve cell" i18n-placeholder="Réponse" />
            </div>
            <div class="row">
                <button class="right-magnet" ng-if="!displayState.editedTextZone.position" ng-click="addZone()">
                    <i18n>add</i18n>
                </button>
                <button class="right-magnet" ng-if="displayState.editedTextZone.position" ng-click="displayState.editZone = false">
                    <i18n>edit</i18n>
                </button>
                <button class="cancel right-magnet" ng-click="displayState.editZone = false" type="button">
                    <i18n>cancel</i18n>
                </button>
            </div>
        </form>
    </lightbox>
    <div class="row">
        <label><strong><i18n>exercizer.grain.zoneimg.advisable</i18n></strong></label>
    </div>
    <div class="row vertical-spacing">
        <button class="cancel" ng-click="displayState.changeBackground = true"><i18n>exercizer.grain.background</i18n></button>
        <button ng-click="editZone()"><i18n>exercizer.grain.zone.add</i18n></button>
    </div>
    <div class="options" ng-if="grain.grain_data.custom_data.answersType === 'drag'">
        <ul>
            <li 
                ng-repeat="option in grain.grain_data.custom_data.options">
                <text-zone ng-class="{ selected: option === displayState.editedTextZone.answer }">
                    <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
                    <span>[[option]]</span>
                </text-zone>
            </li>
        </ul>
    </div>
</div>
