<article class="grain-perform">
    <div class="grain-divider">
        <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
        <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
        <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    </div>

    <message-info status="info" class="zero-desktop" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'">
        <i18n>exercizer.grain.zonetxt.responsive.perform</i18n>
    </message-info>
    
    <div class="grid grid-zone-image gap-16 mt-16">
        <div class="base-image drawing-zone">
            <div class="image-container">
                <div>
                    <img id="[[ grainCopy.id ]]-bckgrnd" ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
                </div>
            </div>
            <placed-block ng-if="bckgrndLoaded"
                class="perform-text-zone" ng-repeat="textZone in grainCopy.grain_copy_data.custom_copy_data.zones" style="padding:0;"
                x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
                ng-click="openTextZone($event)"
            >
                <text-zone>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'text'">
                        <input type="text" ng-model="textZone.answer" complete-change="updateGrainCopy();" ng-class="{ filled: textZone.answer !== '' }"/>
                    </div>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'list'">
                        <select ng-options="o as o for o in textZone.options" ng-model="textZone.answer" ng-change="apply()" ng-class="{ filled: textZone.answer !== '' }"></select>
                    </div>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'" class="no-responsive">
                        <div class="no-responsive drop-zone" drop-item="answer(textZone, $item);" drag-item="textZone" ng-class="{ filled: textZone.answer !== '' }">
                            <span class="text-zone-size">[[textZone.answer]]</span>
                        </div>
                    </div>
                    <div
                        ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'"
                        class="no-desktop"
                        ng-class="{ filled: textZone.answer !== '' }"
                        drag-item="textZone"
                        drop-item="answer(textZone, $item)"
                        ng-click="showAnswers($event, textZone)">
                        <span class="text-zone-size">[[textZone.answer]]</span>
                    </div>
                </text-zone>
            </placed-block>
        </div>

        <div class="no-desktop tap-tap" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag' && showAnswersMobile">
            <strong class="fs-4" ng-if="!isFilled">[['exercizer.taptap.select.perform'|i18n]]</strong>
            <strong class="fs-4" ng-if="isFilled">[['exercizer.taptap.change.perform'|i18n]]</strong>
            <div class="tap-tap__inner mt-8">
                <div class="tap-tap__item" ng-repeat="option in dragOptions | filter:availableOption track by $index " data-ng-click="selectAnswer(option)">
                    [[option.option]]
                </div>
            </div>
        </div>

        <div class="options right no-responsive" drop-item="removeAnswer($item);" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'">
            <ul>
                <li 
                    drag-item="option"
                    ng-repeat="option in grainCopy.grain_copy_data.custom_copy_data.options | filter:availableOption track by $index">
                    <text-zone class="option-text-zone"><span class="text-zone-size">[[option]]</span></text-zone>
                </li>
            </ul>
        </div>
    </div>

</article>