<article class="grain-perform">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div class="base-image drawing-zone">
            <div class="image-container">
                <div>
                    <img id="bckgrnd" ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
                </div>
            </div>
            <placed-block ng-repeat="textZone in grainCopy.grain_copy_data.custom_copy_data.zones" style="padding:0;"
                x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
            >
                <text-zone>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'text'">
                        <input class="text-zone-size" type="text" ng-model="textZone.answer" complete-change="updateGrainCopy();" />
                    </div>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'list'">
                        <select class="text-zone-size" ng-options="o as o for o in textZone.options" ng-model="textZone.answer" ng-change="apply()"></select>
                    </div>
                    <div ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'">
                        <div class="drop-zone" drop-item="answer(textZone, $item);" drag-item="textZone">
                            <span class="text-zone-size">[[textZone.answer]]</span>
                        </div>
                    </div>
                </text-zone>
            </placed-block>
        </div>

        <div class="options" drop-item="removeAnswer($item);" ng-if="grainCopy.grain_copy_data.custom_copy_data.answersType === 'drag'">
            <ul>
                <li 
                    drag-item="option"
                    ng-repeat="option in grainCopy.grain_copy_data.custom_copy_data.options | filter:availableOption">
                    <text-zone><span>[[option]]</span></text-zone>
                </li>
            </ul>
        </div>
    </div>

</article>