<article id="[[grainCopy.id]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div class="drawing-zone base-image">
            <div class="image-container">
                <img ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
            </div>
            <placed-block ng-repeat="textZone in grainCopy.grain_copy_data.custom_copy_data.zones" style="padding:0;"
                            x="textZone.position.x" y="textZone.position.y" z="textZone.position.z">
                <text-zone ng-class="{ success: correction[$index], error: !correction[$index] }">
                    <span>[[textZone.answer]]</span>
                </text-zone>

            </placed-block>
        </div>
    </div>

    <grain-copy-footer data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>
</article>