<article id="[[grainCopy.id]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-is-teacher="isTeacher"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div class="drawing-zone base-image">
            <div class="image-container">
                <img id="bckgrnd" ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
            </div>
            <placed-block ng-repeat="textZone in grainCopy.grain_copy_data.custom_copy_data.zones" style="padding:0;"
                            x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                            transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
                            ng-click="openTextZone($event)"
            >
                <text-zone ng-class="{ success: correction[$index], error: !correction[$index] }">
                    <span class="text-zone-size">[[textZone.answer]]</span>
                </text-zone>

            </placed-block>
        </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <button class="cell right-magnet cancel"
            style="margin: 0;"
            data-ng-click="doDisplayCorrection()"
            data-ng-if="displayCorrectAnswerButton()">
            <i18n data-ng-if="!displayCorrection">exercizer.grain.display.correction</i18n>
            <i18n data-ng-if="displayCorrection">exercizer.grain.undisplay.correction</i18n>
        </button>
    </div>
    <grain-copy-footer data-ng-if="!displayCorrection"
                       data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>
    <article class="grain-correction" data-ng-if="displayCorrection">
        <i class="right-magnet close" data-ng-click="doDisplayCorrection()"></i>
        <h2><i18n>exercizer.grain.correction</i18n></h2>
        <div class="row">
            <div class="drawing-zone base-image">
                <div class="image-container">
                    <img id="bckgrnd" ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
                </div>
                <placed-block ng-repeat="textZone in grainScheduled.grain_data.custom_data.zones" style="padding:0;"
                                x="textZone.position.x" y="textZone.position.y" z="textZone.position.z"
                                transform-x="getResizedTextZoneX" transform-y="getResizedTextZoneY"
                                ng-click="openTextZone($event)"
                >
                    <text-zone class="success">
                        <span class="text-zone-size">[[textZone.answer]]</span>
                    </text-zone>

                </placed-block>
            </div>
        </div>
    </article>

</article>