<article>
    <div class="row mb-4" data-ng-click="toggle()">
        <header class="cell hover-orange"><i18n>exercizer.subject.search</i18n></header>
        <!-- grain toggle icon -->
        <div class="cell right-magnet">
            <i data-ng-show="spreaded" data-tooltip="exercizer.fold" class="up-open hover-orange"></i>
            <i data-ng-hide="spreaded" data-tooltip="exercizer.unfold" class="down-open hover-orange"></i>
        </div>
    </div>
    <div class="form-info fs-3 pr-12">
        <em><i18n>exercizer.subject.search.info</i18n></em>
    </div>

    <div data-ng-show="spreaded" style="margin-top: 20px">
        <div class="row">
            <div class="twelve cell search-control" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        placeholder="exercizer.subject.search.placeholder"
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <div class="row" style="overflow-x:visible;">
            <div data-ng-if="subject" style="overflow-y:scroll; max-height: 150px; border:1px dotted lightgrey;">
                <table class="list-view">
                    <thead>
                    <tr>
                        <th class="cell twelve">[[ subject.title ]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- grain list-->
                    <!--dragstart="drag(grain, $originalEvent)"-->
                    <tr data-ng-repeat="grain in grainList | orderBy:'order_by'" class="subject-dragged-grain" drag-item="grain">
                        <td class="cell one">
                            <div data-ng-switch="grain.grain_type_id" class="flex">
                                <div data-ng-switch-when="1" class="flex">
                                    <i class="info-pic"></i>
                                </div>
                                <div data-ng-switch-when="2" class="flex">
                                    <svg class="icon-help" width="18" height="18"><use href="exercizer/public/assets/icons/icons.svg#help"></use></svg>
                                </div>
                                <div data-ng-switch-when="3" class="flex">
                                    <svg class="icon-text" width="18" height="18"><use href="exercizer/public/assets/icons/icons.svg#text"></use></svg>
                                </div>
                                <div data-ng-switch-default  class="flex">
                                    <div data-ng-include="getGrainIllustrationURL(grain.grain_type_id)" class="flex"></div>
                                </div>
                            </div>
                        </td>
                        <td class="cell ten">
                            [[ getGrainName(grain) ]]
                        </td>
                        <td class="cell one">
                            <i class="drag-anchor"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>
