<div
    class="item"
    data-ng-if="filterParentFolder()"
>
    <section class="domino">
        <div
                class="top"
                data-ng-class="{'padding-top-10-percent': isFolder()}"
                dragstart="drag(getItem(), $originalEvent)"
                dragcondition="dragCondition(getItem())"
                dragdrop="dropTo(getItem(), $originalEvent)"
                dropcondition="dropCondition(getItem())"
        >
            <a class="container" data-ng-if="isFolder()">
                <i class="folder-large"></i>
            </a>
            <img data-ng-if="isSubject()"
                    class="absolute"
                 data-ng-src="[[getSubjectPicture()]]" />
        </div>
        <div class="bottom">
            <div class="content">
                <div class="cell">
                    <strong data-ng-click="clickOnTitle()">[[getTitle()]]</strong>
                    <br />
                    <span data-ng-if="isSubject()">[[getSubjectModificationDate()]]</span>
                    <br />
                </div>
                <div ng-show="canManage()" class="bottom-locked eleven vertical-spacing-twice">
                    <input type="checkbox" data-ng-model="item.selected" class="right-magnet cell" />
                </div>
            </div>
        </div>
    </section>
</div>