<td data-ng-if="filterParentFolder()">
    <input type="checkbox" data-ng-model="item.selected"/>
</td>
<td     dragstart="drag(getItem(), $originalEvent)"
        dragcondition="dragCondition(getItem())"
        dragdrop="dropTo(getItem(), $originalEvent)"
        dropcondition="dropCondition(getItem())"
        data-ng-if="filterParentFolder()">
    <i data-ng-show="isFolder()" class="folder"></i>
    <i data-ng-show="isSubject()" class="pdf"></i>
</td>
<td data-ng-if="filterParentFolder()">
    <a data-ng-click="clickOnTitle()">[[getTitle()]]</a>
</td>




