<article class="statement-or-question" ng-if="state =='statementOrQuestion'">
    <div class="eight cell vertical-spacing">
        <button class="flat-button"  data-ng-click="clickStatement()">
            Énoncé&nbsp;&nbsp;<i class="doc-text"></i>
        </button>

        <button class="flat-button"  data-ng-click="clickQuestion()">
            Question&nbsp;&nbsp;<i class="help"></i>
        </button>
    </div>
</article>

<article class="choice-question-type" data-ng-if="state =='choiceExerciseType'">
    <div class="row">
        <div class="one cell"><exercizer-help></exercizer-help></div>
        <div class="eleven cell">Choisisser un question ...</div>
    </div>
    <div class="row">
        <div class="one cell">
            <img src="/exercizer/public/assets/img/arrowLeft.PNG">
        </div>
        <div class="one cell" ng-repeat="type in exerciseTypeList()">
            <div data-ng-click="clickExerciseType(type)">{{type.publicName}}</div>
            <div data-ng-include = "getIllustrationUrl(type.illustration)"></div>
        </div>
    </div>
</article>
