<article class="statement-or-question">
    <div class="row">
        <div class="one cell">&nbsp;</div>
        <div class="ten cell text">Ajouter ...</div>
        <div class="one cell">&nbsp;</div>
    </div>

    <div class="row image">
        <div class="one cell">&nbsp;</div>
        <div class="five cell" data-ng-click="clickStatement()">
            <img src="/exercizer/public/assets/img/statement.PNG">
        </div>
        <div class="five cell" data-ng-click="clickQuestion()">
            <img src="/exercizer/public/assets/img/question.PNG">
        </div>

        <div class="one cell">&nbsp;</div>
    </div>
</article>