<nav class="vertical">
    <ul>
        <li>
            <a class="selected">
                Mes sujets
            </a>
            <ul>
                <li>
                    <a class="selected">
                        Sujet 1
                    </a>
                    <ul>
                        <li>
                            <a>Énoncé 1</a>
                        </li>
                        <li>
                            <a>Question 1</a>
                        </li>
                        <li>
                            <a>Question 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        Sujet 2
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a>
                Mes sujets partagés
            </a>
        </li>
    </ul>
    <a class="classic-link" data-ng-if="showCreateFolder">
        Créer un nouveau dossier
    </a>
</nav>

