<div>
    <h2>Organiser</h2>


    <div class="row">
        <div class="six cell" data-ng-click="clickOnAllToggle()">
            <img src="/exercizer/public/assets/img/allToggle.PNG">
        </div>
        <div class="six cell" data-ng-click="clickOnShowPreview()">
            <img src="/exercizer/public/assets/img/preview.PNG">
        </div>
    </div>
    <div class="row">
        <div>
            <ul sortable-list class="thought-out-actions">
                <li  ng-repeat="grain in grainList | orderObjectBy:'order':false" sortable-element ng-model="grain.order" ng-change="reOrder(grain)">
                    [[getGrainLabel(grain)]]</li>
            </ul>
        </div>
    </div>
</div>

