 <nav class="vertical half-stamps mobile-navigation side-nav" data-side-nav="" style="height: auto;">
        <input type="text" placeholder="Rechercher" />
        <ul>
            <li>
                <a class="selected">
                    Mes sujets
                </a>
                <ul>
                    <li>
                        <a>
                            Sujet 1
                        </a>
                    </li>
                    <li>
                        <a>
                            Sujet 2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    Mes sujets partagés
                </a>
            </li>
        </ul>
 </nav>