<nav class="vertical">
    <ul>
        <li>
            <a class="selected" data-ng-click="toggleDisplayMySubjectList()">
                Mes sujets
            </a>
            <ul data-ng-show="display.mySubjectList">
                <li data-ng-repeat="subject in subjectList">
                    <a data-ng-class="{selected: display.subjectById[subject.id]}" data-ng-click="toggleDisplaySubjectById(subject.id)">
                        [[subject.title]]
                    </a>
                    <ul data-ng-show="display.subjectById[subject.id]">
                        <li data-ng-repeat="item in itemListBySubjectId(subject.id)  | orderObjectBy:'order':false">
                            <a >
                                [[getItemLabel(item)]]
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>
                Mes sujets partagés
            </a>
        </li>
    </ul>
    <a class="classic-link" data-ng-if="showCreateFolder">
        Créer un nouveau dossier
    </a>
</nav>

