<div class="row vertical-spacing">
    <span class="row"><i18n>exercizer.grain.mode</i18n> :&nbsp;</span>
    <input type="checkbox" data-ng-model="grain.grain_data.custom_data.no_error_allowed" data-ng-change="updateGrain()" />
    <span><i18n>exercizer.grain.mode.option</i18n></span>
</div>

<div class="row">
    <table class="twelve">
        <thead>
        <tr>
            <th style="width:20%;">
                <i18n>exercizer.grain.qcm.responses.header1</i18n>
            </th>
            <th style="width:70%;">
                <i18n>exercizer.grain.qcm.responses.header2</i18n>
            </th>
            <th style="text-align: right">
                <i18n>exercizer.grain.qcm.responses.header3</i18n>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index">
            <td>
                <label>
                    <input type="checkbox" data-ng-model="answer.isChecked" data-ng-change="updateGrain()" data-ng-disabled="!answer.text"/>
                    <span></span>
                </label>
            </td>
            <td>
                <input class="form-control p-0" type="text" style="width: 100%;" data-ng-model="answer.text" data-ng-change="updateGrain()" value="[[ answer.text ]]" i18n-placeholder="exercizer.grain.qcm.answer.info" />
            </td>
            <td style="text-align: right">
                <i class="close" data-ng-click="deleteAnswer(answer)"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <button data-ng-click="addAnswer()" class="twelve cell flat-button">
        <i18n>exercizer.grain.qcm.add</i18n>
    </button>
</div>
