<div class="row mt-16">
    <span class="row"><i18n>exercizer.grain.mode</i18n></span>
    <div class="flex-row align-center gap-8 mt-4 mb-8">
        <input
            id="ck-no-err-allowed-[[grain.id]]"
            type="checkbox"
            data-ng-model="grain.grain_data.custom_data.no_error_allowed"
            data-ng-change="updateGrain()" />
        <label for="ck-no-err-allowed-[[grain.id]]"><i18n>exercizer.grain.mode.option.one</i18n></label>
    </div>
    <div class="flex-row align-center gap-8 mt-4 mb-8">
        <input type="checkbox" ng-model="grain.grain_data.custom_data.multipleAnswers" ng-click="toggleMultipleAnswers()">
        <label for="ck-no-err-allowed-[[grain.id]]"><i18n>exercizer.grain.mode.option.multiple</i18n></label>
    </div>
</div>

<div class="row">
    <table class="table twelve">
        <thead>
        <tr>
            <th style="width:20%;">
                <i18n>exercizer.grain.qcm.responses.header1</i18n>
            </th>
            <th style="width:70%;">
                <i18n>exercizer.grain.qcm.responses.header2</i18n>
            </th>
            <th style="text-align: right">
                <i18n>exercizer.grain.qcm.responses.header3</i18n>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index">
            <td>
                <input
                    id="ck-no-err-allowed-answer-[[$index]]"
                    type="checkbox"
                    data-ng-model="answer.isChecked"
                    data-ng-change="updateGrain()"
                    data-ng-disabled="!answer.text"
                />
            </td>
            <td>
                <input class="py-0" type="text" style="width: 100%;" data-ng-model="answer.text" data-ng-change="updateGrain()" value="[[ answer.text ]]" i18n-placeholder="exercizer.grain.qcm.answer.info" />
            </td>
            <td style="text-align: right">
                <svg class="icon-close" width="20" height="20" data-ng-click="deleteAnswer(answer)"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <button data-ng-click="addAnswer()" class="button button-link text-body-common flex align-items-center gap-8 px-0 m-0">
        <svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg>
        <i18n>exercizer.grain.qcm.add</i18n>
    </button>
</div>
