<article>
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <div class="row vertical-spacing">
        <div class="row" data-ng-repeat="filled_answer in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list track by $index">
            <div class="cell">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="filled_answer.isChecked" data-ng-change="updateGrainCopy()" />
                    <span></span>
                </label>
            </div>
            <div class="cell eleven">
                <input type="text" style="width: 100%;" data-ng-model="filled_answer.text"  value="[[ filled_answer.text ]]" i18n-placeholder="exercizer.grain.qcm.answer.info" disabled/>
            </div>
        </div>
    </div>
</article>