<!-- filter -->
<div data-ng-controller="SubjectCopyListController as subjectCopyListController">

    <div class="row">
        <div class="cell"
             data-ng-click="clickFilter('corrected')"
             data-ng-style="search.filter == 'corrected' && {'background-color': 'lightblue'} || search.filter != 'corrected'  && {'background-color': 'lightgray'}"
             style="margin-right: 20px;border: 1px solid lightgray;padding: 10px;background-color: lightgray;border-radius: 2px;min-width: 150px;text-align: center;">
            <span>Corrigés</span>
        </div>
        <div class="cell"
             data-ng-click="clickFilter('givenBack')"
             data-ng-style="search.filter == 'givenBack' && {'background-color': 'lightblue'} || search.filter != 'givenBack' && {'background-color': 'lightgray'}"
             style="margin-right: 20px;border: 1px solid lightgray;padding: 10px;background-color: lightgray;border-radius: 2px;min-width: 150px;text-align: center;">
            <span>Rendu</span>
        </div>
        <div class="cell"
             data-ng-click="clickFilter('pending')"
             data-ng-style="search.filter == 'pending' && {'background-color': 'lightblue'} || search.filter != 'pending' && {'background-color': 'lightgray'}"
             style="margin-right: 20px;border: 1px solid lightgray;padding: 10px;background-color: lightgray;border-radius: 2px;min-width: 150px;text-align: center;">
            <span>En cours</span>
        </div>

        <div class="cell right-magnet">
            <label class="two cell">
                Au
            </label>
            <date-picker data-ng-model="search.endDate" class="six cell"></date-picker>
        </div>

        <div class="cell right-magnet">
            <label class="two cell">
                Du
            </label>
            <date-picker data-ng-model="search.beginDate" class="six cell"></date-picker>
        </div>
    </div>

    <div class="row vertical-spacing">
        <input type="text" data-ng-model="search.text" placeholder="Rechercher" class="twelve cell">
    </div>

    <!-- list -->
    <div data-ng-repeat="subjectCopy in filteredSubjectCopyList = (subjectCopyList | filter: subjectCopyListController.filterOnSubjectScheduledTitle(search.text) | filter: subjectCopyListController.filterOnSubjectScheduledDueDate(search.beginDate, search.endDate) | filter: subjectCopyListController.filterOnSubjectScheduledState(search.filter)| orderBy:subjectCopyListController.orderBySubjectScheduledDueDate)">
        <subject-copy-domino subject-copy = "subjectCopy" subject-scheduled = "subjectCopyListController.getSubjectScheduledById(subjectCopy.subject_scheduled_id)"></subject-copy-domino>
    </div>
    <article data-ng-show="!filteredSubjectCopyList.length" style="text-align: center">
        <img src="exercizer/public/assets/img/smiley.PNG"/>
        <h4>Pas de sujet</h4>
    </article>
</div>

