<article>
    <text-header data-text="Ajouter..." data-grain="grain"></text-header>
    <div class="row">
        <toggle-aside data-grain="grain" data-cell-count="four"></toggle-aside>
        <div class="eight cell">
            <button class="flat-button horizontal-spacing" data-ng-click="displayNextStep(3)">
                Énoncé&nbsp;&nbsp;<i class="doc-text"></i>
            </button>
            <button class="flat-button" data-ng-click="displayNextStep(2)">
                Question&nbsp;&nbsp;<i class="help"></i>
            </button>
        </div>
    </div>
</article>