<article>
    <div class="row">
        <h2 class="cell hover-orange" data-ng-click="toggle()">Rechercher des questions</h2>

        <!-- grain toggle icon -->
        <div class="cell right-magnet">
            <i data-ng-show="isFolded" data-ng-click="toggle()" data-tooltip="Déplier" class="down-open hover-orange"></i>
            <i data-ng-hide="isFolded" data-ng-click="toggle()" data-tooltip="Plier" class="up-open hover-orange"></i>
        </div>
    </div>
    <div>
        <i style="font-style: italic">Puis glisser-déposer les questions dans le sujet</i>
    </div>

    <div data-ng-hide="isFolded" style="margin-top: 20px">
        <div class="row">
            <div class="twelve cell" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <div class="row" style="overflow-x:visible;">
            <div data-ng-if="subject" style="overflow-y:scroll; max-height: 150px; border:1px dotted lightgrey;">
                <table class="list-view">
                    <thead>
                    <tr>
                        <th class="cell twelve">[[ subject.title ]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- grain list-->
                    <!--dragstart="drag(grain, $originalEvent)"-->
                    <tr data-ng-repeat="grain in grainList | orderBy:'order_by'" class="subject-dragged-grain" drag-item="grain">
                        <td class="cell one">
                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="1">
                                    <i class="info-pic"></i>
                                </div>
                                <div data-ng-switch-when="2">
                                    <i class="help"></i>
                                </div>
                                <div data-ng-switch-when="3">
                                    <i class="doc-text"></i>
                                </div>
                                <div data-ng-switch-default style="width:15px; height:15px;">
                                    <div style="width: 100%; height: 100%" data-ng-include="getGrainIllustrationURL(grain.grain_type_id)"></div>
                                </div>
                            </div>
                        </td>
                        <td class="cell ten">
                            [[ getGrainName(grain) ]]
                        </td>
                        <td class="cell one">
                            <i class="drag-anchor"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>
