<!-- TOASTER -->
<section class="toggle-buttons" data-ng-show="isToasterDisplayed()">
    <div class="toggle">
        <div class="row">
            <div class="cell">
                <button data-ng-click="duplicateSelectedGrainList()">Dupliquer</button>
                <button data-ng-click="displayModalRemoveSelectedGrainList()">Supprimer</button>
                <button data-ng-click="resetSelection()">Annuler</button>
            </div>
        </div>
    </div>
</section>

<!-- REMOVE SELECTED GRAIN LIST MODAL -->
<lightbox data-show="isModalRemoveSelectedGrainListDisplayed()" data-on-close="closeModalRemoveSelectedGrainList()">
    <h2>Supprimer la sélection</h2>
    <p>Confirmez-vous la suppression de la sélection ?</p>
    <div class="row">
        <button data-ng-click="removeSelectedGrainList()" class="cell right-magnet">Supprimer la sélection</button>
        <button data-ng-click="closeModalRemoveSelectedGrainList()" class="cell right-magnet cancel">Annuler</button>
    </div>
</lightbox>