<article>
    <div class="row">
        <h2 class="cell">Organiser</h2>

        <!-- grain toggle icon -->
        <div class="cell right-magnet" data-ng-click="toggle()">
            <i data-ng-show="isFolded" data-tooltip="Déplier" class="down-open"></i>
            <i data-ng-hide="isFolded" data-tooltip="Plier" class="up-open"></i>
        </div>
    </div>

    <div data-ng-hide="isFolded">
        <div class="row">
            <a class="comment right-magnet cell" data-ng-click="previewPerformSubjectCopy()">
                Aperçu&nbsp;&nbsp;<i class="eye"></i>
            </a>
            <a class="comment right-magnet cell" style="margin-right:10px;" data-ng-click="foldAllGrain()">
                Tout plier&nbsp;&nbsp;<i class="up-open"></i>
            </a>
        </div>

        <div class="row" style="overflow-y:scroll; height: 250px; border:1px dotted lightgrey;">
            <!-- do not add data- before sortable-list and sortable element -->
            <ul sortable-list class="thought-out-actions">
                <li data-ng-repeat="grain in grainList | orderObjectBy:'order_by':false"
                    sortable-element
                    data-ng-change="reOrder()"
                    data-ng-model="grain.index"
                >
                    [[ getGrainName(grain) ]]
                </li>
            </ul>
        </div>
    </div>
</article>