<article>
    <div class="row">
        <div class="one cell"><exercizer-help></exercizer-help></div>
        <div class="ten cell">&nbsp;</div>
        <div class="one cell"><exercizer-fold></exercizer-fold></div>
    </div>

    <div class="row">
        <div class="one cell">&nbsp;</div>
        <div class="ten cell">
            <div class="row">
                <div class="eight cell"><edit-question-title title-model="grain.grain_data.title" on-blur-function="actionOnBlur()"></edit-question-title></div>
                <div class="four cell"><edit-question-max-score max-score-model="grain.grain_data.max_score" on-blur-function="actionOnBlur()"></edit-question-max-score></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-statement statement-model="grain.grain_data.statement" on-blur-function="actionOnBlur()"></edit-question-statement></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-add-document></edit-question-add-document></div>
            </div>
            <div class="row">
                <div class="twelve cell">
                    <textarea ng-model="grain.grain_data.custom_data.correct_answer" ng-blur="actionOnBlur()" class="twelve cell" placeholder="Reponse"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-hint hint-model="grain.grain_data.hint" on-blur-function="actionOnBlur()"></edit-question-hint></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-correction correction-model="grain.grain_data.correction" on-blur-function="actionOnBlur()"></edit-question-correction></div>
            </div>
        </div>
        <div class="one cell">&nbsp;</div>
    </div>
</article>