<article>
    <grain-edit-toggle-header data-grain="grain"></grain-edit-toggle-header>

    <div data-ng-if="!isFolded" >
        <grain-edit-title-score data-grain="grain"></grain-edit-title-score>

        <grain-edit-statement data-grain="grain"></grain-edit-statement>

        <grain-edit-grain-document-list data-grain="grain"></grain-edit-grain-document-list>

        <grain-edit-button-add-new-grain-document data-grain="grain"></grain-edit-button-add-new-grain-document>

        <div class=" row vertical-spacing">
            <span>Mode de correction :&nbsp;</span>
            <input type="checkbox" data-ng-model="grain.grain_data.custom_data.no_error_allowed" complete-change="updateGrain()" />
            <span>erreur non autorisée</span>
        </div>

        <div class="row">
            <table class="twelve">
                <thead>
                <tr>
                    <th style="width:10%;">
                        Valides
                    </th>
                    <th style="width:80%;">
                        Propositions
                    </th>
                    <th style="text-align: right">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index">
                    <td>
                        <!-- do not change data-ng-change to complete-change -->
                        <input type="checkbox" data-ng-model="answer.isChecked" data-ng-change="updateGrain()" />
                    </td>
                    <td>
                        <input type="text" style="width: 100%;" data-ng-model="answer.text" complete-change="updateGrain()" value="[[ answer.text ]]" placeholder="Indiquez une proposition" />
                    </td>
                    <td style="text-align: right">
                        <i class="close" data-ng-click="deleteAnswer(answer)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <a data-ng-click="addAnswer()" class="twelve cell comment" style="text-align: center; margin-top: 0;">
                Ajouter une proposition
            </a>
        </div>

        <grain-edit-answer-hint data-grain="grain"></grain-edit-answer-hint>

        <grain-edit-answer-explanation data-grain="grain"></grain-edit-answer-explanation>
    </div>

    <div class="row" data-ng-if="isFolded">
        <grain-edit-toggle-aside data-grain="grain" data-cell-count="one"></grain-edit-toggle-aside>
        <div class="eleven cell vertical-spacing">
            <h2>[[ grain.grain_data.title ]]&nbsp;&nbsp;&nbsp;/&nbsp;[[ grain.grain_data.max_score ]]</h2>
        </div>
    </div>
</article>

