<article>
    <grain-copy-header data-grain-copy="grainCopy"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <div class="row vertical-spacing">
        <div class="row" data-ng-repeat="filled_answer in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list track by $index">
            <div class="cell one">
                <input type="checkbox" data-ng-model="filled_answer.isChecked" data-ng-change="updateGrainCopy()" />
            </div>
            <div class="cell eleven">
                <div>[[filled_answer.text]]</div>
            </div>
        </div>
    </div>
</article>