<article>
    <grain-edit-toggle-header data-grain="grain" data-is-folded="isFolded"></grain-edit-toggle-header>

    <div class="row" data-ng-hide="isFolded" >
        <editor data-ng-model="grain.grain_data.custom_data.statement"></editor>
    </div>

    <div class="row" data-ng-show="isFolded">
        <grain-edit-toggle-aside data-grain="grain"
                                 data-cell-count="one">
        </grain-edit-toggle-aside>
        <div class="eleven cell">
            <div class="vertical-spacing" style="word-wrap: break-word;" data-ng-bind-html="statementHtml"></div>
        </div>
    </div>
</article>
