<div data-ng-controller="EditSubjectController as editSubjectController" id="edit-subject">

    <!-- LOADER -->
    <div class="row" data-ng-if="!editSubjectController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="editSubjectController.hasDataLoaded">

        <!-- TOP HEADER -->
        <div class="row">
            <h1 class="cell twelve-mobile">
                <span class="zero-mobile"><span class="hover-orange" data-ng-click="editSubjectController.redirectToDashboard()"><i18n>exercizer.title</i18n></span> / </span><span class="hover-orange" data-ng-click="" tooltip="[[editSubjectController.subject.title]]">[[ editSubjectController.subject.title | limitTo: 35  ]][[ editSubjectController.subject.title.length > 35 ? '...' : '']]</span>
            </h1>

            <button class="right-magnet cell" data-ng-click="editSubjectController.scheduleSubject()">
                <i18n>exercizer.schedule</i18n>
            </button>

            <button class="flat-button right-magnet cell" data-ng-click="editSubjectController.previewPerformSubjectCopy()">
                <i18n>exercizer.preview</i18n>&nbsp;&nbsp;<i class="eye"></i>
            </button>

            <button class="right-magnet cell flat-button" data-ng-click="editSubjectController.redirectToDashboard()">
                <i18n>exercizer.back.subject</i18n>
            </button>
        </div>

        <div class="row">

            <!-- LEFT STICKY NAV -->
            <section class="four cell vertical only-large-desktop" >
                <nav data-stick-to-top class="hash-magnet floating-navigation">

                    <!-- ORGANIZER -->
                    <article>
                        <div class="row" >
                            <h2 class="cell hover-orange" data-ng-click="editSubjectController.foldOrganizer()"><i18n>exercizer.rank</i18n></h2>

                            <!-- grain toggle icon -->
                            <div class="cell right-magnet">
                                <i data-ng-show="editSubjectController.organizerFolded" data-ng-click="editSubjectController.foldOrganizer()" data-tooltip="exercizer.unfold" class="down-open hover-orange"></i>
                                <i data-ng-hide="editSubjectController.organizerFolded" data-ng-click="editSubjectController.foldOrganizer()" data-tooltip="exercizer.fold" class="up-open hover-orange"></i>
                            </div>
                        </div>

                        <div data-ng-hide="editSubjectController.organizerFolded">
                            <div class="row">
                                <div class="cell" style="width:60%">
                                    <em><i18n>exercizer.rank.desc</i18n></em>
                                </div>
                                <a class="comment right-magnet cell" style="margin-right:10px;" data-ng-click="editSubjectController.foldAllGrain()">
                                    <i18n>exercizer.fold.all</i18n>&nbsp;&nbsp;<i class="up-open"></i>
                                </a>
                            </div>

                            <div class="row" style="overflow-y:scroll; max-height: 30vh; border:1px dotted lightgrey;" data-ng-show="editSubjectController.grainList.length > 0">
                                <!-- do not add data- before sortable-list and sortable element -->
                                <ul sortable-list class="thought-out-actions">
                                    <li data-ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false"
                                        sortable-element
                                        data-ng-change="editSubjectController.reOrder()"
                                        data-ng-model="grain.index">

                                        <div class="one cell">
                                            <div data-ng-switch="grain.grain_type_id">
                                                <div data-ng-switch-when="1">
                                                    <i class="info-pic"></i>
                                                </div>
                                                <div data-ng-switch-when="2">
                                                    <i class="help"></i>
                                                </div>
                                                <div data-ng-switch-when="3">
                                                    <i class="doc-text"></i>
                                                </div>
                                                <div data-ng-switch-default style="width:15px; height:15px;">
                                                    <div data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)" style="height:100%"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="nine cell" style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"
                                             data-ng-click="editSubjectController.scrollToGrain(grain.id)">
                                            [[ grain.grain_type_id > 3 ? editSubjectController.getCorrectOrder(grain) + ') ' : '' ]]
                                            [[editSubjectController.getGrainDisplayedName(grain) ]]
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <!-- SUBJECT LIST -->
                    <subject-edit-subject-list is-organizer-folded="editSubjectController.organizerFolded"></subject-edit-subject-list>
                </nav>
            </section>

            <!-- GRAIN LIST -->
            <!-- dragdrop="editSubjectController.dropTo($originalEvent)" -->
            <section class="eight-desktop cell droppable drop-zone cell-initial-float" ng-attr-style="[[editSubjectController.isDropableZone ? 'border-width: 2px;' : 'border-width: 0px;']]" drop-item="editSubjectController.dropTo($item)">

                <div class="row">

                    <article explorer
                        ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false" id="grain-edit-[[grain.id]]"
                        ng-model="grain.selected"
                        ng-change="editSubjectController.selectGrain(grain)"
                        class="select-border article-edit"
                    >

                        <!-- GRAIN HEADER -->
                        <div class="row">

                            <!-- TEXT HEADER -->
                            <div class="cell" data-ng-if="grain.grain_type_id < 3">
                                <em class="high-importance">[[ grain.grain_data.title ]]</em>
                            </div>

                            <div data-ng-if="grain.grain_type_id > 2">

                                <!-- GRAIN TYPE ICON -->
                                <div class="cell">
                                    <i class="doc-text"
                                       data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                       data-ng-if="grain.grain_type_id === 3">
                                    </i>
                                    <div data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                         data-ng-if="grain.grain_type_id > 3">
                                        <div style="display: inline-block; vertical-align: middle; width: 20px; height:20px;" data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)"></div>
                                        <small>[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]</small>
                                    </div>
                                </div>

                                <!-- GRAIN FOLD -->
                                <div class="cell right-magnet" data-ng-click="editSubjectController.foldGrain(grain); $event.stopPropagation()">
                                    <i data-ng-show="editSubjectController.isGrainFolded(grain)" data-tooltip="exercizer.unfold" class="down-open"></i>
                                    <i data-ng-hide="editSubjectController.isGrainFolded(grain)" data-tooltip="exercizer.fold" class="up-open"></i>
                                </div>
                            </div>

                        </div>

                        <!-- GRAIN SPECIFIC CONTENT FOR EXERCISE GRAIN TYPE (not folded) -->
                        <div
                            class="row"
                            ng-if="(grain.grain_type_id > 2 && !editSubjectController.isGrainFolded(grain))"
                            ng-click="$event.stopPropagation()"
                        >

                            <!-- TITLE & SCORE -->
                            <div class="row vertical-spacing" data-ng-if="grain.grain_type_id > 3">
                                <input type="text" class="eight cell" data-ng-model="grain.grain_data.title" complete-change="editSubjectController.updateGrain(grain)" value="[[ grain.grain_data.title ]]" i18n-placeholder="exercizer.grain.title" maxlength="255"/>
                                <em class="high-importance cell right-magnet">&nbsp;<i18n>exercizer.score</i18n></em>
                                <input type="text" class="cell right-magnet" style="width: 50px;" data-ng-model="grain.grain_data.max_score" complete-change="editSubjectController.updateGrain(grain)" i18n-placeholder="exercizer.grain.scoring" />
                            </div>

                            <!-- GRAIN STATEMENT -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <label><i18n>exercizer.statement</i18n> :</label>
                                <!--<editor data-ng-model="grain.grain_data.statement" inline class="small-editor"></editor>-->
                                <custom-editor text="grain.grain_data.statement" grain="grain"></custom-editor>
                            </div>

                            <!-- GRAIN DOCUMENT LIST -->
                            <div class="row" data-ng-show="grain.grain_data.document_list.length > 0" data-ng-if="grain.grain_type_id > 3">
                                <table class="twelve">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i18n>exercizer.grain.document</i18n>
                                        </th>
                                        <th style="text-align: right">
                                            <i18n>exercizer.grain.action</i18n>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="grainDocument in grain.grain_data.document_list">
                                        <td>
                                            <a href="[[ grainDocument.path ]]" target="_blank">[[ grainDocument.name ]]</a>
                                        </td>
                                        <td style="text-align: right">
                                            <i class="close" data-ng-click="editSubjectController.displayModalRemoveGrainDocument(grain, grainDocument)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- ADD GRAIN DOCUMENT BUTTON -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3" style="text-align: center">
                                <nav class="vertical" style="padding: 0px !important;">
                                    <a class="classic-link" data-ng-click="editSubjectController.displayModalAddGrainDocument(grain)">
                                        <i18n>exercizer.grain.doc</i18n>
                                    </a>
                                </nav>
                            </div>

                            <!-- SWITCH GRAIN -->
                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="3">
                                    <edit-statement data-grain="grain"></edit-statement>
                                </div>
                                <div data-ng-switch-when="4">
                                    <edit-simple-answer data-grain="grain"></edit-simple-answer>
                                </div>
                                <div data-ng-switch-when="5">
                                    <edit-open-answer data-grain="grain"></edit-open-answer>
                                </div>
                                <div data-ng-switch-when="6">
                                    <edit-multiple-answer data-grain="grain"></edit-multiple-answer>
                                </div>
                                <div data-ng-switch-when="7">
                                    <edit-qcm data-grain="grain"></edit-qcm>
                                </div>
                                <div data-ng-switch-when="8">
                                    <edit-association data-grain="grain"></edit-association>
                                </div>
                                <div data-ng-switch-when="9">
                                    <edit-order data-grain="grain"></edit-order>
                                </div>
                                <div data-ng-switch-when="10">
                                    <edit-fill-text data-grain="grain"></edit-fill-text>
                                </div>
                                <div data-ng-switch-when="11">
                                    <edit-zone-text data-grain="grain"></edit-zone-text>
                                </div>
                                <div data-ng-switch-when="12">
                                    <edit-zone-image data-grain="grain"></edit-zone-image>
                                </div>
                                
                            </div>

                            <!-- GRAIN FOOTER -->

                            <!-- GRAIN ANSWER HINT -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <div class="one cell vertical-spacing horizontal-spacing row">
                                    <span>
                                        <i class="help" id="surcharge-force-cursor-default"></i>
                                        <i18n class="left-margin-5">exercizer.grain.help</i18n>
                                        <span class="tipbox up left-margin-5">
                                            <i class="help square-medium"></i>
                                            <div class="tipbox-content">
                                                <span class="small-text">
                                                    <i18n>exercizer.grain.help.tooltip</i18n>
                                                </span>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                                <div class="eleven cell">
                                    <textarea data-ng-model="grain.grain_data.answer_hint" complete-change="editSubjectController.updateGrain(grain)" style="height: 40px;"></textarea>
                                </div>
                            </div>

                            <!-- GRAIN ANSWER EXPLANATION -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <div class="one cell vertical-spacing horizontal-spacing row">
                                    <span>
                                        <i class="info-pic"></i>
                                        <i18n class="left-margin-5">exercizer.grain.explanation</i18n>
                                        <span class="tipbox up left-margin-5">
                                            <i class="help square-medium"></i>
                                            <div class="tipbox-content">
                                                <span class="small-text">
                                                    <i18n>exercizer.grain.explanation.tooltip</i18n>
                                                </span>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                                <div class="eleven cell">
                                    <textarea data-ng-model="grain.grain_data.answer_explanation" complete-change="editSubjectController.updateGrain(grain)" style="height: 40px;"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- GRAIN SPECIFIC CONTENT FOR ALL GRAIN TYPE (folded) -->
                        <div
                            class="row top-spacing-three"
                            ng-if="(grain.grain_type_id < 3 || (grain.grain_type_id > 2 && editSubjectController.isGrainFolded(grain)))"
                        >
                            <!-- GRAIN SELECTION -->
                            <div class="top-spacing right-spacing cell">
                                <input type="checkbox" data-ng-checked="editSubjectController.isGrainSelected(grain)" data-ng-click="editSubjectController.checkboxClick(grain)">
                            </div>
                            <!-- GRAIN CONTENT (folded) -->
                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="1">
                                    <choose data-grain="grain"></choose>
                                </div>
                                <div data-ng-switch-when="2">
                                    <choose-answer data-grain="grain"></choose-answer>
                                </div>
                                <div data-ng-switch-when="3">
                                    <h2 data-ng-click="editSubjectController.foldGrain(grain); $event.stopPropagation()" class="hover-orange">[[ grain.grain_data.title || editSubjectController.translate('exercizer.statement') ]]</h2>
                                    <div style="max-height : 100px; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">
                                        <div data-ng-click="editSubjectController.foldGrain(grain); $event.stopPropagation()" class="eleven cell vertical-spacing" data-ng-bind-html="editSubjectController.getStatementTrustedHtml(grain)"></div>
                                    </div>
                                </div>
                                <div data-ng-switch-default>
                                    <h2 class="hover-orange" data-ng-click="editSubjectController.foldGrain(grain); $event.stopPropagation()">
                                        [[ grain.grain_type_id > 3 ? editSubjectController.getCorrectOrder(grain) + ') ' : '' ]] [[ editSubjectController.getGrainDisplayedName(grain) ]]&nbsp;-&nbsp;[[ grain.grain_data.max_score ]]&nbsp;<i18n>exercizer.score</i18n>
                                    </h2>
                                </div>
                            </div>

                        </div>

                    </article>
                </div>

                <!-- ADD GRAIN -->
                <div class="editor drawing-grid">
                    <button class="grid-add-row" data-ng-click="editSubjectController.addGrain()"><i18n>exercizer.add.grain</i18n></button>
                </div>

            </section>
        </div>

        <!-- ADD GRAIN DOCUMENT MODAL -->
        <lightbox data-show="editSubjectController.isModalAddGrainDocumentDisplayed" data-on-close="editSubjectController.closeModalAddGrainDocument()">
            <div ng-if="editSubjectController.isModalAddGrainDocumentDisplayed">
                <media-library data-ng-model="mediaLibraryItem" visibility="'protected'" file-format="'any'" data-ng-change="editSubjectController.addGrainDocument(mediaLibraryItem)"></media-library>
            </div>
        </lightbox>

        <!-- REMOVE GRAIN DOCUMENT MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveGrainDocumentDisplayed" data-on-close="editSubjectController.closeModalRemoveGrainDocument()">
            <h2><i18n>exercizer.grain.doc.remove.title</i18n></h2>
            <p><i18n>exercizer.grain.doc.remove.confirm</i18n></p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeGrainDocument()" class="cell right-magnet"><i18n>exercizer.grain.doc.remove.action</i18n></button>
                <button data-ng-click="editSubjectController.closeModalRemoveGrainDocument()" class="cell right-magnet cancel"><i18n>exercizer.cancel</i18n></button>
            </div>
        </lightbox>

        <!-- TOASTER -->
        <section class="toggle-buttons" data-ng-show="editSubjectController.isToasterDisplayed()">
            <div class="toggle">
                <div class="row">
                    <div class="cell">
                        <button data-ng-click="editSubjectController.duplicateSelectedGrainList()"><i18n>exercizer.duplicate</i18n></button>
                        <button data-ng-click="editSubjectController.displayModalRemoveSelectedGrainList()"><i18n>exercizer.remove</i18n></button>
                    </div>
                </div>
            </div>
        </section>

        <!-- REMOVE SELECTED GRAIN LIST MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveSelectedGrainListDisplayed" data-on-close="editSubjectController.closeModalRemoveSelectedGrainList()">
            <h2><i18n>exercizer.grain.remove.title</i18n></h2>
            <p><i18n>exercizer.grain.remove.confirm</i18n></p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeSelectedGrainList()" class="cell right-magnet"><i18n>exercizer.grain.remove.title</i18n></button>
                <button data-ng-click="editSubjectController.closeModalRemoveSelectedGrainList()" class="cell right-magnet cancel"><i18n>exercizer.cancel</i18n></button>
            </div>
        </lightbox>

        <!-- SCHEDULE SUBJECT MODAL -->
        <subject-schedule></subject-schedule>
    </div>
</div>