<div data-ng-controller="EditSubjectController as editSubjectController">

    <!-- LOADER -->
    <div class="row" data-ng-if="!editSubjectController.hasDataLoaded">
        <div class="info">Chargement des données...</div>
    </div>

    <div data-ng-if="editSubjectController.hasDataLoaded">

        <!-- TOP HEADER -->
        <div class="row">
            <h1 class="cell">
                Exercizer - [[ editSubjectController.subject.title ]]
            </h1>

            <button class="right-magnet cell" data-ng-click="editSubjectController.scheduleSubject()">
                Programmer
            </button>

            <button class="right-magnet cell flat-button" data-ng-click="editSubjectController.redirectToDashboard()">
                Terminer
            </button>
        </div>

        <div class="row">

            <!-- LEFT STICKY NAV -->
            <section class="four cell vertical" >
                <nav data-stick-to-top class="hash-magnet floating-navigation">

                    <!-- ORGANIZER -->
                    <article>
                        <div class="row">
                            <h2 class="cell">Organiser</h2>

                            <!-- grain toggle icon -->
                            <div class="cell right-magnet" data-ng-click="editSubjectController.foldOrganizer()">
                                <i data-ng-show="editSubjectController.isOrganizerFolded" data-tooltip="Déplier" class="down-open"></i>
                                <i data-ng-hide="editSubjectController.isOrganizerFolded" data-tooltip="Plier" class="up-open"></i>
                            </div>
                        </div>

                        <div data-ng-hide="editSubjectController.isOrganizerFolded">
                            <div class="row">
                                <a class="comment right-magnet cell" data-ng-click="editSubjectController.previewPerformSubjectCopy()">
                                    Aperçu&nbsp;&nbsp;<i class="eye"></i>
                                </a>
                                <a class="comment right-magnet cell" style="margin-right:10px;" data-ng-click="editSubjectController.foldAllGrain()">
                                    Tout plier&nbsp;&nbsp;<i class="up-open"></i>
                                </a>
                            </div>

                            <div class="row" style="overflow-y:scroll; max-height: 150px; border:1px dotted lightgrey;" data-ng-show="editSubjectController.grainList.length > 0">
                                <!-- do not add data- before sortable-list and sortable element -->
                                <ul sortable-list class="thought-out-actions">
                                    <li data-ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false"
                                        sortable-element
                                        data-ng-change="editSubjectController.reOrder()"
                                        data-ng-model="grain.index">

                                        <div class="one cell">
                                            <div data-ng-switch="grain.grain_type_id">
                                                <div data-ng-switch-when="1">
                                                    <i class="info-pic"></i>
                                                </div>
                                                <div data-ng-switch-when="2">
                                                    <i class="help"></i>
                                                </div>
                                                <div data-ng-switch-when="3">
                                                    <i class="doc-text"></i>
                                                </div>
                                                <div data-ng-switch-default style="width:15px; height:15px;">
                                                    <div data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="eight cell">[[ editSubjectController.getGrainDisplayedName(grain) ]]</div>
                                        <div class="cell right-magnet">
                                            <i class="drag-anchor"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <!-- SUBJECT LIST -->
                    <subject-edit-subject-list></subject-edit-subject-list>
                </nav>
            </section>

            <!-- GRAIN LIST -->
            <section class="eight cell">

                <div class="row" dragdrop="editSubjectController.dropTo($originalEvent)">

                    <article data-ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false">

                        <!-- GRAIN HEADER -->
                        <div class="row">

                            <!-- TEXT HEADER -->
                            <div class="cell" data-ng-if="grain.grain_type_id < 3">
                                <em class="high-importance">[[ grain.grain_data.title ]]</em>
                            </div>

                            <div data-ng-if="grain.grain_type_id > 2">

                                <!-- GRAIN TYPE ICON -->
                                <div class="two cell">
                                    <i class="doc-text"
                                       data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                       data-ng-if="grain.grain_type_id === 3">
                                    </i>
                                    <div data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                         data-ng-if="grain.grain_type_id > 3">
                                        <div style="width: 20px; height:20px;" data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)"></div>
                                    </div>
                                </div>

                                <!-- GRAIN FOLD -->
                                <div class="cell right-magnet" data-ng-click="editSubjectController.foldGrain(grain)">
                                    <i data-ng-show="editSubjectController.isGrainFolded(grain)" data-tooltip="Déplier" class="down-open"></i>
                                    <i data-ng-hide="editSubjectController.isGrainFolded(grain)" data-tooltip="Plier" class="up-open"></i>
                                </div>
                            </div>

                            <!-- GRAIN TRASH ICON -->
                            <div class="cell right-magnet" data-ng-class="(grain.grain_type_id > 2) ? 'horizontal-spacing' : ''" data-tooltip="Supprimer" data-ng-click="editSubjectController.displayModalRemoveGrain(grain)">
                                <i class="trash"></i>
                            </div>

                        </div>

                        <!-- GRAIN SPECIFIC CONTENT FOR EXERCISE GRAIN TYPE (not folded) -->
                        <div class="row" data-ng-if="(grain.grain_type_id > 2 && !editSubjectController.isGrainFolded(grain))">

                            <!-- TITLE & SCORE -->
                            <div class="row vertical-spacing" data-ng-if="grain.grain_type_id > 3">
                                <input type="text" class="six cell" data-ng-model="grain.grain_data.title" complete-change="editSubjectController.updateGrain(grain)" value="[[ grain.grain_data.title ]]" placeholder="Titre de la question" />
                                <input type="text" class="cell right-magnet" data-ng-model="grain.grain_data.max_score" complete-change="editSubjectController.updateGrain(grain)" data-digits-input-restrict placeholder="Pondération" />
                                <em class="high-importance cell right-magnet">Question sur /</em>
                            </div>

                            <!-- GRAIN STATEMENT -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <editor data-ng-model="grain.grain_data.statement"></editor>
                            </div>

                            <!-- GRAIN DOCUMENT LIST -->
                            <div class="row" data-ng-show="grain.grain_data.document_list.length > 0" data-ng-if="grain.grain_type_id > 3">
                                <table class="twelve">
                                    <thead>
                                    <tr>
                                        <th>
                                            Documents
                                        </th>
                                        <th style="text-align: right">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="grainDocument in grain.grain_data.document_list">
                                        <td>
                                            <a href="[[ grainDocument.path ]]" target="_blank">[[ grainDocument.name ]]</a>
                                        </td>
                                        <td style="text-align: right">
                                            <i class="close" data-ng-click="editSubjectController.displayModalRemoveGrainDocument(grain, grainDocument)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- ADD GRAIN DOCUMENT BUTTON -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <button data-ng-click="editSubjectController.displayModalAddGrainDocument(grain)" class="twelve cell flat-button">
                                    Ajouter un document
                                </button>
                            </div>

                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="3">
                                    <edit-statement data-grain="grain"></edit-statement>
                                </div>
                                <div data-ng-switch-when="4">
                                    <edit-simple-answer data-grain="grain"></edit-simple-answer>
                                </div>
                                <div data-ng-switch-when="5">
                                    <edit-open-answer data-grain="grain"></edit-open-answer>
                                </div>
                                <div data-ng-switch-when="6">
                                    <edit-multiple-answer data-grain="grain"></edit-multiple-answer>
                                </div>
                                <div data-ng-switch-when="7">
                                    <edit-qcm data-grain="grain"></edit-qcm>
                                </div>
                                <div data-ng-switch-when="8">
                                    <edit-association data-grain="grain"></edit-association>
                                </div>
                                <div data-ng-switch-when="9">
                                    <edit-order data-grain="grain"></edit-order>
                                </div>

                            </div>

                            <!-- GRAIN FOOTER -->

                            <!-- GRAIN ANSWER EXPLANATION -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <div class="one cell vertical-spacing horizontal-spacing">
                                    <i class="info-pic"></i>
                                </div>
                                <div class="eleven cell">
                                    <textarea data-ng-model="grain.grain_data.answer_explanation" complete-change="editSubjectController.updateGrain(grain)" style="height: 80px;" placeholder="Explication de la réponse"></textarea>
                                </div>
                            </div>

                            <!-- GRAIN ANSWER HINT -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3">
                                <div class="one cell vertical-spacing horizontal-spacing">
                                    <i class="help"></i>
                                </div>
                                <div class="eleven cell">
                                    <textarea data-ng-model="grain.grain_data.answer_hint" complete-change="editSubjectController.updateGrain(grain)" style="height: 80px;" placeholder="Aide à la réponse"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- GRAIN SPECIFIC CONTENT FOR ALL GRAIN TYPE (folded) -->
                        <div class="row" data-ng-if="(grain.grain_type_id < 3 || (grain.grain_type_id > 2 && editSubjectController.isGrainFolded(grain)))">

                            <!-- GRAIN SELECTION -->
                            <div class="vertical-spacing" data-ng-class="(grain.grain_type_id > 1) ? 'one cell' : 'four cell'">
                                <input type="checkbox"
                                       data-ng-checked="editSubjectController.isGrainSelected(grain)"
                                       data-ng-click="editSubjectController.selectGrain(grain)" />
                            </div>

                            <!-- GRAIN CONTENT (folded) -->
                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="1">
                                    <choose data-grain="grain"></choose>
                                </div>
                                <div data-ng-switch-when="2">
                                    <choose-answer data-grain="grain"></choose-answer>
                                </div>
                                <div data-ng-switch-when="3">
                                    <div class="eleven cell vertical-spacing" style="word-wrap: break-word;" data-ng-bind-html="editSubjectController.getStatementTrustedHtml(grain)"></div>
                                </div>
                                <div data-ng-switch-default>
                                    <div class="eleven cell vertical-spacing">
                                        <h2>[[ editSubjectController.getGrainDisplayedName(grain) ]]&nbsp;&nbsp;&nbsp;/&nbsp;[[ grain.grain_data.max_score ]]</h2>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </article>
                </div>

                <!-- ADD GRAIN -->
                <div class="editor drawing-grid">
                    <button class="grid-add-row" data-ng-click="editSubjectController.addGrain()">Ajouter un élément</button>
                </div>

            </section>
        </div>

        <!-- REMVOVE GRAIN MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveGrainDisplayed" data-on-close="editSubjectController.closeModalRemoveGrain()">
            <h2>Supprimer un élément</h2>
            <p>Confirmez-vous la suppression de l'élément ?</p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeGrain()" class="cell right-magnet">Supprimer l'élement</button>
                <button data-ng-click="editSubjectController.closeModalRemoveGrain()" class="cell right-magnet cancel">Annuler</button>
            </div>
        </lightbox>

        <!-- ADD GRAIN DOCUMENT MODAL -->
        <lightbox data-show="editSubjectController.isModalAddGrainDocumentDisplayed" data-on-close="editSubjectController.closeModalAddGrainDocument()">
            <media-library data-ng-model="mediaLibraryItem" visibility="'protected'" file-format="'any'" data-ng-change="editSubjectController.addGrainDocument(mediaLibraryItem)"></media-library>
        </lightbox>

        <!-- REMOVE GRAIN DOCUMENT MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveGrainDocumentDisplayed" data-on-close="editSubjectController.closeModalRemoveGrainDocument()">
            <h2>Retirer un document</h2>
            <p>Voulez-vous retirer ce document ?</p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeGrainDocument()" class="cell right-magnet">Retirer le document</button>
                <button data-ng-click="editSubjectController.closeModalRemoveGrainDocument()" class="cell right-magnet cancel">Annuler</button>
            </div>
        </lightbox>

        <!-- TOASTER -->
        <section class="toggle-buttons" data-ng-show="editSubjectController.isToasterDisplayed()">
            <div class="toggle">
                <div class="row">
                    <div class="cell">
                        <button data-ng-click="editSubjectController.duplicateSelectedGrainList()">Dupliquer</button>
                        <button data-ng-click="editSubjectController.displayModalRemoveSelectedGrainList()">Supprimer</button>
                        <button data-ng-click="editSubjectController.resetSelection()">Annuler</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- REMOVE SELECTED GRAIN LIST MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveSelectedGrainListDisplayed" data-on-close="editSubjectController.closeModalRemoveSelectedGrainList()">
            <h2>Supprimer la sélection</h2>
            <p>Confirmez-vous la suppression de la sélection ?</p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeSelectedGrainList()" class="cell right-magnet">Supprimer la sélection</button>
                <button data-ng-click="editSubjectController.closeModalRemoveSelectedGrainList()" class="cell right-magnet cancel">Annuler</button>
            </div>
        </lightbox>

        <!-- SCHEDULE SUBJECT MODAL -->
        <subject-schedule></subject-schedule>
    </div>
</div>