<div data-ng-controller="EditSubjectController as editSubjectController" id="edit-subject" guard-root>

    <!-- LOADER -->
    <div class="row" data-ng-if="!editSubjectController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="editSubjectController.hasDataLoaded">

        <!-- TOP HEADER -->
        <div class="row">
            <h1 class="cell twelve-mobile">
                <i class="exercizer"></i>
                <span class="no-responsive"><span class="hover-orange" data-ng-click="editSubjectController.redirectToDashboard()"><i18n>exercizer.title</i18n></span> / </span>
                <span class="hover-orange" data-ng-click="" tooltip="[[editSubjectController.subject.title]]">[[ editSubjectController.subject.title | limitTo: 35  ]][[ editSubjectController.subject.title.length > 35 ? '...' : '']]</span>
            </h1>

            <button class="right-magnet cell" data-ng-click="editSubjectController.scheduleSubject()">
                <i class="distribute"></i>
                <i18n>exercizer.schedule</i18n>
            </button>

            <button class="flat-button right-magnet cell" data-ng-click="editSubjectController.previewPerformSubjectCopy()">
                <i class="eye"></i>
                <i18n>exercizer.preview</i18n>
            </button>

            <button class="right-magnet cell flat-button" data-ng-click="editSubjectController.redirectToDashboard()">
                <i class="left"></i>
                <i18n>exercizer.back.subject</i18n>
            </button>
        </div>

        <div class="grid grid-layout-2">

            <!-- LEFT STICKY NAV -->
            <aside class="vertical only-large-desktop sticky-nav">
                <nav class="hash-magnet floating-navigation">

                    <!-- ORGANIZER -->
                    <article>
                        <div class="row mb-4" >
                            <header class="cell hover-orange" data-ng-click="editSubjectController.foldOrganizer()"><i18n>exercizer.rank</i18n></header>

                            <!-- grain toggle icon -->
                            <div class="cell right-magnet">
                                <i data-ng-show="editSubjectController.organizerFolded" data-ng-click="editSubjectController.foldOrganizer()" data-tooltip="exercizer.unfold" class="down-open hover-orange"></i>
                                <i data-ng-hide="editSubjectController.organizerFolded" data-ng-click="editSubjectController.foldOrganizer()" data-tooltip="exercizer.fold" class="up-open hover-orange"></i>
                            </div>
                        </div>

                        <div data-ng-hide="editSubjectController.organizerFolded">
                            <div class="row mb-16">
                                <div class="cell fs-3 flex-inline gap-12">
                                    <i18n>exercizer.score.total</i18n><strong>[[editSubjectController.computedMaxScore]]</strong>
                                </div>
                            </div>

                            <div class="row" style="overflow-y:auto; max-height: 30vh;" data-ng-show="editSubjectController.grainList.length > 0">
                                <!-- do not add data- before sortable-list and sortable element -->
                                <ul sortable-list class="thought-out-actions">
                                    <li data-ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false"
                                        sortable-element
                                        data-ng-change="editSubjectController.reOrder()"
                                        data-ng-model="grain.index">

                                        <div class="one cell">
                                            <div data-ng-switch="grain.grain_type_id">
                                                <div data-ng-switch-when="1">
                                                    <i class="info-pic"></i>
                                                </div>
                                                <div data-ng-switch-when="2">
                                                    <i class="help"></i>
                                                </div>
                                                <div data-ng-switch-when="3">
                                                    <i class="doc-text"></i>
                                                </div>
                                                <div data-ng-switch-default style="width:15px; height:15px;">
                                                    <div data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)" style="height:100%"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="nine cell" style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"
                                             data-ng-click="editSubjectController.scrollToGrain(grain.id)">
                                            [[ grain.grain_type_id > 3 ? editSubjectController.getCorrectOrder(grain) + ') ' : '' ]]
                                            [[editSubjectController.getGrainDisplayedName(grain) ]]
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <!-- SUBJECT LIST -->
                    <subject-edit-subject-list is-spreaded="editSubjectController.organizerFolded"></subject-edit-subject-list>
                </nav>
            </aside>

            <!-- GRAIN LIST -->
            <!-- dragdrop="editSubjectController.dropTo($originalEvent)" -->
            <section class="droppable drop-zone cell-initial-float" ng-attr-style="[[editSubjectController.isDropableZone ? 'border-width: 2px;' : 'border-width: 0px;']]" drop-item="editSubjectController.dropTo($item)">
                <!--LOADER-->
                <article class="flex-row empty-state align-center p-0" ng-if="editSubjectController.isEmptyStateVisible()">
                    <img src="exercizer/public/assets/img/subject-emptyscreen.svg" class="ml-24"/>
                    <p class="text-body text-preline ml-32"><i18n>exercizer.subject.emptyscreen</i18n></p>
                </article>
                <!--EMPTY STATE-->
                <article class="flex-row empty-state align-center justify-center" ng-if="editSubjectController.isLoaderVisible()">
                    <i class="loading fs-3"></i>
                </article>
                <!--GRAIN LIST-->
                <div class="row">

                    <article class="select-border article-edit" 
                        ng-class="{'p-0 border-0 overflow-hidden': editSubjectController.isChooseStep(grain)}"
                        ng-repeat="grain in editSubjectController.grainList | orderObjectBy:'order_by':false" id="grain-edit-[[grain.id]]"
                    >

                        <!-- GRAIN HEADER -->
                        <div class="row">

                            <!-- TEXT HEADER -->
                            <div data-ng-if="grain.grain_type_id > 2">

                                <!-- GRAIN TYPE ICON -->
                                <div class="cell">
                                    <i class="doc-text"
                                       data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                       data-ng-if="grain.grain_type_id === 3">
                                    </i>
                                    <div data-tooltip="[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]"
                                         data-ng-if="grain.grain_type_id > 3">
                                        <div style="display: inline-block; vertical-align: middle; width: 20px; height:20px;" data-ng-include="editSubjectController.getGrainIllustrationURL(grain.grain_type_id)"></div>
                                        <small class="text-medium">[[ editSubjectController.getGrainPublicName(grain.grain_type_id) ]]</small>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- GRAIN SPECIFIC CONTENT FOR EXERCISE GRAIN TYPE (not folded) -->
                        <div stop-child-propagation
                            class="row"
                        >

                            <!-- TITLE & SCORE -->
                            <div class="flex align-items-center justify-space-between m-16 gap-32" data-ng-if="grain.grain_type_id > 3">
                                <input type="text" class="eight cell" data-ng-model="grain.grain_data.title" ng-change="editSubjectController.updateGrainDebounced(grain)" value="[[ grain.grain_data.title ]]" i18n-placeholder="exercizer.grain.title" maxlength="255"/>
                                <div>
                                    <span class="cell right-magnet text-body">&nbsp;<i18n>exercizer.score</i18n></span>
                                    <input type="text" class="score mb-0 high-importance cell right-magnet centered-text"
                                       data-ng-style="editSubjectController.getScoringCSS(grain)"
                                       style="width: 50px;" data-ng-model="grain.grain_data.max_score" ng-change="editSubjectController.updateGrainDebounced(grain)" i18n-placeholder="exercizer.grain.scoring" />
                                </div>
                            </div>

                            <!-- GRAIN INFO/WARNING -->
                            <div class="row" data-ng-if="grain.grain_type_id == 5" stop-child-propagation>
                                <message-info status="info"><i18n>exercizer.grain.openanswer.info</i18n></message-info>
                            </div>

                            <!-- GRAIN STATEMENT -->
                            <div class="row" data-ng-if="grain.grain_type_id > 3" stop-child-propagation>
                                <!-- <label><i18n>exercizer.statement</i18n> :</label> -->
                                <!--<editor data-ng-model="grain.grain_data.statement" inline class="small-editor"></editor>-->
                                <custom-editor placeholder="[['exercizer.grain.statement.placeholder'|i18n]]" text="grain.grain_data.statement" grain="grain" track-input-event="grain.getTracker()"></custom-editor>
                            </div>

                            <!-- GRAIN DOCUMENT LIST -->
                            <!-- Deprecated, but kept for retor-compability with existing grains having documents. -->
                            <div class="row" data-ng-show="grain.grain_data.document_list.length > 0" data-ng-if="grain.grain_type_id > 3">
                                <table class="twelve">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i18n>exercizer.grain.document</i18n>
                                        </th>
                                        <th style="text-align: right">
                                            <i18n>exercizer.grain.action</i18n>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="grainDocument in grain.grain_data.document_list">
                                        <td>
                                            <a href="[[ grainDocument.path ]]" target="_blank">[[ grainDocument.name ]]</a>
                                        </td>
                                        <td style="text-align: right">
                                            <i class="close" data-ng-click="editSubjectController.displayModalRemoveGrainDocument(grain, grainDocument)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- SWITCH GRAIN -->
                            <div data-ng-switch="grain.grain_type_id">
                                <div data-ng-switch-when="3">
                                    <edit-statement data-grain="grain"></edit-statement>
                                </div>
                                <div data-ng-switch-when="4">
                                    <edit-simple-answer data-grain="grain"></edit-simple-answer>
                                </div>
                                <div data-ng-switch-when="5">
                                    <edit-open-answer data-grain="grain"></edit-open-answer>
                                </div>
                                <div data-ng-switch-when="6">
                                    <edit-multiple-answer data-grain="grain"></edit-multiple-answer>
                                </div>
                                <div data-ng-switch-when="7">
                                    <edit-qcm data-grain="grain"></edit-qcm>
                                </div>
                                <div data-ng-switch-when="8">
                                    <edit-association data-grain="grain"></edit-association>
                                </div>
                                <div data-ng-switch-when="9">
                                    <edit-order data-grain="grain"></edit-order>
                                </div>
                                <div data-ng-switch-when="10">
                                    <edit-fill-text data-grain="grain"></edit-fill-text>
                                </div>
                                <div data-ng-switch-when="11">
                                    <edit-zone-text data-grain="grain"></edit-zone-text>
                                </div>
                                <div data-ng-switch-when="12">
                                    <edit-zone-image data-grain="grain"></edit-zone-image>
                                </div>
                                
                            </div>

                            <!-- GRAIN FOOTER -->

                            <section class="grid grid-2 gap-24 mt-24">
                                <!-- GRAIN ANSWER HINT -->
                                <div class="row" data-ng-if="grain.grain_type_id > 3">
                                    <label class="form-label flex align-items-center m-8 gap-8">
                                        <svg class="icon-help" width="22" height="22"><use href="exercizer/public/assets/icons/icons.svg#help"></use></svg>
                                        <i18n>exercizer.grain.help</i18n>
                                    </label>
                                    <div class="cell row">
                                        <em class="form-info"><i18n>exercizer.grain.help.tooltip</i18n></em>
                                    </div>
                                    <div class="twelve cell">
                                        <textarea auto-expand data-ng-model="grain.grain_data.answer_hint" rows="1" data-min-rows="1" ng-change="editSubjectController.updateGrainDebounced(grain)" class="auto-expand"></textarea>
                                    </div>
                                </div>

                                <!-- GRAIN ANSWER EXPLANATION -->
                                <div class="row" data-ng-if="grain.grain_type_id > 3">
                                    <label class="form-label flex align-items-center m-8 gap-8">
                                        <svg class="icon-info" width="22" height="22"><use href="exercizer/public/assets/icons/icons.svg#info"></use></svg>
                                        <i18n>exercizer.grain.explanation</i18n>
                                    </label>
                                    <div class="cell row">
                                        <em class="form-info"><i18n>exercizer.grain.explanation.tooltip</i18n></em>
                                    </div>
                                    <div class="twelve cell">
                                        <textarea auto-expand data-ng-model="grain.grain_data.answer_explanation" ng-change="editSubjectController.updateGrainDebounced(grain)" class="auto-expand"></textarea>
                                    </div>
                                </div>
                            </section>

                            <!-- GRAIN CONTENT (initially folded) -->
                            <section data-ng-switch="grain.grain_type_id" ng-class="{'grid grid-2': !editSubjectController.isChooseStep(grain)}">
                                <div data-ng-switch-when="1" ng-if="grain.id != null">
                                    <choose data-grain="grain"></choose>
                                </div>
                                <div data-ng-switch-when="2">
                                    <choose-answer data-grain="grain"></choose-answer>
                                    <div class="card-footer flex-row justify-end">
                                        <a class="btns btns-flat-primary flex-row align-center text-body px-24 gap-8" data-ng-click="editSubjectController.removeGrain(grain)">
                                            <svg class="icon-trash" width="20" height="20"><use xlink:href="exercizer/public/assets/icons/icons.svg#trash"></use></svg>
                                            <i18n>exercizer.remove</i18n>
                                        </a>
                                    </div>
                                </div>
                            </section>

                            <!-- GRAIN IN-PLACE TOASTER ACTIONS -->
                            <section class="in-place-toaster" data-ng-if="grain.grain_type_id > 2">
                                <div class="row">
                                    <div class="cell right-magnet">
                                        <button class="btns btns-tertiary flex-row align-center text-body-common m-0 p-8 gap-8"
                                                ng-if="grain.grain_type_id>1"
                                                data-ng-click="editSubjectController.duplicate(grain)">
                                            <svg class="icon-copy" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#copy"></use></svg>
                                            <i18n>exercizer.duplicate</i18n>
                                        </button>
                                        <button class="btns btns-tertiary flex-row align-center text-body-common m-0 p-8 gap-8"
                                                data-ng-click="editSubjectController.displayModalRemove(grain)">
                                            <svg class="icon-delete" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#delete"></use></svg>
                                            <i18n>exercizer.remove</i18n>
                                        </button>
                                    </div>
                                </div>
                            </section>

                        </div>

                    </article>
                </div>

                <!-- ADD GRAIN -->
                <div class="flex-row align-center p-0">
                    <a class="btns btns-primary flex-row align-center text-body px-24 mr-16 gap-8" data-ng-click="editSubjectController.addGrainWithType(3)">
                        <svg class="icon-plus" width="20" height="20"><use xlink:href="exercizer/public/assets/icons/icons.svg#plus"></use></svg>
                        <i18n>exercizer.statement.new</i18n>
                    </a>
                    <a class="btns btns-primary flex-row align-center text-body px-24 gap-8" data-ng-click="editSubjectController.addGrainWithType(2)">
                        <svg class="icon-text" width="20" height="20"><use xlink:href="exercizer/public/assets/icons/icons.svg#text"></use></svg>
                        <i18n>exercizer.question.new</i18n>
                    </a>
                </div>

            </section>
        </div>

        <!-- REMOVE GRAIN DOCUMENT MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveGrainDocumentDisplayed" data-on-close="editSubjectController.closeModalRemoveGrainDocument()">
            <h2><i18n>exercizer.grain.doc.remove.title</i18n></h2>
            <p><i18n>exercizer.grain.doc.remove.confirm</i18n></p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeGrainDocument()" class="cell right-magnet"><i18n>exercizer.grain.doc.remove.action</i18n></button>
                <button data-ng-click="editSubjectController.closeModalRemoveGrainDocument()" class="cell right-magnet cancel"><i18n>exercizer.cancel</i18n></button>
            </div>
        </lightbox>

        <!-- REMOVE SELECTED GRAIN LIST MODAL -->
        <lightbox data-show="editSubjectController.isModalRemoveSelectedGrainListDisplayed" data-on-close="editSubjectController.closeModalRemoveSelectedGrainList()">
            <h2><i18n>exercizer.grain.remove.title</i18n></h2>
            <p><i18n>exercizer.grain.remove.confirm</i18n></p>
            <div class="row">
                <button data-ng-click="editSubjectController.removeSelectedGrainList()" class="cell right-magnet"><i18n>exercizer.grain.remove.title</i18n></button>
                <button data-ng-click="editSubjectController.closeModalRemoveSelectedGrainList()" class="cell right-magnet cancel"><i18n>exercizer.cancel</i18n></button>
            </div>
        </lightbox>

        <!-- SCHEDULE SUBJECT MODAL -->
        <subject-schedule></subject-schedule>
    </div>
    <lightbox class="alertchange" data-show="editSubjectController.shouldShowNavigationAlert" data-delegate-close="editSubjectController.canCloseNavigationAlert()" data-tiny="true">
        <p class="centered-text"><i18n>exercizer.subject.navigation.saving</i18n></p>
        <div class="row centered-text bottom-spacing-three">
            <i class="loading"></i>
        </div>
    </lightbox>
</div>