<div data-ng-controller="EditSimpleSubjectController as editSimpleSubjectController" id="edit-subject">

    <!-- LOADER -->
    <div class="row" data-ng-if="!editSimpleSubjectController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="editSimpleSubjectController.hasDataLoaded">

        <!-- TOP HEADER -->
        <div class="row">
            <h1 class="cell twelve-mobile">
                <span class="hover-orange" data-ng-click="editSimpleSubjectController.redirectToDashboard()"><i18n>exercizer.title</i18n></span> / <span class="hover-orange" tooltip="[[editSimpleSubjectController.subject.title]]" data-ng-click="">[[ editSimpleSubjectController.subject.title | limitTo: 35  ]][[ editSimpleSubjectController.subject.title.length > 35 ? '...' : '']]</span>
            </h1>
            <button class="right-magnet cell" data-ng-if="!editSimpleSubjectController.readOnly && editSimpleSubjectController.subject.id" data-ng-click="editSimpleSubjectController.scheduleSubject()">
                <i18n>exercizer.schedule</i18n>
            </button>
            <button class="right-magnet cell" data-ng-click="editSimpleSubjectController.displayModalCopyPaste()" data-ng-if="editSimpleSubjectController.previewingFromLibrary">
                <i18n>exercizer.copy.from.library</i18n>
            </button>
            <button class="right-magnet cell flat-button" data-ng-click="editSimpleSubjectController.redirectToDashboard()">
                <i18n ng-if="editSimpleSubjectController.previewingFromLibrary">exercizer.back.library</i18n>
                <i18n ng-if="!editSimpleSubjectController.previewingFromLibrary">exercizer.back.subject</i18n>
            </button>
        </div>

        <div class="row">
            <form name="formSubjectProperties">
                <div class="rigid-grid row">
                    <div class="two cell clip height-two">
                        <div class="absolute" data-loading-panel="upload-collaborativeeditor-thumbnail" ng-if="editSimpleSubjectController.readOnly">
                                <img ng-src="[[editSimpleSubjectController.subject.picture]]" ng-if="editSimpleSubjectController.subject.picture" class="absolute" />
                                <img skin-src="/img/illustrations/collaborativeeditor-default.png" ng-if="!editSimpleSubjectController.subject.picture" class="absolute" />
                        </div>
                        <div class="absolute" data-loading-panel="upload-collaborativeeditor-thumbnail" ng-if="!editSimpleSubjectController.readOnly">
                            <image-select readonly="editSimpleSubjectController.readOnly" ng-change="editSimpleSubjectController.saveSubjectProperties()"  data-ng-model="editSimpleSubjectController.subject.picture" default="/img/illustrations/collaborativeeditor-default.png"></image-select>
                        </div>
                    </div>
                    <div class="margin-two height-three">
                        <div class="twelve cell horizontal-spacing">
                            <h3><i18n>exercizer.subject.title</i18n></h3>
                            <div data-ng-if="editSimpleSubjectController.readOnly" class="twelve cell">[[editSimpleSubjectController.subject.title]]</div>
                            <input type="text" maxlength="200" data-ng-if="!editSimpleSubjectController.readOnly" complete-change="editSimpleSubjectController.saveSubjectProperties()" data-ng-click="editSimpleSubjectController.initTitle()" data-ng-model="editSimpleSubjectController.subject.title" style="cursor:default" class="twelve cell" i18n-placeholder="exercizer.subject.title">
                        </div>
                        <div class="twelve cell horizontal-spacing vertical-spacing">
                            <h3><i18n>exercizer.simple.edit.description</i18n></h3>
                            <div data-ng-if="editSimpleSubjectController.readOnly"  style="word-wrap: break-word;" bind-html="editSimpleSubjectController.subject.description"></div>
                            <editor data-ng-if="!editSimpleSubjectController.readOnly"  on-change="editSimpleSubjectController.saveSubjectProperties()" data-ng-model="editSimpleSubjectController.subject.description"></editor>
                        </div>
                        <div data-ng-if="editSimpleSubjectController.subject.corrected_file_id" class="twelve cell horizontal-spacing vertical-spacing">
                            <h3><i18n>exercizer.simple.edit.corrected</i18n></h3>
                            <i class="attachment medium-text"></i>
                            <a data-ng-click="editSimpleSubjectController.downloadCorrectedFile()" target="_blank">
                                &nbsp; [[editSimpleSubjectController.subject.corrected_metadata.filename]]
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- SCHEDULE SUBJECT MODAL -->
        <subject-schedule></subject-schedule>

        <!-- MODAL COPY PAST -->
        <teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>
    </div>
</div>