<div data-ng-controller="PerformSubjectCopyController as performSubjectCopyController">

    <div data-ng-if="isPreview">
        <div data-ng-init="performSubjectCopyController.preview(subject)"></div>
    </div>

    <div data-ng-if="!isPreview">
        <div data-ng-init="performSubjectCopyController.perform()"></div>
    </div>

    <div data-ng-if="performSubjectCopyController.hasDataBeenLoaded">

        <!-- HEADER -->
        <div data-ng-if="isPreview">
            <subject-perform-copy-preview-header data-subject-scheduled="performSubjectCopyController.subjectScheduled"></subject-perform-copy-preview-header>
        </div>

        <div data-ng-if="!isPreview">
            <!--<subject-perform-copy-header></subject-perform-copy-header>-->
        </div>

        <div class="row">
            <!-- LEFT STICKY NAV -->
            <section class="four cell vertical">
                <subject-copy-left-nav data-subject-copy="performSubjectCopyController.subjectCopy"
                                       data-grain-copy-list="performSubjectCopyController.grainCopyList">
                </subject-copy-left-nav>
            </section>

            <!-- CURRENT GRAIN DISPLAYED -->
            <section class="eight cell">
                <subject-perform-copy-display-current-grain-copy data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                                 data-first-grain-copy="performSubjectCopyController.grainCopyList[0]">
                </subject-perform-copy-display-current-grain-copy>
            </section>
        </div>

        <!-- BOTTOM NAV -->
        <!--<subject-perform-copy-bottom-nav></subject-perform-copy-bottom-nav>-->

    </div>
</div>