<div data-ng-controller="PerformSimpleSubjectCopyController as performSimpleSubjectCopyController">

    <!-- LOADER -->
    <div class="row" data-ng-hide="performSimpleSubjectCopyController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="performSimpleSubjectCopyController.hasDataLoaded">

        <div class="row">
            <h1 class="cell">
                <span class="zero-mobile"><span class="hover-orange" data-ng-click="performSimpleSubjectCopyController.redirectToDashboard()"><i18n>exercizer.title</i18n></span> / </span><span class="hover-orange" data-ng-click="">[[ performSimpleSubjectCopyController.subjectScheduled.title | limitTo: 35  ]][[ performSimpleSubjectCopyController.subjectScheduled.title.length > 35 ? '...' : '']]</span>
            </h1>

            <button class="right-magnet cell" data-ng-if="performSimpleSubjectCopyController.canHomeworkSubmit()" data-ng-click="performSimpleSubjectCopyController.openConfirmModal()">
                <i18n>exercizer.simple.submit</i18n>
            </button>

            <button class="right-magnet cell flat-button" data-ng-click="performSimpleSubjectCopyController.redirectToDashboard()">
                <i18n>exercizer.back</i18n>
            </button>
        </div>

        <article class="row">
            <form name="formSubjectProperties">
                <div class="rigid-grid row">
                    <div class="twelve cell horizontal-spacing">
                        <h1>[[performSimpleSubjectCopyController.subjectScheduled.title]]</h1>
                    </div>
                    <div class="twelve cell horizontal-spacing vertical-spacing">
                        <h3><i18n>exercizer.simple.edit.description</i18n></h3>
                        <div style="word-wrap: break-word;" bind-html="performSimpleSubjectCopyController.subjectScheduled.description"></div>
                    </div>
                    <div class="twelve cell horizontal-spacing vertical-spacing">
                        <h3><i18n>exercizer.simple.make.label</i18n></h3>

                        <div data-ng-if="performSimpleSubjectCopyController.canHomeworkSubmit()"
                            class="twelve cell horizontal-spacing select-file input-block align-center" style="margin-top:5px;margin-bottom:5px">

                            <div drop-files="performSimpleSubjectCopyController.newFiles"
                                on-drop="performSimpleSubjectCopyController.setCurrentFileName()"
                                class="droppable flex-row align-center simple-drop" style="width: 25%">

                                    <i ng-class="{'upload': !performSimpleSubjectCopyController.subjectCopy.homework_metadata.filename, 'attachment': performSimpleSubjectCopyController.subjectCopy.homework_metadata.filename}"
                                        class="horizontal-spacing medium-text"></i>

                                    <input ng-readonly="true" type="text"
                                        ng-model="performSimpleSubjectCopyController.subjectCopy.homework_metadata.filename"
                                        data-display-file
                                        class="no-margin"
                                        style="width: 100%!important; border: none;"
                                        i18n-placeholder="exercizer.simple.upload.drag" />
                                    <i ng-class="{
                                        loaded: performSimpleSubjectCopyController.subjectCopy.homework_metadata.filename}">
                                    </i>
                            </div>
                            <div class="hidden-content">
                                <input type="file" style="z-index:-1" files-input-change="performSimpleSubjectCopyController.setCurrentFileName()"  ng-model="performSimpleSubjectCopyController.newFiles" />
                            </div>
                            &nbsp;&nbsp;
                            <button class="file-button flat-button no-margin simple-button" style="width: 20%; margin-top: 25px !important"><i18n ng-if="performSimpleSubjectCopyController.canHomeworkReplace()">exercizer.simple.upload.replace</i18n><i18n ng-if="!performSimpleSubjectCopyController.canHomeworkReplace()">exercizer.simple.upload.choose</i18n></button>
                        </div>
                        <div data-ng-if="performSimpleSubjectCopyController.canHomeworkOnlyView()"
                            class="twelve cell"
                            style="margin-top:5px;margin-bottom:5px">
                            [[performSimpleSubjectCopyController.subjectCopy.homework_metadata.filename]]
                            <span style="color:green">
                                <i18n>exercizer.simple.made.label</i18n>
                                [[performSimpleSubjectCopyController.subjectCopy.submitted_date | date:'dd/MM/yyyy']] <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectCopy.submitted_date | date:'HH:mm']]
                            </span>
                        </div>
                        <div data-ng-if="performSimpleSubjectCopyController.canShowFuturSubmitLabel()">
                            <p class="info tuto">
                                <span>
                                    <i18n>exercizer.future.info</i18n>
                                    <b> [[performSimpleSubjectCopyController.subjectScheduled.begin_date | date:'dd/MM/yyyy']]
                                        <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.begin_date | date:'HH:mm']]
                                    </b>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row horizontal-spacing vertical-spacing">
                        <div class="six cell">
                            <h3><i18n>exercizer.simple.corrected</i18n></h3>
                        </div>
                        <div class="six cell">
                            <h3><i18n>exercizer.simple.individual.corrected</i18n></h3>
                        </div>

                        <div data-ng-if="performSimpleSubjectCopyController.canShowGeneralCorrected()" class="six cell">
                            <span data-ng-if="performSimpleSubjectCopyController.canDownloadCorrected()">
                                <i class="attachment medium-text"></i>
                                <a data-ng-click="performSimpleSubjectCopyController.downloadGeneralCorrectedFile()" target="_blank">
                                    &nbsp; [[performSimpleSubjectCopyController.subjectScheduled.corrected_metadata.filename]]
                                </a>
                            </span>
                            <label data-ng-if="!performSimpleSubjectCopyController.canDownloadCorrected()">
                                <i18n>exercizer.simple.consult.corrected</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'dd/MM/yyyy']]
                                <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'HH:mm']]
                            </label>
                        </div>

                        <div data-ng-if="!performSimpleSubjectCopyController.canShowGeneralCorrected()" class="six cell">
                            <i18n>exercizer.simple.no.corrected</i18n>
                        </div>
                        <div data-ng-if="performSimpleSubjectCopyController.canShowIndividualCorrected()" class="six cell">
                            <span data-ng-if="performSimpleSubjectCopyController.canDownloadCorrected()">
                                <i class="attachment medium-text"></i>
                                <a data-ng-click="performSimpleSubjectCopyController.downloadCorrectedFile()" target="_blank">
                                    &nbsp; [[performSimpleSubjectCopyController.subjectCopy.corrected_metadata.filename]]
                                </a>
                            </span>
                            <label data-ng-if="!performSimpleSubjectCopyController.canDownloadCorrected()">
                                <i18n>exercizer.simple.consult.corrected</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'dd/MM/yyyy']]
                                <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'HH:mm']]
                            </label>
                        </div>
                        <div data-ng-if="!performSimpleSubjectCopyController.canShowIndividualCorrected()" class="six cell">
                            <i18n>exercizer.simple.no.corrected</i18n>
                        </div>
                    </div>
                </div>
            </form>
        </article>

        <!-- Modal confirmation -->
        <lightbox data-show="performSimpleSubjectCopyController.isModalConfirmDisplayed" on-close="performSimpleSubjectCopyController.closeConfirmModal()">
            <h2><i18n>exercizer.simple.make.label</i18n> [[performSimpleSubjectCopyController.subjectScheduled.title | limitTo: 35  ]][[ performSimpleSubjectCopyController.subjectScheduled.title.length > 35 ? '...' : '']]</h2>

            <p><i18n>exercizer.simple.make.confirm</i18n> <em>[[ performSimpleSubjectCopyController.subjectScheduled.title ]]</em> <i18n>exercizer.to</i18n> <strong>[[ performSimpleSubjectCopyController.subjectScheduled.owner_username ]]</strong> ?</p>

            <div class="row">
                <button data-ng-click="performSimpleSubjectCopyController.saveStudentCopy()" class="cell right-magnet"><i18n>exercizer.simple.make.label</i18n></button>
                <button data-ng-click="performSimpleSubjectCopyController.closeConfirmModal()" class="cell right-magnet cancel"><i18n>exercizer.simple.make.cancel</i18n></button>
            </div>
        </lightbox>

    </div>
</div>
