<div data-ng-controller="PerformSimpleSubjectCopyController as performSimpleSubjectCopyController">

    <!-- LOADER -->
    <div class="row" data-ng-hide="performSimpleSubjectCopyController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="performSimpleSubjectCopyController.hasDataLoaded">

        <div class="flex align-items-center justify-space-between mb-16 flex-wrap-wrap">
            <h1 class="cell  flex-inline align-items-center gap-16">
                <svg class="icon-exercizer" width="30" height="30"><use href="exercizer/public/assets/icons/illustrations.svg#exercizer"></use></svg>
                <span class="no-responsive"><span class="hover-orange" data-ng-click="performSimpleSubjectCopyController.redirectToDashboard()"><i18n>exercizer.title</i18n></span> / </span><span class="hover-orange" data-ng-click="">[[ performSimpleSubjectCopyController.subjectScheduled.title | limitTo: 35  ]][[ performSimpleSubjectCopyController.subjectScheduled.title.length > 35 ? '...' : '']]</span>
            </h1>

            <div class="flex-inline gap-16 flex-wrap-wrap mt-16 justify-content-end">
                <button class="button button-secondary" data-ng-click="performSimpleSubjectCopyController.redirectToDashboard()">
                    <svg class="icon-arrowLeft" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#arrowLeft"></use></svg>
                    <i18n>exercizer.back</i18n>
                </button>
    
                <button class="button button-accent" data-ng-if="performSimpleSubjectCopyController.canHomeworkSubmit()" data-ng-click="performSimpleSubjectCopyController.openConfirmModal()">
                    <svg class="icon-send" width="20" height="20"><use xlink:href="exercizer/public/assets/icons/icons.svg#send"></use></svg>
                    <i18n>exercizer.simple.make.submit</i18n>
                </button>
            </div>
        </div>

        <article class="row">
            <form name="formSubjectProperties">
                <div class="flex-row f-column gap-16">
                    <h2 class="text-heading mb-0  fs-7">[[performSimpleSubjectCopyController.subjectScheduled.title]]</h2>
                    <div class="flex-row f-column gap-8">
                        <h2 class="text-subheading mb-0 "><i18n>exercizer.simple.edit.description</i18n></h2>
                        <div class="text-body" style="word-wrap: break-word;" bind-html="performSimpleSubjectCopyController.subjectScheduled.description"></div>
                    </div>
                </div>
            </form>
        </article>
        <article class="flex-row f-column">
            <!--VIEW-->
            <div ng-if="!performSimpleSubjectCopyController.canUpdate"> 
                <h2 class="text-subheading mt-0 mb-16 new-title"><i18n>exercizer.simple.make.title</i18n></h2>
                <div class="selected-subject-scheduled"
                        data-ng-repeat="file in performSimpleSubjectCopyController.subjectCopy.homework_files">
                    <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                    <label class="text-pointer">[[file.metadata.filename]]</label>
                    <button
                        class="download"
                        aria-label="[['exercizer.file.download'|i18n]]"
                        data-ng-click="performSimpleSubjectCopyController.downloadFile(file)"
                        target="_blank">
                        <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                    </button>
                </div>
            </div>
            <div data-ng-if="performSimpleSubjectCopyController.canShowFuturSubmitLabel()">
                <p class="info tuto">
                    <span>
                        <i18n>exercizer.future.info</i18n>
                        <b> [[performSimpleSubjectCopyController.subjectScheduled.begin_date | date:'dd/MM/yyyy']]
                            <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.begin_date | date:'HH:mm']]
                        </b>
                    </span>
                </p>
            </div>
            <div data-ng-if="performSimpleSubjectCopyController.canUpdate"
                    class="cell input-block align-center">
                <h2 class="text-subheading new-title"><i18n>exercizer.all.submitted.copies</i18n></h2>
                <message-info status="info"><i18n>exercizer.file.limit5</i18n></message-info>
                <!-- DOWNLOAD / REMOVE -->
                <div class="mt-16">
                    <div class="selected-subject-scheduled mb-4"
                            ng-repeat="file in performSimpleSubjectCopyController.subjectCopy.homework_files">
                        <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                        <label class="text-pointer">[[file.metadata.filename]]</label>
                        <button
                            class="download"
                            aria-label="[['exercizer.file.download'|i18n]]"
                            data-ng-click="performSimpleSubjectCopyController.downloadFile(file)"
                            target="_blank">
                            <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                        </button>
                        <button
                            class="remove"
                            data-ng-click="performSimpleSubjectCopyController.deleteFile(file)"
                            title="[['exercizer.remove'|i18n]]"
                            aria-label="[['exercizer.remove'|i18n]]">
                            <svg class="icon-delete" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#delete"></use></svg>
                        </button>
                    </div>
                </div>
                <!-- ADD -->
                <div class="row media-library mt-16" ng-if="performSimpleSubjectCopyController.subjectCopy.homework_files.length < 5">
                    <div
                        id="simple-correction-id"
                        class="drop-zone import-files import-files-custom"
                        drop-files="performSimpleSubjectCopyController.newFiles"
                        on-drop="performSimpleSubjectCopyController.uploadFile()">
                        <article class="default flex-row align-center">
                            <div class="select-file">
                                <div class="hidden-content">
                                    <input
                                        type="file"
                                        files-input-change="performSimpleSubjectCopyController.uploadFile()" 
                                        ng-model="performSimpleSubjectCopyController.newFiles" />
                                </div>
                                <button class="file-button no-margin"><i18n>exercizer.simple.upload.choose</i18n></button>
                            </div>
                            <div>
                                <svg class="icon-upload" width="24" height="24"><use href="exercizer/public/assets/icons/icons.svg#upload"></use></svg>
                                <div class="help">
                                    <em><i18n>exercizer.drop.limit5</i18n></em>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </article>
        <div class="flex-row gap-24">
            <article class="six flex-row f-column gap-8" data-ng-if="performSimpleSubjectCopyController.canShowGeneralCorrected()">
                <h2 class="text-subheading"><i18n>exercizer.simple.corrected</i18n></h2>
                <div class="text-body">
                    <div class="selected-subject-scheduled mb-4" 
                            ng-if="performSimpleSubjectCopyController.canDownloadCorrected()"
                            ng-repeat="doc in performSimpleSubjectCopyController.subjectScheduled.files"
                            data-ng-click="performSimpleSubjectCopyController.downloadGeneralCorrectedFile(doc)">
                        <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                        <label class="text-pointer">[[doc.metadata.filename]]</label>
                        <button
                            class="download"
                            aria-label="[['exercizer.file.download'|i18n]]"
                            data-ng-click="performSimpleSubjectCopyController.downloadGeneralCorrectedFile(doc)"
                            target="_blank">
                            <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                        </button>
                    </div>
                    <label data-ng-if="!performSimpleSubjectCopyController.canDownloadCorrected()">
                        <i18n>exercizer.simple.consult.corrected</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'dd/MM/yyyy']]
                        <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'HH:mm']]
                    </label>
                </div>
            </article>
            <article class="six flex-row f-column gap-8" data-ng-if="performSimpleSubjectCopyController.canShowIndividualCorrected()">
                <h2 class="text-subheading"><i18n>exercizer.simple.individual.corrected</i18n></h2>
                <div class="text-body">
                    <div class="selected-subject-scheduled" 
                            ng-if="performSimpleSubjectCopyController.canDownloadCorrected()"
                            ng-repeat="file in performSimpleSubjectCopyController.subjectCopy.corrected_files"
                            data-ng-click="performSimpleSubjectCopyController.downloadCorrectedFile(file)">
                        <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                        <label class="text-pointer">[[file.metadata.filename]]</label>
                        <button
                            class="download"
                            aria-label="[['exercizer.file.download'|i18n]]"
                            data-ng-click="performSimpleSubjectCopyController.downloadCorrectedFile(file)"
                            target="_blank">
                            <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                        </button>
                    </div>
                    <label data-ng-if="!performSimpleSubjectCopyController.canDownloadCorrected()">
                        <i18n>exercizer.simple.consult.corrected</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'dd/MM/yyyy']]
                        <i18n>exercizer.at</i18n> [[performSimpleSubjectCopyController.subjectScheduled.corrected_date | date:'HH:mm']]
                    </label>
                </div>
            </article>
        </div>
        <!-- Modal confirmation -->
        <lightbox data-show="performSimpleSubjectCopyController.isModalConfirmDisplayed" on-close="performSimpleSubjectCopyController.closeConfirmModal()">
            <h2><i18n>exercizer.simple.make.label</i18n> [[performSimpleSubjectCopyController.subjectScheduled.title | limitTo: 35  ]][[ performSimpleSubjectCopyController.subjectScheduled.title.length > 35 ? '...' : '']]</h2>

            <p><i18n>exercizer.simple.make.confirm</i18n> <em>[[ performSimpleSubjectCopyController.subjectScheduled.title ]]</em> <i18n>exercizer.to</i18n> <strong>[[ performSimpleSubjectCopyController.subjectScheduled.owner_username ]]</strong> ?</p>

            <div class="row">
                <button data-ng-click="performSimpleSubjectCopyController.saveStudentCopy()" class="cell right-magnet"><i18n>exercizer.simple.make.label</i18n></button>
                <button data-ng-click="performSimpleSubjectCopyController.closeConfirmModal()" class="cell right-magnet cancel"><i18n>exercizer.simple.make.cancel</i18n></button>
            </div>
        </lightbox>

    </div>
</div>