<div data-ng-controller="PerformSubjectCopyController as performSubjectCopyController">

    <!-- LOADER -->
    <div class="row" data-ng-hide="performSubjectCopyController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="performSubjectCopyController.hasDataLoaded && performSubjectCopyController.grainCopyList.length > 0">

        <!-- PREVIEW HEADER -->
        <div data-ng-if="performSubjectCopyController.previewing">
            <subject-perform-copy-preview-header data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                 data-grain-scheduled-list="performSubjectCopyController.grainScheduledList"
                                                 data-grain-copy-list="performSubjectCopyController.grainCopyList"
                                                 data-previewing-from-library="performSubjectCopyController.previewingFromLibrary"
                                                 data-previewing-reader="performSubjectCopyController.previewFromReader">
            </subject-perform-copy-preview-header>
        </div>

        <!-- HEADER -->
        <div data-ng-if="!performSubjectCopyController.previewing">
            <subject-perform-copy-student-header data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                 daya-is-can-submit="performSubjectCopyController.isCanSubmit"
                                                 data-current-grain-copy="performSubjectCopyController.currentGrainCopy">
            </subject-perform-copy-student-header>
        </div>

        <div class="row" data-ng-if="!performSubjectCopyController.isCanSubmit && !performSubjectCopyController.subjectCopy.is_training_copy">
            <div class="info"><i18n>exercizer.check.corrected</i18n></div>
        </div>

        <div class="row">
            <!-- LEFT NAV -->
            <section class="three cell vertical side-col">
                <subject-copy-left-nav data-anchor-behaviour="false"
                                       data-grain-copy-list="performSubjectCopyController.grainCopyList">
                </subject-copy-left-nav>
            </section>

            <section class="nine cell main-col twelve-mobile">
                <!-- CURRENT GRAIN COPY DISPLAYED -->
                <subject-perform-copy-display-current-grain-copy data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                                 data-previewing="performSubjectCopyController.previewing"
                                                                 data-grain-copy-list="performSubjectCopyController.grainCopyList"
                                                                 data-current-grain-copy="performSubjectCopyController.currentGrainCopy">
                </subject-perform-copy-display-current-grain-copy>

                <!-- BOTTOM NAV -->
                <subject-perform-copy-bottom-nav data-grain-copy-list="performSubjectCopyController.grainCopyList"
                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                 data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                 data-is-can-submit="performSubjectCopyController.isCanSubmit">
                </subject-perform-copy-bottom-nav>
            </section>
        </div>
    </div>

    <!-- NO DATA -->
    <div class="row" data-ng-if="performSubjectCopyController.hasDataLoaded && performSubjectCopyController.grainCopyList.length === 0">
        <!-- PREVIEW HEADER -->
        <div data-ng-if="performSubjectCopyController.previewing">
            <subject-perform-copy-preview-header data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                 data-subject-copy="performSubjectCopyController.subjectCopy"
                                                 data-grain-scheduled-list="performSubjectCopyController.grainScheduledList"
                                                 data-grain-copy-list="performSubjectCopyController.grainCopyList"
                                                 data-previewing-from-library="performSubjectCopyController.previewingFromLibrary"
                                                 data-previewing-reader="performSubjectCopyController.previewFromReader">
            </subject-perform-copy-preview-header>
        </div>

        <!-- HEADER -->
        <div data-ng-if="!performSubjectCopyController.previewing">
            <subject-perform-copy-student-header data-subject-scheduled="performSubjectCopyController.subjectScheduled"
                                                 data-subject-copy="performSubjectCopyController.subjectCopy">
            </subject-perform-copy-student-header>
        </div>
        <div class="warning"><i18n>exercizer.subject.empty</i18n></div>
    </div>

</div>
