<div data-ng-controller="PrintSubjectController as printSubjectController" id="print-subject" style="background-color: white;">
    <div class="row" data-ng-if="!printSubjectController.hasDataLoaded">
        <div class="info">
            <i18n>exercizer.loading</i18n>
        </div>
    </div>

    <div data-ng-if="printSubjectController.hasDataLoaded">

        <div class="row">
            <h1 class="app-title">
              <i class="exercizer"></i>
              [[ printSubjectController.getSubjectTitle() ]]
            </h1>
        </div>

        <article ng-if="printSubjectController.isScheduled()" class="grain-perform">
            <h2 class="row"><i18n>exercizer.summary</i18n></h2>
            <div>
                <strong class="row vertical-spacing"><i18n>exercizer.summary.date</i18n> [[ !printSubjectController.getScheduledDueDate() ? ': ' + printSubjectController.translate('exercizer.summary.nodate') : printSubjectController.getScheduledDueDate() | date: 'dd/MM/yyyy' + ' ' + printSubjectController.translate('exercizer.at') +' '+ (printSubjectController.getScheduledDueDate() | date:'HH:mm')]]</strong>
                <strong class="row vertical-spacing"><i18n>exercizer.summary.make</i18n> : [[ !printSubjectController.getScheduledEstimationDuration() ? printSubjectController.translate('exercizer.summary.nomake') : printSubjectController.getScheduledEstimationDuration() + ' ' + printSubjectController.translate('exercizer.minute') ]]</strong>
                <div class="row vertical-spacing" ng-bind-html="printSubjectController.getScheduledDescription()"></div>
            </div>
        </article>
        <article ng-if="!printSubjectController.isScheduled()" class="grain-perform">
            <h2 class="row"><i18n>exercizer.summary</i18n></h2>
            <div>
                <div class="row vertical-spacing" ng-bind-html="printSubjectController.getSubjectDescription()"></div>
            </div>
        </article>

        <div ng-repeat="grain in printSubjectController.grainList | orderBy:'order_by'">

            <!-- Enoncé -->
            <div ng-if="printSubjectController.isStatement(grain)">
                <article id="print--exercizer__summary grain-edit-5">
                    <div>
                        <h2>[[ printSubjectController.getGrainTitle(grain) ]]</h2>
                        <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.statement</i18n></h3>
                        <div ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    </div>
                </article>
                <br>
            </div>

            <!-- Réponse simple -->
            <div ng-if="printSubjectController.isSimpleAnswer(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.simpleanswer</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <h4><i18n>exercizer.grain.filltext.editor.text.answer</i18n> :</h4>
                    <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                        <div>[[ printSubjectController.getCorrectAnswer(grain) ]]</div>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="cell twelve horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="cell twelve print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Réponse ouverte -->
            <div ng-if="printSubjectController.isOpenAnswer(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.openanswer</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row vertical-spacing">
                        <textarea class="twelve cell" i18n-placeholder="exercizer.grain.oanswer.info" disabled></textarea>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell  print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Réponses multiples -->
            <div ng-if="printSubjectController.isMultipleAnswer(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.multipleanswers</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row" data-ng-if="printSubjectController.getGrainTypeOf(grain).id > 5 && grain.grain_data.custom_data.no_error_allowed">
                      <div class="warning"><i18n>exercizer.grain.no.error.allowed</i18n></div>
                    </div>
                    <h4><i18n>exercizer.grain.asso.responses.header1</i18n> :</h4>
                    <div ng-repeat="answer in printSubjectController.getCorrectAnswers(grain)" contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                        <div class="">[[ answer.text ]]</div>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- QCM -->
            <div ng-if="printSubjectController.isQCM(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.qcm</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row" data-ng-if="printSubjectController.getGrainTypeOf(grain).id > 5 && grain.grain_data.custom_data.no_error_allowed">
                      <div class="warning"><i18n>exercizer.grain.no.error.allowed</i18n></div>
                    </div>
                    <div class="row">
                        <table class="twelve">
                          <thead>
                            <tr>
                                <th style="width: 150px">
                                    <i18n>exercizer.grain.qcm.responses.header1</i18n>
                                </th>
                                <th>
                                    <i18n>exercizer.grain.qcm.responses.header2</i18n>
                                </th>
                            </tr>
                          </thead>
                            <tbody>
                                <tr ng-repeat="answer in printSubjectController.getCorrectAnswers(grain)">
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-checked="answer.isChecked" onClick="return false">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p class="no-margin" i18n-placeholder="exercizer.grain.qcm.answer.info">[[answer.text]]</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="cell twelve horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Association -->
            <div ng-if="printSubjectController.isAssociation(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.association</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row" data-ng-if="printSubjectController.getGrainTypeOf(grain).id > 5 && grain.grain_data.custom_data.no_error_allowed">
                      <div class="warning"><i18n>exercizer.grain.no.error.allowed</i18n></div>
                    </div>
                    <div class="row">
                        <table class="twelve">
                            <thead>
                                <tr>
                                    <th>
                                        <i18n>exercizer.grain.asso.responses.header1</i18n>
                                    </th>
                                    <th>
                                        <i18n>exercizer.grain.asso.responses.header2</i18n>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="answer in printSubjectController.getCorrectAnswers(grain)">
                                    <td style="width: 50%">
                                        <input disabled type="text" style="width: 100%; margin-bottom: 0px; border-bottom: 0px;" ng-value="answer.text_left" i18n-placeholder="exercizer.grain.qcm.answer.info">
                                    </td>
                                    <td style="width: 50%">
                                        <p class="no-margin" i18n-placeholder="exercizer.grain.qcm.answer.info">[[answer.text_right]]</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-Associaforce-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
                <br>
            </div>

            <!-- Mise en ordre -->
            <div ng-if="printSubjectController.isOrderBy(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.orderby</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row" data-ng-if="printSubjectController.getGrainTypeOf(grain).id > 5 && grain.grain_data.custom_data.no_error_allowed">
                      <div class="warning"><i18n>exercizer.grain.no.error.allowed</i18n></div>
                    </div>
                    <div class="row">
                        <table class="twelve">
                            <thead>
                                <tr>
                                    <th style="width:150px">
                                        <i18n>exercizer.grain.type.order</i18n>
                                    </th>
                                    <th>
                                        <i18n>exercizer.grain.asso.responses.header1</i18n>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="answer in printSubjectController.getCorrectAnswers(grain) | orderBy:'order_by'">
                                    <td>
                                        <input disabled type="text" style="width: 100%; margin-bottom: 0px; border-bottom: 0px;" ng-value="answer.order_by">
                                    </td>
                                    <td>
                                        <p class="no-margin" i18n-placeholder="exercizer.grain.qcm.answer.info">[[answer.text]]</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
                <br>
            </div>

            <!-- Texte à trous -->
            <div ng-if="printSubjectController.isTextToFill(grain)">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.texttofill</i18n>, [[ printSubjectController.translate(printSubjectController.getGrainType(grain)) ]]</h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div ng-bind-html="printSubjectController.getHtmlContent(grain)" contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Zone à remplir (texte) -->
            <div ng-if="printSubjectController.isAreaSelect(grain)" style="page-break-inside: avoid;">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.areaselect</i18n>, [[ printSubjectController.translate(printSubjectController.getGrainType(grain)) ]]</h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row">
                        <div class="drawing-zone base-image">
                            <div class="image-container">
                                <div>
                                    <img style="max-width: 760px; max-height: 600px;" id="[[ grain.id ]]-bckgrnd" ng-src="[[ printSubjectController.getImage(grain) ]]">
                                </div>
                            </div>
                            <article ng-repeat="zone in printSubjectController.getZones(grain)" draggable="false" style="padding: 0px; position: absolute;"
                            ng-style="{ 'left' : printSubjectController.transformX(grain,zone.position.x,false)+'px', 'top' : printSubjectController.transformY(grain,zone.position.y,false)+'px', 'z-index' : zone.position.z }">
                                <text-zone class="">
                                    <span class="">[[ zone.answer ]]</span>
                                </text-zone>
                            </article>
                        </div>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
                <br>
            </div>

            <!-- Zone à remplir (image) -->
            <div ng-if="printSubjectController.isAreaSelectImage(grain)" style="page-break-inside: avoid;">
                <article id="grain-edit-6" class="row">
                    <h2>[[ printSubjectController.getGrainOrder(grain) ]]) [[printSubjectController.getGrainTitle(grain) ]] - [[ printSubjectController.getGrainScore(grain) ]] <i18n>exercizer.score</i18n></h2>
                    <h3><i18n>exercizer.type</i18n> : <i18n>exercizer.grain.type.areaselectimage</i18n></h3>
                    <h4><i18n>exercizer.grain.type.statement</i18n>:</h4>
                    <div class="bottom-spacing-twice" ng-bind-html="printSubjectController.getGrainStatement(grain)"></div>
                    <div class="row">
                        <div class="drawing-zone base-image">
                            <div class="image-container">
                                <div>
                                    <img style="max-width: 760px; max-height: 600px;" id="[[ grain.id ]]-bckgrnd" ng-src="[[ printSubjectController.getImage(grain) ]]">
                                </div>
                            </div>
                            <article ng-repeat="zone in printSubjectController.getZones(grain)" draggable="false" style="padding: 0px; position: absolute;"
                            ng-style="{ 'left' : printSubjectController.transformX(grain,zone.position.x,false)+'px', 'top' : printSubjectController.transformY(grain,zone.position.y,false)+'px', 'z-index' : zone.position.z }">
                                <image-zone>
                                    <img style="max-width: 100px; max-height: 100px;" ng-src="[[ zone.answer ]]">
                                </image-zone>
                            </article>
                        </div>
                    </div>
                    <div class="row" ng-if="printSubjectController.getGrainExplanation(grain)">
                        <div class="twelve cell horizontal-spacing" style="padding-right: 16px;">
                            <i class="info-pic" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__info">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div>[[ printSubjectController.getGrainExplanation(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row top-spacing-four" ng-if="printSubjectController.getGrainHint(grain)">
                        <div class="twelve cell horizontal-spacing">
                            <i class="help" id="surcharge-force-cursor-default"></i>
                        </div>
                        <div class="twelve cell print--exercizer__help">
                            <div contenteditable="false" class="drawing-zone" style="min-height: 25px;">
                                <div class="">[[ printSubjectController.getGrainHint(grain) ]]</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
</div>
