<div data-ng-controller="StudentDashboardController as studentDashboardController">
    <!-- PAGE -->
    <div class="row">
        <h1 class="cell zero-mobile">
            <span class="hover-orange"><i18n>exercizer.title</i18n></span>
        </h1>
        <div class="cell right-magnet"  workflow="exercizer.create">
            <div class="label-badge" style="padding: 5px 10px 5px 10px;" data-ng-click="studentDashboardController.switchToTeacherView()">
                <span class="cell"><i18n>exercizer.switch.instructer</i18n></span>
                <i role="close" class="right-magnet"></i>
            </div>
        </div>
    </div>
    <div class="row twelve cell tabs">
        <div class="cell">
            <header data-ng-class="{'selected': data.tabSelected == 'subjectCopyList'}"
                    data-ng-click="data.tabSelected = 'subjectCopyList'">
                <i18n>exercizer.dashboard.learner.tab1</i18n>
            </header>
            <header data-ng-class="{'selected': data.tabSelected == 'finishSubjectCopyList'}"
                    data-ng-click="data.tabSelected = 'finishSubjectCopyList'">
                <i18n>exercizer.dashboard.learner.tab2</i18n>
            </header>
            <header data-ng-class="{'selected': data.tabSelected == 'trainingSubjectCopyList'}"
                    data-ng-click="data.tabSelected = 'trainingSubjectCopyList'">
                <i18n>exercizer.dashboard.learner.tab3</i18n>
            </header>
        </div>
    </div>
    <div class="vertical-spacing">
        &nbsp;
    </div>
    <!-- switch -->
    <div ng-switch="data.tabSelected">
        <div ng-switch-when="subjectCopyList">
            <student-dashboard-subject-copy-list></student-dashboard-subject-copy-list>
        </div>
        <div ng-switch-when="finishSubjectCopyList">
            <student-dashboard-finish-subject-copy-list></student-dashboard-finish-subject-copy-list>
        </div>
        <div ng-switch-when="trainingSubjectCopyList">
            <student-dashboard-training-subject-copy-list></student-dashboard-training-subject-copy-list>
        </div>
        <div ng-switch-default>Default</div>
    </div>
</div>
