<div data-ng-controller="StudentDashboardController as studentDashboardController">
    <!-- PAGE -->
    <div class="row">
        <h1>
            Exercizer
        </h1>
    </div>
    <div class="row twelve cell tabs" data-ng-init="data.tabSelected = 'subjectCopyList'">
        <div class="cell">
            <header data-ng-class="{'selected': data.tabSelected == 'subjectCopyList'}"
                    data-ng-click="data.tabSelected = 'subjectCopyList'"
            >
                Mes sujets
            </header>
            <header data-ng-class="{'selected': data.tabSelected == 'finishSubjectCopyList'}"
                    data-ng-click="data.tabSelected = 'finishSubjectCopyList'"
            >
                Terminer
            </header>
        </div>
    </div>
    <div class="vertical-spacing">
        &nbsp;
    </div>
    <!-- switch -->
    <div ng-switch="data.tabSelected">
        <div ng-switch-when="subjectCopyList">
            <student-dashboard-subject-copy-list></student-dashboard-subject-copy-list>
        </div>
        <div ng-switch-when="finishSubjectCopyList">
            <student-dashboard-finish-subject-copy-list></student-dashboard-finish-subject-copy-list>
       </div>
        <div ng-switch-default>Default</div>
    </div>
</div>
