<div class="row">
    <div class="cell">
        <h1>Exercizer - titre de mon sujet</h1>
    </div>
    <div class="right-magnet cell">
        <button>Programmer</button>
    </div>
</div>

<div class="row">
    <div class="four cell">
        <div class="row">
            <div class="eleven cell">
                <subject-organizer></subject-organizer>
            </div>
        </div>
        <div class="row">
            <article class="eleven cell">
                <h2>Mes sujets</h2>
                <subjects-tree></subjects-tree>
            </article>
        </div>
    </div>
    <div class="eight cell">
        <edit-sample></edit-sample>
    </div>
</div>