<div data-ng-controller="TeacherDashboardController as teacherDashboardController">

    <!-- LIGHT BOX -->
    <lightbox-subject-properties
            data-is-displayed="teacherDashboardController.openLightboxSubjectProperties"
    ></lightbox-subject-properties>
    <lightbox-edit-folder></lightbox-edit-folder>
    <lightbox-schedule-subject></lightbox-schedule-subject>
    <lightbox-delete-selection></lightbox-delete-selection>
    <!-- PAGE -->
    <div class="row">
        <h1>
            Exercizer
        </h1>
    </div>
    <div class="row twelve cell tabs">
        <div class="cell">
            <header class="selected">
                Mes sujets
            </header>
            <header>
                Bibliothèque
            </header>
        </div>
        <button class="right-magnet cell" data-ng-click="teacherDashboardController.displaySubjectProperties()">
            Nouveau sujet
        </button>
    </div>
    <teacher-dashboard-subject-list></teacher-dashboard-subject-list>
</div>