<div data-ng-controller="TeacherDashboardController as teacherDashboardController" data-ng-init="teacherDashboardController.currentTab = 1">
    <!-- TABS -->
    <div class="row">
        <h1>
            Exercizer
        </h1>
    </div>
    <div class="row twelve cell tabs" style="margin-bottom: 30px;">
        <div class="cell">
            <header data-ng-click="teacherDashboardController.currentTab = 1" data-ng-class="{ selected: teacherDashboardController.currentTab === 1 }">
                Mes sujets
            </header>
            <header class="horizontal-spacing" data-ng-click="teacherDashboardController.currentTab = 2" data-ng-class="{ selected: teacherDashboardController.currentTab === 2 }">
                Corrections
            </header>
            <header data-ng-click="teacherDashboardController.currentTab = 3" data-ng-class="{ selected: teacherDashboardController.currentTab === 3 }">
                Bibliothèque
            </header>
        </div>
    </div>

    <!-- TABS' PAGES -->
    <div data-ng-switch="teacherDashboardController.currentTab">
        <div data-ng-switch-when="1">
            <div data-ng-include data-src="'/exercizer/public/template/teacher-dashboard-subject-tab.html'"></div>
        </div>
        <div data-ng-switch-when="2">
            <div class="row">
                <h1>Corrections</h1>
            </div>
        </div>
        <div data-ng-switch-when="3">
            <div class="row">
                <h1>Bibliothèque</h1>
            </div>
        </div>
    </div>
</div>