<div class="row">
    <h1 class="cell">
        Exercizer - titre de mon sujet
    </h1>
    <button class="right-magnet cell">
        Programmer
    </button>
</div>
<div class="row">
    <section class="four cell vertical">
        <nav class="vertical">
            <article>
                <subject-organizer></subject-organizer>
            </article>
            <article>
                <subjects-tree data-show-create-folder="false"></subjects-tree>
            </article>
        </nav>
    </section>
    <section class="eight cell">
        <edit-statement></edit-statement>
        <edit-open-question></edit-open-question>
        <add-one-element></add-one-element>
    </section>
</div>