<div data-ng-controller="TeacherHomeCtrl as teacherHomeCtrl">
    <div class="row">
        <h1 class="cell">
            Exercizer
        </h1>
    </div>
    <div class="row">
        <button class="right-magnet cell" data-ng-click="teacherHomeCtrl.clickCreateNewSubject()">
            Nouveau sujet
        </button>
    </div>
    <div class="row">
        <section class="four cell vertical">
            <nav class="vertical">
                <subjects-tree></subjects-tree>
                <a class="classic-link cell">
                    Créer un dossier
                </a>
            </nav>
        </section>
        <section class="eight cell">
            <h1>TEST</h1>
        </section>
    </div>
</div>