<dashboard-teacher-tab current-tab="'library'"></dashboard-teacher-tab>

<div data-ng-controller="TeacherDashboardLibraryTabController as teacherDashboardLibraryTabController">

    <!-- LOADER -->
    <div class="row" data-ng-if="!teacherDashboardLibraryTabController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="teacherDashboardLibraryTabController.hasDataLoaded">

        <div class="row">

            <!-- LEFT STICKY NAV -->
            <section class="four cell vertical">
                <nav data-stick-to-top class="hash-magnet floating-navigation">

                    <!-- FILTERS -->
                    <article>
                        <div class="row">
                            <h2 class="cell"><i18n>exercizer.library.filter</i18n></h2>

                            <!-- toggle icon -->
                            <div class="cell right-magnet" data-ng-click="teacherDashboardLibraryTabController.foldFilters()">
                              <div class="choice-view">
                                <i data-ng-show="teacherDashboardLibraryTabController.areFiltersFolded" data-tooltip="exercizer.unfold" class="down-open"></i>
                                <i data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded" data-tooltip="exercizer.fold" class="up-open"></i>
                              </div>
                            </div>
                        </div>

                        <div class="row" data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded">
                            <div class="tabs">
                                <header data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeDisplayed ? 'selected' : ''"
                                        data-ng-click="teacherDashboardLibraryTabController.displayFilterSubjectLessonType()">
                                    <i18n>exercizer.library.filter.subject</i18n>&nbsp;<span data-ng-show="teacherDashboardLibraryTabController.filters.subjectLessonTypeList.length > 0">*</span>
                                </header>
                                <header data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelDisplayed ? 'selected' : ''"
                                        data-ng-click="teacherDashboardLibraryTabController.displayFilterSubjectLessonLevel()">
                                    <i18n>exercizer.library.filter.level</i18n>&nbsp;<span data-ng-show="teacherDashboardLibraryTabController.filters.subjectLessonLevelList.length > 0">*</span>
                                </header>
                            </div>
                        </div>

                        <div class="row vertical-spacing" style="overflow-y:scroll; max-height: 350px; border:1px dotted lightgrey;" data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded">
                            <div data-ng-show="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeDisplayed">
                                <div class="cell custom-filter-button-library"
                                     data-ng-repeat="subjectLessonType in teacherDashboardLibraryTabController.subjectLessonTypeList"
                                     data-ng-click="teacherDashboardLibraryTabController.selectFilterSubjectLessonType(subjectLessonType)"
                                     data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeSelected(subjectLessonType) ? 'custom-selected' : ''">
                                    [[ subjectLessonType.label ]]
                                </div>
                            </div>
                            <div data-ng-show="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelDisplayed">
                                <div class="cell custom-filter-button-library"
                                     data-ng-repeat="subjectLessonLevel in teacherDashboardLibraryTabController.subjectLessonLevelList"
                                     data-ng-click="teacherDashboardLibraryTabController.selectFilterSubjectLessonLevel(subjectLessonLevel)"
                                     data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelSelected(subjectLessonLevel) ? 'custom-selected' : ''">
                                    [[ subjectLessonLevel.label ]]
                                </div>
                            </div>
                        </div>
                    </article>
                </nav>
            </section>

            <!-- SUBJECT LIST -->
            <section class="eight cell">

                <!-- FILTERS -->

                <div class="row">
                    <h4 class="five cell"><i18n>exercizer.library.search.tag</i18n> :</h4>
                    <div class="one cell">&nbsp;</div>
                    <h4 class="five cell"><i18n>exercizer.library.search.title</i18n> :</h4>
                </div>

                <div class="row">
                    <div class="five cell">
                        <autocomplete
                            options="teacherDashboardLibraryTabController.autocompleteSubjectTagList"
                            ng-change="teacherDashboardLibraryTabController.selectSubjectTag(selectedSubjectTagObject)"
                            ng-model="selectedSubjectTagObject">
                        </autocomplete>
                    </div>
                    <div class="one cell">&nbsp;</div>
                    <input type="text" class="five cell" i18n-placeholder="exercizer.search" data-ng-model="teacherDashboardLibraryTabController.filters.title" />
                </div>


                <div class="row vertical-spacing">
                    <div class="label-badge" data-ng-repeat="subjectTag in teacherDashboardLibraryTabController.filters.subjectTagList">
                        <span class="cell">[[ subjectTag.label ]]</span>
                        <span class="cell right-magnet" data-ng-click="teacherDashboardLibraryTabController.removeFromSelectedSubjectTagList(subjectTag)">
                            <i class="close"></i>
                        </span>
                    </div>
                </div>

                <h3 class="row">
                    <em translate content="[[teacherDashboardLibraryTabController.isLanding ? 'exercizer.library.title.main' : 'exercizer.library.title.search']]"></em>
                </h3>

                <div class="fallen dominos">
                    <explorer
                        data-ng-repeat="subject in teacherDashboardLibraryTabController.subjectList"
                        ng-model="subject.selected"
                        ng-change="teacherDashboardLibraryTabController.selectSubject(subject)"
                        on-open="teacherDashboardLibraryTabController.previewSelectedSubject()"
                    >
                        <div data-ng-if="teacherDashboardLibraryTabController.searchByFilters(subject)" class="item" style="width: 100%; max-width: none;">
                            <section class="domino">
                                <div class="top">
                                    <img class="absolute" data-ng-click="teacherDashboardLibraryTabController.previewSelectedSubject(subject)" data-ng-src="[[ teacherDashboardLibraryTabController.getSubjectPicture(subject) ]]" />
                                </div>
                                <div class="bottom">
                                    <div class="content">
                                        <div class="row custom-ellipsis">
                                            <div class="cell title-icon">
                                                <i class="[[subject.type === 'simple' ? 'file-upload' : 'file-interactive']]" tooltip="[[subject.type === 'simple' ? 'exercizer.simple.subject' : 'exercizer.interactive.subject']]"></i>
                                            </div>
                                            <strong data-ng-click="teacherDashboardLibraryTabController.previewSelectedSubject(subject)">[[ subject.title ]]</strong>
                                        </div>
                                        <div class="row">
                                            <div class="cell">
                                                [[ teacherDashboardLibraryTabController.getSubjectLessonType(subject).label ]]&nbsp;/&nbsp;<em><i18n>exercizer.library.row.level</i18n> [[ teacherDashboardLibraryTabController.getSubjectLessonLevel(subject).label ]]</em>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="subject-library-tag" data-ng-repeat="subjectTag in teacherDashboardLibraryTabController.getSubjectTags(subject)" data-ng-click="teacherDashboardLibraryTabController.selectSubjectTag(subjectTag)">
                                                [[ subjectTag.label ]]
                                            </div>
                                        </div>
                                        <div class="row">
                                            <i18n>exercizer.library.row.owner</i18n> [[ subject.owner_username ]] <i18n>exercizer.library.row.owner2</i18n> [[ subject.created | date: 'dd/MM/yyyy' ]]
                                        </div>

                                        <div class="bottom-locked eleven vertical-spacing-tripple">
                                            <div class="cell" data-ng-if="subject.authors_contributors">
                                                <em class="high-importance"><i18n>exercizer.library.row.contributor</i18n> : [[ subject.authors_contributors ]]</em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </section>

        </div>

        <!-- TOASTER -->
        <section class="toggle-buttons" data-ng-show="teacherDashboardLibraryTabController.isToasterDisplayed()">
            <div class="toggle">
                <div class="row">
                    <div class="cell">
                        <button data-ng-click="teacherDashboardLibraryTabController.unpublish()" data-ng-show="teacherDashboardLibraryTabController.onlyOneOwnerSubjectIsSelected()"><i18n>exercizer.library.toaster.unpublish</i18n></button>
                        <button data-ng-click="teacherDashboardLibraryTabController.previewSelectedSubject()" data-ng-show="teacherDashboardLibraryTabController.onlyOneSubjectIsSelected()"><i18n>exercizer.library.toaster.preview</i18n></button>
                        <button data-ng-click="teacherDashboardLibraryTabController.displayModalCopyPaste()"><i18n>exercizer.library.toaster.copy</i18n></button>
                    </div>
                </div>
            </div>
        </section>

        <!-- MODAL COPY PAST -->
        <teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>

    </div>

</div>
