<div data-ng-controller="TeacherDashboardCorrectionTabController as teacherDashboardCorrectionTabController" data-ng-init="selectedSubjectScheduled = null">
        <teacher-dashboard-correction-subject-scheduled-list data-ng-hide="selectedSubjectScheduled" selected-subject-scheduled="selectedSubjectScheduled"></teacher-dashboard-correction-subject-scheduled-list>
        <teacher-dashboard-correction-copy-list data-ng-show="selectedSubjectScheduled" selected-subject-scheduled="selectedSubjectScheduled"></teacher-dashboard-correction-copy-list>
</div>
