<div data-ng-controller="TeacherDashboardCorrectionTabController as teacherDashboardCorrectionTabController">
        <dashboard-teacher-tab
                current-tab="'correction'"
                selected-subject-scheduled="selectedSubjectScheduled"
        ></dashboard-teacher-tab>
        <teacher-dashboard-correction-subject-scheduled-list
                data-ng-hide="selectedSubjectScheduled"
                selected-subject-scheduled="selectedSubjectScheduled">
        </teacher-dashboard-correction-subject-scheduled-list>
        <teacher-dashboard-correction-copy-list
                data-ng-show="selectedSubjectScheduled"
                selected-subject-scheduled="selectedSubjectScheduled">
        </teacher-dashboard-correction-copy-list>
</div>
