<div data-ng-controller="TeacherDashboardController as teacherDashboardController">
    <!-- PAGE -->
    <div class="row">
        <h1>
            Exercizer
        </h1>
    </div>
    <div class="row twelve cell tabs">
        <div class="cell">
            <header class="selected">
                Mes sujets
            </header>
            <header>
                Bibliothèque
            </header>
        </div>
        <button class="right-magnet cell" data-ng-click="teacherDashboardController.createSubject()">
            Nouveau sujet
        </button>
    </div>
    <!-- switch -->
    <teacher-dashboard-subject-list></teacher-dashboard-subject-list>
    <!-- lightBox -->
    <teacher-dashboard-toaster></teacher-dashboard-toaster>
    <teacher-dashboard-remove-selected-folder-and-subject></teacher-dashboard-remove-selected-folder-and-subject>
    <teacher-dashboard-folder-edit></teacher-dashboard-folder-edit>
    <teacher-dashboard-subject-edit></teacher-dashboard-subject-edit>
    <teacher-dashboard-subject-schedule></teacher-dashboard-subject-schedule>
</div>