<div data-ng-controller="TeacherDashboardArchiveController as archiveController">
    <div class="row">
        <h1 class="cell only-desktop flex-inline align-items-center gap-16">
            <svg class="icon-exercizer" width="30" height="30"><use href="exercizer/public/assets/icons/illustrations.svg#exercizer"></use></svg>
            <span class="no-responsive"><span class="hover-orange" data-ng-click="archiveController.clickReturnExercizer()"><span class="hover-orange"><i18n>exercizer.title</i18n></span></span> / </span>
            <span data-ng-click="archiveController.clickReturnArchive()"><span class="hover-orange"><i18n>exercizer.archive</i18n></i></span></span>
            <span data-ng-click="" data-ng-if="selectedSubjectScheduled"> / <span>[[ archiveController.getSubjectSelectedTitle()]]</span></span>
        </h1>
    </div>
    <dashboard-archives
            data-ng-hide="selectedSubjectScheduled !== undefined"
            subject-scheduled-list="subjectScheduledList"
            selected-subject-scheduled="selectedSubjectScheduled">
    </dashboard-archives>
    <dashboard-archives-copy-list
            data-ng-show="selectedSubjectScheduled !== undefined"
            selected-subject-scheduled="selectedSubjectScheduled">
    </dashboard-archives-copy-list>
</div>
