<dashboard-teacher-tab current-tab="'library'"></dashboard-teacher-tab>

<div data-ng-controller="TeacherDashboardLibraryTabController as teacherDashboardLibraryTabController">

    <!-- LOADER -->
    <div class="row" data-ng-if="!teacherDashboardLibraryTabController.hasDataLoaded">
        <div class="info">Chargement des données...</div>
    </div>

    <div data-ng-if="teacherDashboardLibraryTabController.hasDataLoaded">

        <div class="row">

            <!-- LEFT STICKY NAV -->
            <section class="four cell vertical" >
                <nav data-stick-to-top class="hash-magnet floating-navigation">

                    <!-- FILTERS -->
                    <article>
                        <div class="row">
                            <h2 class="cell">Filtrer</h2>

                            <!-- toggle icon -->
                            <div class="cell right-magnet" data-ng-click="teacherDashboardLibraryTabController.foldFilters()">
                                <i data-ng-show="teacherDashboardLibraryTabController.areFiltersFolded" data-tooltip="Déplier" class="down-open"></i>
                                <i data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded" data-tooltip="Plier" class="up-open"></i>
                            </div>
                        </div>

                        <div class="row" data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded">
                            <div class="tabs">
                                <header data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeDisplayed ? 'selected' : ''"
                                        data-ng-click="teacherDashboardLibraryTabController.displayFilterSubjectLessonType()">
                                    Matières&nbsp;<span data-ng-show="teacherDashboardLibraryTabController.filters.subjectLessonType">*</span>
                                </header>
                                <header data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelDisplayed ? 'selected' : ''"
                                        data-ng-click="teacherDashboardLibraryTabController.displayFilterSubjectLessonLevel()">
                                    Niveaux&nbsp;<span data-ng-show="teacherDashboardLibraryTabController.filters.subjectLessonLevel">*</span>
                                </header>
                            </div>
                        </div>

                        <div class="row vertical-spacing" style="overflow-y:scroll; max-height: 300px; border:1px dotted lightgrey;" data-ng-hide="teacherDashboardLibraryTabController.areFiltersFolded">
                            <div data-ng-show="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeDisplayed">
                                <div class="cell custom-filter-button-library"
                                     data-ng-repeat="subjectLessonType in teacherDashboardLibraryTabController.subjectLessonTypeList"
                                     data-ng-click="teacherDashboardLibraryTabController.selectFilterSubjectLessonType(subjectLessonType)"
                                     data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonTypeSelected(subjectLessonType) ? 'custom-selected' : ''">
                                    [[ subjectLessonType.label ]]
                                </div>
                            </div>
                            <div data-ng-show="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelDisplayed">
                                <div class="cell custom-filter-button-library"
                                     data-ng-repeat="subjectLessonLevel in teacherDashboardLibraryTabController.subjectLessonLevelList"
                                     data-ng-click="teacherDashboardLibraryTabController.selectFilterSubjectLessonLevel(subjectLessonLevel)"
                                     data-ng-class="teacherDashboardLibraryTabController.isFilterSubjectLessonLevelSelected(subjectLessonLevel) ? 'custom-selected' : ''">
                                    [[ subjectLessonLevel.label ]]
                                </div>
                            </div>
                        </div>
                    </article>
                </nav>
            </section>

            <!-- SUBJECT LIST -->
            <section class="eight cell">

                <!-- FILTERS -->

                <div class="row">
                    <h4 class="five cell">Recherche par tags :</h4>
                    <div class="one cell">&nbsp;</div>
                    <h4 class="five cell">Recherche par titre :</h4>
                </div>

                <div class="row">
                    <autocomplete
                            class="five cell"
                            options="teacherDashboardLibraryTabController.autocompleteSubjectTagList"
                            ng-change="teacherDashboardLibraryTabController.selectSubjectTag(selectedSubjectTagObject)"
                            ng-model="selectedSubjectTagObject">
                    </autocomplete>
                    <div class="one cell">&nbsp;</div>
                    <input type="text" class="five cell" placeholder="Rechercher" data-ng-model="teacherDashboardLibraryTabController.filters.title" />
                </div>


                <div class="row vertical-spacing">
                    <div class="label-badge" data-ng-repeat="subjectTag in teacherDashboardLibraryTabController.filters.subjectTagList">
                        <span class="cell">[[ subjectTag.label ]]</span>
                        <span class="cell right-magnet" data-ng-click="teacherDashboardLibraryTabController.removeFromSelectedSubjectTagList(subjectTag)">
                            <i class="close"></i>
                        </span>
                    </div>
                </div>

                <h3 class="row"><em>[[ teacherDashboardLibraryTabController.isLanding ? 'Derniers sujets ajoutés...' : 'Résultats de la recherche...' ]]</em></h3>

                <div class="fallen dominos">
                    <div data-ng-repeat="subject in filteredSubjectList = (teacherDashboardLibraryTabController.subjectList | filter: teacherDashboardLibraryTabController.searchByFilters())">
                        <div class="item" style="width: 100%; max-width: none;">
                            <section class="domino">
                                <div class="top">
                                    <img class="absolute" data-ng-src="[[ teacherDashboardLibraryTabController.getSubjectPicture(subject) ]]" />
                                </div>
                                <div class="bottom">
                                    <div class="content">
                                        <div class="cell">
                                            <div class="row">
                                                <strong>[[ subject.title ]]</strong>
                                            </div>
                                            <div class="row">
                                                [[ teacherDashboardLibraryTabController.getSubjectLessonType(subject).label ]]&nbsp;/&nbsp;<em>Niveau [[ teacherDashboardLibraryTabController.getSubjectLessonLevel(subject).label ]]</em>
                                            </div>
                                            <div class="row">
                                                <div class="label-badge" data-ng-repeat="subjectTag in teacherDashboardLibraryTabController.getSubjectTags(subject)">
                                                    [[ subjectTag.label ]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom-locked eleven vertical-spacing-twice">
                                            <div class="cell">
                                                Ajouté par [[ subject.owner_username ]] le [[ subject.created | date: 'dd/MM/yyyy' ]]
                                            </div>
                                            <div class="cell right-magnet">
                                                <input type="checkbox"
                                                       data-ng-checked="teacherDashboardLibraryTabController.isSubjectSelected(subject)"
                                                       data-ng-click="teacherDashboardLibraryTabController.selectSubject(subject)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </section>

        </div>

        <!-- TOASTER -->
        <section class="toggle-buttons" data-ng-show="teacherDashboardLibraryTabController.isToasterDisplayed()">
            <div class="toggle">
                <div class="row">
                    <div class="cell">
                        <button data-ng-click="teacherDashboardLibraryTabController.previewSelectedSubject()" data-ng-show="teacherDashboardLibraryTabController.onlyOneSubjectIsSelected()">Aperçu</button>
                        <button data-ng-click="teacherDashboardLibraryTabController.displayModalCopyPaste()">Copier dans mes sujets</button>
                        <button data-ng-click="teacherDashboardLibraryTabController.resetSelection()">Annuler</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- MODAL COPY PAST -->
        <teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>

    </div>

</div>