<div data-ng-controller="TeacherDashboardSubjectTabController as teacherDashboardSubjectTabController">
        <!-- switch -->
        <teacher-dashboard-subject-list></teacher-dashboard-subject-list>
        <!-- lightBox -->
        <teacher-dashboard-toaster></teacher-dashboard-toaster>
        <teacher-dashboard-remove-selected-folder-and-subject></teacher-dashboard-remove-selected-folder-and-subject>
        <teacher-dashboard-folder-edit></teacher-dashboard-folder-edit>
        <teacher-dashboard-subject-edit></teacher-dashboard-subject-edit>
        <teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>
        <subject-schedule></subject-schedule>
        <share-panel></share-panel>
</div>