<div data-ng-controller="ViewSubjectCopyController as viewSubjectCopyController">

    <!-- LOADER -->
    <div class="row" data-ng-hide="viewSubjectCopyController.hasDataLoaded">
        <div class="info"><i18n>exercizer.loading</i18n></div>
    </div>

    <div data-ng-if="viewSubjectCopyController.hasDataLoaded && viewSubjectCopyController.grainCopyList.length > 0">

        <!-- PREVIEW HEADER -->
        <div data-ng-if="viewSubjectCopyController.previewing">
            <subject-view-copy-preview-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                              data-previewing-from-library="viewSubjectCopyController.previewingFromLibrary"
                                              data-subject-copy="viewSubjectCopyController.subjectCopy">
            </subject-view-copy-preview-header>
        </div>

        <!-- TEACHER HEADER -->
        <div data-ng-if="!viewSubjectCopyController.previewing && viewSubjectCopyController.isTeacher">
           <subject-view-copy-teacher-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                             data-subject-copy="viewSubjectCopyController.subjectCopy">
           </subject-view-copy-teacher-header>
        </div>

        <!-- STUDENT HEADER -->
        <div data-ng-if="!viewSubjectCopyController.previewing && !viewSubjectCopyController.isTeacher">
            <subject-view-copy-student-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                              data-subject-copy="viewSubjectCopyController.subjectCopy">
            </subject-view-copy-student-header>
        </div>

        <div class="row">
            <!-- LEFT NAV -->
            <section class="three cell vertical side-col">
                <subject-copy-left-nav data-anchor-behaviour="true"
                                       data-grain-copy-list="viewSubjectCopyController.grainCopyList">
                </subject-copy-left-nav>
            </section>

            <section class="nine cell main-col twelve-mobile">
                <div class="info vertical-spacing-twice" 
                data-ng-if="viewSubjectCopyController._isTeacher && !viewSubjectCopyController._previewing && !viewSubjectCopyController._previewingFromLibrary">
                    <i18n>exercizer.correction.warning</i18n>
                </div>
            </section>

            <section class="nine cell main-col twelve-mobile">
                <!-- GRAIN COPY LIST -->
                <subject-view-copy-grain-copy-list data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                                   data-subject-copy="viewSubjectCopyController.subjectCopy"
                                                   data-grain-scheduled-list="viewSubjectCopyController.grainScheduledList"
                                                   data-grain-copy-list="viewSubjectCopyController.grainCopyList"
                                                   data-is-teacher="viewSubjectCopyController.isTeacher">
                </subject-view-copy-grain-copy-list>
            </section>
        </div>

        <div data-ng-if="!viewSubjectCopyController.previewing && viewSubjectCopyController.isTeacher">
            <subject-view-copy-teacher-footer data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                          data-subject-copy="viewSubjectCopyController.subjectCopy" />
        </div>

        <div class="back-to-top" onclick='jQuery("html, body").animate({ scrollTop: "0px" }, 500);'></div>
    </div>

    <!-- NO DATA -->
    <div class="row" data-ng-if="viewSubjectCopyController.hasDataLoaded && viewSubjectCopyController.grainCopyList.length === 0">
        <!-- PREVIEW HEADER -->
        <div data-ng-if="viewSubjectCopyController.previewing">
            <subject-view-copy-preview-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                              data-previewing-from-library="viewSubjectCopyController.previewingFromLibrary">
            </subject-view-copy-preview-header>
        </div>

        <!-- TEACHER HEADER -->
        <div data-ng-if="!viewSubjectCopyController.previewing && viewSubjectCopyController.isTeacher">
            <subject-view-copy-teacher-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                              data-subject-copy="viewSubjectCopyController.subjectCopy">
            </subject-view-copy-teacher-header>
        </div>

        <!-- STUDENT HEADER -->
        <div data-ng-if="!viewSubjectCopyController.previewing && !viewSubjectCopyController.isTeacher">
            <subject-view-copy-student-header data-subject-scheduled="viewSubjectCopyController.subjectScheduled"
                                              data-subject-copy="viewSubjectCopyController.subjectCopy">
            </subject-view-copy-student-header>
        </div>

        <div class="warning"><i18n>exercizer.subject.empty</i18n></div>
    </div>

</div>