<div class="row">
    <span class="row"><i18n>exercizer.grain.mode</i18n> :&nbsp;</span>
    <input type="checkbox" data-ng-model="grain.grain_data.custom_data.no_error_allowed" data-ng-change="updateGrain()" />
    <span><i18n>exercizer.grain.mode.option</i18n></span>
</div>

<div class="row vertical-spacing">
    <span><i18n>exercizer.grain.asso.show</i18n> :&nbsp;</span>
    <input type="checkbox" data-ng-model="grain.grain_data.custom_data.show_left_column" data-ng-change="updateGrain()" />
</div>

<div class="row">
    <table class="twelve">
        <thead>
        <tr>
            <th style="width:45%;">
                <i18n>exercizer.grain.asso.responses.header1</i18n>
            </th>
            <th style="width:45%;">
                <i18n>exercizer.grain.asso.responses.header2</i18n>
            </th>
            <th style="text-align: right">
                <i18n>exercizer.grain.asso.responses.header3</i18n>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index">
            <td>
                <input class="form-control p-0 skip-dirty" type="text" style="width: 100%;" data-ng-required="answer.text_right" data-ng-model="answer.text_left" ng-change="updateGrain()" value="[[ answer.text_left ]]" i18n-placeholder="exercizer.grain.answer.info" />
            </td>
            <td>
                <input class="form-control p-0 skip-dirty" type="text" style="width: 100%;" data-ng-required="answer.text_left" data-ng-model="answer.text_right" ng-change="updateGrain()" value="[[ answer.text_right ]]" i18n-placeholder="exercizer.grain.asso.right" />
            </td>
            <td style="text-align: right">
                <i class="close" data-ng-click="deleteAnswer(answer)"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <button data-ng-click="addAnswer()" class="btns btns-tertiary text-body-common flex align-items-center gap-8 px-0 m-0">
        <svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg>
        <i18n>exercizer.grain.asso.add</i18n>
    </button>
</div>

