<div class="row">
    <span class="text-body"><i18n>exercizer.grain.mode</i18n>:</span>
</div>
<div class="flex-row align-center gap-8 mt-4 mb-8">
    <input id="ck-no-err-allowed-[[grain.id]]" type="checkbox" 
            data-ng-model="grain.grain_data.custom_data.no_error_allowed"
            data-ng-change="updateGrain()" />
    <label for="ck-no-err-allowed-[[grain.id]]"><i18n>exercizer.grain.mode.option</i18n></label>
</div>
<div class="flex-row align-center gap-8 mb-16">
    <input id="ck-no-err-allowed-show_left_column" type="checkbox" data-ng-model="grain.grain_data.custom_data.show_left_column" data-ng-change="updateGrain()" />
    <label for="ck-no-err-allowed-show_left_column"><i18n>exercizer.grain.asso.show</i18n></label>
</div>
<div class="row">
    <table class="table table-info twelve">
        <thead>
        <tr>
            <th class="text-medium text-semibold w-45">
                <i18n>exercizer.grain.asso.responses.header1</i18n>
            </th>
            <th class="text-medium text-semibold w-45">
                <i18n>exercizer.grain.asso.responses.header2</i18n>
            </th>
            <th class="text-medium text-semibold text-center">
                <i18n>exercizer.grain.asso.responses.header3</i18n>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list track by $index">
            <td>
                <div class="flex-row">
                    <input class="form-control py-0 skip-dirty" type="text" data-ng-required="answer.text_right" data-ng-model="answer.text_left" ng-change="updateGrain()" value="[[ answer.text_left ]]" i18n-placeholder="exercizer.grain.answer.placeholder" />
                </div>
            </td>
            <td>
                <div class="flex-row">
                    <input class="form-control py-0 skip-dirty" type="text" data-ng-required="answer.text_left" data-ng-model="answer.text_right" ng-change="updateGrain()" value="[[ answer.text_right ]]" i18n-placeholder="exercizer.grain.asso.placeholder" />
                </div>
            </td>
            <td>
                <div class="flex-row justify-center align-center">
                    <svg data-ng-click="deleteAnswer(answer)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row m-12">
    <button data-ng-click="addAnswer()" class="btns btns-tertiary text-body-common flex align-items-center gap-8 px-0 m-0">
        <svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg>
        <i18n>exercizer.grain.asso.add</i18n>
    </button>
</div>

