<article class="grain-perform">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-display-hint="true"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div data-ng-show="grainCopy.grain_copy_data.custom_copy_data.show_left_column">
        <div data-ng-repeat="(key, filled_answer) in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list"
            class="association flex-row vertical-spacing-twice horizontal-spacing-twice"
            data-ng-init="data.hover[key] = { bool : false }">
            <div class="association__left five twelve-mobile cell flex-row align-center">[[filled_answer.text_left]]</div>
            <div class="one cell">&nbsp;</div>
            <!-- dragdrop="dropTo(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key)"-->
            <div drop-item="dropTo($item, filled_answer, key)"
                 class="association__right six twelve-mobile cell flex-row align-center justify-center zero-mobile-fat-mobile"
                 data-ng-class="{'association-drop-hover'  : data.hover[key].bool == true}">
                <p>{{filled_answer.text_right}}</p>
            </div>
            <div class="association__right six twelve-mobile cell flex-row align-center justify-center mobile-fat-mobile"
                 data-ng-class="{'association-drop-hover'  : data.hover[key].bool == true}"
                 data-ng-click="showAnswers($event, filled_answer)">
                <p style="width: 75%">{{filled_answer.text_right}}</p>
                <div class="cell association__delete" data-ng-click="deleteFilledAnswer(filled_answer)" style="padding: 0px"><i class="close"></i></div>
            </div>
        </div>
        <div class="row vertical-spacing zero-mobile-fat-mobile">
            <div data-ng-repeat="possible_answer in possible_answer_left_list"
                 class="cell association-possible-answer-left"
                 drag-item="possible_answer">
                <!--dragstart="drag(possible_answer, $originalEvent)-->
                [[possible_answer.text_right]]
            </div>
        </div>

    </div>
    <div data-ng-hide="grainCopy.grain_copy_data.custom_copy_data.show_left_column">
        <div data-ng-repeat="(key, filled_answer) in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list"
             class="row vertical-spacing">
            <!-- dragdrop="dropToLeft(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key, false, true)" -->
            <div drop-item="dropToLeft($item, filled_answer, key, false, true)"
                 class="five twelve-mobile cell flex-row align-center justify-center"
                 style="  border: 1px dashed;
                             border-radius: 10px;
                             text-align: center;
                             min-height: 50px;
                    "
                 data-ng-class="{'association-drop-hover'  : data.hover[key].left == true}">
                <p>{{filled_answer.text_left}}</p>
                <div class="association__delete cell" data-ng-click="deleteFilledAnswerLeft(filled_answer)"><i class="close"></i></div>
            </div>
            <div class="one cell">&nbsp;</div>
            <!-- dragdrop="dropToRight(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key, true, false)" -->
            <div drop-item="dropToRight($item, filled_answer, key, true, false)"
                 class="six twelve-mobile cell flex-row align-center justify-center"
                 style="  border: 1px dashed;
                             border-radius: 10px;
                             text-align: center;
                             min-height: 50px;
                    "
                 data-ng-class="{'association-drop-hover'  : data.hover[key].right == true}">
                <p>{{filled_answer.text_right}}</p>
                <div class="cell association__delete" data-ng-click="deleteFilledAnswerRight(filled_answer)"><i class="close "></i></div>
            </div>
        </div>
    </div>
    <div class="row vertical-spacing">
        <div data-ng-repeat="possible_answer in grainCopy.grain_copy_data.custom_copy_data.all_possible_answer | orderBy:'rank'"
             class="cell association-possible-answer-left"
             drag-item="possible_answer">
            <!-- dragstart="drag(possible_answer, $originalEvent)" -->
            [[possible_answer.item]]
        </div>
    </div>
    <div class="mobile-fat-mobile tap-tap" data-ng-if="showAnswersMobile">
        <div data-ng-repeat="possible_answer in possible_answer_left_list" data-ng-click="selectAnswer(possible_answer)"
            class="tap-tap__item">
           <!-- dragstart="drag(possible_answer, $originalEvent)" -->
           [[possible_answer.text_right]]
       </div>
    </div>
</article>
