<div class="row vertical-spacing">
    <span class="row"><i18n>exercizer.grain.mode</i18n> :&nbsp;</span>
    <input type="checkbox" data-ng-model="grain.grain_data.custom_data.no_error_allowed" data-ng-change="updateGrain()" />
    <span><i18n>exercizer.grain.mode.option</i18n></span>
</div>

<div>
    <br>
    <em><i18n>exercizer.grain.order.warning</i18n></em>
    <br>
</div>

<div class="row vertical-spacing">
    <ul sortable-list class="thought-out-actions">
        <li data-ng-repeat="answer in grain.grain_data.custom_data.correct_answer_list | orderObjectBy:'order_by':false"
            sortable-element
            data-ng-change="reOrder()"
            data-ng-model="answer.index">
            <div class="order-index">[[ answer.order_by ]]</div>
            <input type="text" class="nine cell" data-ng-model="answer.text" ng-change="updateGrain()" value="[[ answer.text ]]" i18n-placeholder="exercizer.grain.answer.info" />
            <div class="cell right-magnet" data-ng-click="deleteAnswer(answer)"><i class="close"></i></div>
        </li>
    </ul>

    <div class="row vertical-spacing" style="padding-top: 20px;">
        <button data-ng-click="addAnswer()" class="twelve cell flat-button">
            <i18n>exercizer.grain.add.answer</i18n>
        </button>
    </div>
</div>
