<article id="[[ grainCopy.id ]]">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-is-teacher="isTeacher"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div data-ng-repeat="filled_answer in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list | orderObjectBy:'order_by':false" class="row vertical-spacing">
        <input type="text" class="one cell centered-text" data-ng-model="filled_answer.order_by"
                disabled />
        <input type="text" class="eleven cell"
               data-ng-class="{'input-response-correct' : isCorrect[filled_answer.order_by], 'input-response-incorrect' : !isCorrect[filled_answer.order_by]}"
               data-ng-model="filled_answer.text"
               i18n-placeholder="exercizer.grain.noanswer" disabled />
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <button class="cell right-magnet cancel"
            style="margin: 0;"
            data-ng-click="doDisplayCorrection()"
            data-ng-if="displayCorrectAnswerButton()">
            <i18n data-ng-if="!displayCorrection">exercizer.grain.display.correction</i18n>
            <i18n data-ng-if="displayCorrection">exercizer.grain.undisplay.correction</i18n>
        </button>
    </div>
    <grain-copy-footer data-ng-if="!displayCorrection"
                       data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>

    <article class="grain-correction" data-ng-if="displayCorrection">
        <i class="right-magnet close" data-ng-click="doDisplayCorrection()"></i>
        <h2><i18n>exercizer.grain.correction</i18n></h2>
        <div data-ng-repeat="correct_answer in grainScheduled.grain_data.custom_data.correct_answer_list | orderObjectBy:'order_by':false" class="row vertical-spacing">
            <input type="text" class="one cell centered-text" data-ng-model="correct_answer.order_by"
                    disabled />
            <input type="text" class="eleven cell input-response-correct"
                   data-ng-model="correct_answer.text" disabled />
        </div>
    </article>

</article>
