<lightbox show="isDisplayed" on-close="hide()">
    <h1 class="row">Publier dans la bibliothèque</h1>

    <div class="row vertical-spacing">
        <div class="four cell">
            Matière * :
        </div>
        <select data-ng-model="selection.selectedSubjectLessonTypeId" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonType in subjectLessonTypeList" value="[[ subjectLessonType.id ]]">[[ subjectLessonType.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        <div class="four cell">
            Niveau * :
        </div>
        <select data-ng-model="selection.selectedSubjectLessonLevelId" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonLevel in subjectLessonLevelList" value="[[ subjectLessonLevel.id ]]">[[ subjectLessonLevel.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        Rechercher et ajoutez des tags au sujet :
    </div>

    <div class="row vertical-spacing">
        <autocomplete
                class="twelve cell"
                options="autocompleteSubjectTagList"
                ng-change="selectSubjectTag(selectedSubjectTagObject)"
                ng-model="selectedSubjectTagObject">
        </autocomplete>
    </div>

    <div class="row vertical-spacing">

        <p>Le tag n'apparaît pas ? Créez-le :</p>

        <input type="text" class="eight cell" maxlength="255" data-ng-model="newCustomTagLabel" placeholder="Libellé du nouveau tag">

        <button class="cell right-magnet" data-ng-click="addNewSubjectTag(newCustomTagLabel); newCustomTagLabel = undefined;" data-ng-disabled="!newCustomTagLabel && !isPublicationOnGoing">
            Créer et ajouter le tag
        </button>
    </div>

    <h2 class="row" data-ng-show="selectedSubjectTagList.length > 0">Tags associés au sujets :</h2>

    <div class="row vertical-spacing">
        <div class="label-badge" data-ng-repeat="subjectTag in selectedSubjectTagList">
            <span class="cell">[[ subjectTag.label ]]</span>
            <span class="cell right-magnet" data-ng-click="removeFromSelectedSubjectTagList(subjectTag)">
                <i class="close"></i>
            </span>
        </div>
    </div>

    <div class="row vertical-spacing">
        Citez l'auteur original et/ou les contributeurs du sujet :
    </div>

    <div class="row vertical-spacing">
        <input type="text" class="twelve cell" maxlength="255" data-ng-model="cc.authorsContributors" placeholder="Ex : Auteur, Olivier Ortant. Contributeurs, Auriane Dunile et Raphaël Dujardin">
    </div>

    <div class="row vertical-spacing">
        <input type="checkbox" class="cell"
               data-ng-checked="hasAgreedToPublish"
               data-ng-click="toggleHasAgreedToPublish()" />
        <span class="cell">Je suis d'accord pour publier le sujet en Creative Commons&nbsp;&nbsp;&nbsp;</span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank" class="cell"><img src="exercizer/public/assets/img/creative_commons.png" alt="Creative Commons" /></a>
    </div>

    <div class="row">
        <button data-ng-click="publish()" class="right-magnet" data-ng-disabled="isPublicationOnGoing">Publier</button>
        <button data-ng-click="hide()" class="cancel right-magnet" data-ng-disabled="isPublicationOnGoing">Annuler</button>
    </div>
</lightbox>