<div class="row">
    <!-- navigation -->
    <section class="three cell vertical">
        <div class="row">
            <div class="eleven cell" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <nav class="vertical dragging-zone-folder">
            <ul>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null, opened: displayMySubject == true}"
                        dragdrop="dropToRoot($originalEvent)">
                        <i data-ng-click="displayMySubject = !displayMySubject" class="arrow"></i>
                        <span data-ng-click="goToRoot()" >Mes sujets</span>
                    </a>
                    <div data-ng-repeat="item in  folderList() | orderObjectBy:'label':false | filterIf:displayMySubject" >
                        <folder-nav-item item="item"
                                         is-root="true"
                                         parent-id="parentId"
                                         current-folder-id="currentFolderId"
                                         set-current-folder-fn="setCurrentFolder"
                        ></folder-nav-item>
                    </div>
                </li>
            </ul>
            <a class="classic-link" data-ng-click="clickCreateFolder()">
                Créer un nouveau dossier
            </a>
        </nav>
    </section>
    <!-- main page -->
    <section class="nine cell">
        <div class="row">
            <div class="cell">
                <button data-ng-click="addNewSubject()">Nouveau sujet</button>
                <button ng-if="me.hasWorkflow('fr-openent-exercizer-controllers-SubjectController|createSubject')" data-ng-click="addNewSubject()">Nouveau sujet</button>
            </div>
            <div class="cell right-magnet">
                <i data-ng-click="displayList = 'array'"
                   class="show-list"
                   data-ng-class="{selected: displayList == 'array'}"

                ></i>
                <i data-ng-click="displayList = 'domino'"
                   class="show-icons"
                   data-ng-class="{selected: displayList == 'domino'}"

                ></i>
            </div>
        </div>
        <!-- domino part -->
        <div class="row" data-ng-show="displayList == 'domino'">
            <div class="fallen dominos">
                <!-- folder part -->
                <div data-ng-repeat="folder in folderList() | orderObjectBy:'label':false">
                    <div class="item" data-ng-if="filterFolderByParentFolder(folder)">
                        <section class="domino">
                            <div class="top" style="padding-top : 10%;"
                                    dragstart="drag(folder, $originalEvent)"
                                    dragcondition="dragFolderCondition(folder)"
                                    dragdrop="dropTo(folder, $originalEvent)"
                                    dropcondition="dropFolderCondition(folder)">
                                <a class="container">
                                    <i class="folder-large"></i>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</strong>
                                        <br />
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageFolder()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input  type="checkbox" data-ng-model="folder.selected" class="right-magnet cell" data-ng-change="selectFolder(folder)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- subject part -->
                <div data-ng-repeat="subject in subjectList() | orderObjectBy:'title':false">
                    <div  class="item"  data-ng-if="filterSubjectByParentFolder(subject)" >
                        <section class="domino">
                            <div class="top"
                                    dragstart="drag(subject, $originalEvent)"
                                    dragcondition="dragSubjectCondition(subject)"
                                    dragdrop="dropTo(subject, $originalEvent)"
                                    dropcondition="dropSubjectCondition.dropCondition(subject)">
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</strong>
                                        <br />
                                        <span>[[getSubjectModificationDate()]]</span>
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageSubject()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input type="checkbox" data-ng-model="subject.selected" class="right-magnet cell" data-ng-change="selectSubject(subject)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <!-- array part -->
        <div class="row" data-ng-show="displayList == 'array'">
            <table class="list-view">
                <thead>
                <tr>
                    <th scope="col" class="icon">
                        <input type="checkbox" data-ng-click="" data-ng-model="selectAll"  />
                    </th>
                    <!-- icon folder -->
                    <th><i class="drag-anchor"></i></th>
                    <th scope="col">
                        <span>Nom</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- folder list-->
                <tr data-ng-repeat="folder in folderList() | orderObjectBy:'label':false">
                    <td data-ng-if="filterFolderByParentFolder(folder)">
                        <input type="checkbox" data-ng-model="folder.selected" data-ng-change="selectFolder(folder)"/>
                    </td>
                    <td data-ng-if="filterFolderByParentFolder(folder)"
                        dragstart="drag(folder, $originalEvent)"
                        dragcondition="dragFolderCondition(folder)"
                        dragdrop="dropTo(folder, $originalEvent)"
                        dropcondition="dropFolderCondition(folder)">
                        <i class="folder"></i>
                    </td>
                    <td data-ng-if="filterFolderByParentFolder(folder)">
                        <a data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</a>
                    </td>
                </tr>
                <!-- subject  list -->
                <tr data-ng-repeat="subject in subjectList() | orderObjectBy:'title':false">
                    <td data-ng-if="filterSubjectByParentFolder(subject)">
                        <input type="checkbox" data-ng-model="subject.selected" data-ng-change="selectSubject(subject)"/>
                    </td>
                    <td data-ng-if="filterSubjectByParentFolder(subject)"
                        dragstart="drag(subject, $originalEvent)"
                        dragcondition="dragSubjectCondition(subject)"
                        dragdrop="dropTo(subject, $originalEvent)"
                        dropcondition="dropSubjectCondition(subject)">
                        <i class="doc-text"></i>
                    </td>
                    <td data-ng-if="filterSubjectByParentFolder(subject)">
                        <a data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>