<lightbox data-show="isDisplayed" data-on-close="hide()">
    <h1>Exercizer - [[ state === 'create' ? 'créer' : 'éditer' ]] un dossier</h1>
    <div class="row">
        <form name="form">
            <div class="row">
                <div class="twelve cell">
                    <input type="text" data-ng-model="currentFolder.label" class="twelve cell" placeholder="Nom du dossier">
                </div>
                <div class="twelve cell horizontal-spacing vertical-spacing">
                    <button data-ng-click="save()" class="right-magnet">
                        [[ state === 'create' ? 'Créer' : 'Sauvegarder' ]]
                    </button>
                    <button data-ng-click="hide()" class="right-magnet cancel">
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</lightbox>