<lightbox data-show="isDisplayed" data-on-close="closeLightbox()">
    <h2 data-ng-if="step == 'subject'">[[ isNewSubject ? 'Créer' : 'Editer' ]] un sujet [[ type === 'simple' ? 'simple' : 'interactif' ]]</h2>
    <h2 data-ng-if="step == 'choose'"><i18n>exercizer.choose</i18n></h2>
    <div data-ng-if="step == 'subject'" class="row">
        <form name="formSubjectProperties">
            <div class="rigid-grid row">
                <div class="two cell clip height-two">
                    <div class="absolute" data-loading-panel="upload-collaborativeeditor-thumbnail">
                        <image-select data-ng-model="subject.picture" default="/img/illustrations/collaborativeeditor-default.png"></image-select>
                    </div>
                </div>
                <div class="margin-two height-three">
                    <div class="twelve cell horizontal-spacing">
                        <input type="text" data-ng-model="subject.title" class="twelve cell" placeholder="Titre du sujet">
                        <textarea data-ng-model="subject.description" class="twelve cell" placeholder="Description"></textarea>
                    </div>
                    <div class="twelve cell horizontal-spacing vertical-spacing">
                        <button data-ng-click="saveSubjectProperties()" class="right-magnet">
                            Enregistrer
                        </button>
                        <button data-ng-click="closeLightbox()" class="right-magnet cancel">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-ng-if="step == 'choose'" class="row">
        <div class="horizontal-spacing vertical-spacing block-container">
            <div class="flex-row justify-center twelve centered bottom-spacing-twice">
                <button class="flat-button five" data-ng-click="nextStep('simple')" style="float: none;">
                    <span><i class="file-upload"></i></span>
                    <i18n>exercizer.choose.simple.button</i18n>
                </button>
                <div class="tipbox">
                    <div>
                        <i class="help sticker square-medium"></i>
                    </div>
                    <div class="tipbox-content">
                        <span class="small-text"><i18n>exercizer.choose.simple</i18n></span>
                    </div>
                </div>
            </div>
            <div class="flex-row justify-center twelve centered bottom-spacing-twice">
                <button class="flat-button five" data-ng-click="nextStep('interactive')" style="float: none;">
                    <span><i class="file-interactive"></i></span>
                    <i18n>exercizer.choose.interactive.button</i18n>
                </button>
                <div class="tipbox">
                    <div>
                        <i class="help sticker square-medium"></i>
                    </div>
                    <div class="tipbox-content">
                        <span class="small-text"><i18n>exercizer.choose.interactive</i18n></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</lightbox>
