<lightbox show="isDisplayed" on-close="hide()">
    <h1 class="row">Publier dans la bibliothèque</h1>

    <div class="row vertical-spacing">
        <input type="checkbox"
               data-ng-checked="hasAgreedToPublish"
               data-ng-click="toggleHasAgreedToPublish()" />
        &nbsp;Je suis d'accord pour publier ce sujet en licence libre
    </div>

    <div class="row vertical-spacing">
        <div class="four cell">
            Renseignez la matière du sujet :
        </div>
        <select data-ng-model="selectedSubjectLessonType" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonType in subjectLessonTypeList" value="[[ subjectLessonType.id ]]">[[ subjectLessonType.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        <div class="four cell">
            Renseignez le niveau du sujet :
        </div>
        <select data-ng-model="selectedSubjectLessonLevel" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonLevel in subjectLessonLevelList" value="[[ subjectLessonLevel.id ]]">[[ subjectLessonLevel.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        Rechercher et ajoutez des tags au sujet :

    </div>

    <div class="row vertical-spacing">
        <autocomplete
                class="twelve cell"
                options="autocompleteSubjectTagList"
                ng-change="selectSubjectTag(selectedSubjectTagObject)"
                ng-model="selectedSubjectTagObject">
        </autocomplete>
    </div>

    <div class="row vertical-spacing">

        <p>Le tag n'apparaît pas ? Créez-le :</p>

        <input type="text" class="eight cell" maxlength="255" data-ng-model="newCustomTagLabel" placeholder="Libellé du nouveau tag">

        <button class="cell right-magnet" data-ng-click="addNewSubjectTag(newCustomTagLabel); newCustomTagLabel = undefined;" data-ng-disabled="!newCustomTagLabel && !isPublicationOnGoing">
            Créer et ajouter le tag
        </button>
    </div>

    <h2 class="row">Tags associés au sujets* :</h2>
    *&nbsp;<em class="low-importance">3 maximum</em>

    <div class="row vertical-spacing">
        <div class="label-badge" data-ng-repeat="subjectTag in selectedSubjectTagList">
            <span class="cell">[[ subjectTag.label ]]</span>
            <span class="cell right-magnet" data-ng-click="removeFromSelectedSubjectTagList(subjectTag)">
                <i class="close"></i>
            </span>
        </div>
    </div>

    <div class="row">
        <button data-ng-click="publish()" class="right-magnet" data-ng-disabled="isPublicationOnGoing">Publier</button>
        <button data-ng-click="hide()" class="cancel right-magnet"  data-ng-disabled="isPublicationOnGoing">Annuler</button>
    </div>
</lightbox>