<div class="row">
    <!-- navigation -->
    <section class="three cell vertical">
        <div class="row">
            <div class="eleven cell" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <nav class="vertical dragging-zone-folder" data-ng-init="display.tab = 'mySubject'; display.mySubjectSubFolder = true;">
            <ul>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'mySubject', opened: display.mySubjectSubFolder}"
                        dragdrop="dropToRoot($originalEvent)">
                        <i data-ng-click="display.mySubjectSubFolder = !display.mySubjectSubFolder" class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'mySubject'" >Mes sujets</span>
                    </a>
                    <div data-ng-repeat="item in  folderList() | orderObjectBy:'label':false | filterIf:display.mySubjectSubFolder" >
                        <folder-nav-item item="item"
                                         is-root="true"
                                         parent-id="parentId"
                                         current-folder-id="currentFolderId"
                                         set-current-folder-fn="setCurrentFolder"></folder-nav-item>
                    </div>
                </li>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'subjectShared'}">
                        <i class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'subjectShared'">Sujets partagés avec moi</span>
                    </a>
                </li>
            </ul>
            <a class="classic-link" data-ng-click="clickCreateFolder()">
                Créer un nouveau dossier
            </a>
        </nav>
    </section>
    <!-- main page -->
    <section class="nine cell">
        <div class="row">
            <div class="cell">
                <button data-ng-click="addNewSubject(currentFolderId)" workflow="exercizer.create">Nouveau sujet</button>
            </div>
            <div class="cell" style="margin-left:1%">
                <button data-ng-click="importNewSubject()" workflow="exercizer.import">Import</button>
            </div>
            <div class="cell right-magnet">
                <i data-ng-click="displayList = 'array'"
                   class="show-list"
                   data-ng-class="{selected: displayList == 'array'}"></i>
                <i data-ng-click="displayList = 'domino'"
                   class="show-icons"
                   data-ng-class="{selected: displayList == 'domino'}"></i>
            </div>
        </div>
        <!-- domino part -->
        <div class="row" data-ng-show="displayList == 'domino'">
            <div class="fallen dominos">
                <!-- folder part -->
                <div data-ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false">
                    <div class="item">
                        <section class="domino">
                            <div class="top" style="padding-top : 10%;"
                                 dragstart="drag(folder, $originalEvent)"
                                 dragcondition="dragFolderCondition(folder)"
                                 dragdrop="dropTo(folder, $originalEvent)"
                                 dropcondition="dropFolderCondition(folder)">
                                <a class="container">
                                    <i class="folder-large" style="color: #4bafd5; cursor: move!important;"></i>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</strong>
                                        <br />
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageFolder()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input  type="checkbox" data-ng-model="folder.selected" class="right-magnet cell" data-ng-change="selectFolder(folder)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- subject part -->
                <!-- my subject -->
                <div data-ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false">
                    <div  class="item" >
                        <section class="domino">
                            <div class="top"
                                 data-ng-if="display.tab == 'mySubject'"
                                 dragstart="drag(subject, $originalEvent)"
                                 dragcondition="dragSubjectCondition(subject)"
                                 dragdrop="dropTo(subject, $originalEvent)"
                                 dropcondition="dropSubjectCondition.dropCondition(subject)">
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                                <!-- todo simple or interactive icon -->
                                <div class="left-magnet cell">
                                    <i class="[[subject.type === 'simple' ? 'download' : 'attachment']]" style="position: inherit;   bottom: 0px;  right: 0px;"></i>
                                </div>
                            </div>
                            <div class="top"
                                 data-ng-if="display.tab == 'subjectShared'">
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                                <!-- todo Lauren simple or interactive icon -->
                                <div class="left-magnet cell">
                                    <i class="[[subject.type === 'simple' ? 'download' : 'attachment']]" style="position: inherit;   bottom: 0px;  right: 0px;"></i>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <div class="row">
                                            <strong data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</strong>
                                        </div>
                                        <div class="row">
                                            <span data-ng-if="subject.modified">Modifié le [[subject.modified | date: 'dd/MM/yyyy']]</span>
                                        </div>
                                        <div class="row" data-ng-if="!amITheAuthor(subject)">
                                            <span data-ng-if="subject.modified">Auteur :  [[subject.owner_username]]</span>
                                        </div>
                                    </div>
                                    <div data-ng-show="canManageSubject()" class="bottom-locked eleven vertical-spacing-twice">
                                        <div class="right-magnet cell">
                                            <input type="checkbox" data-ng-model="subject.selected" data-ng-change="selectSubject(subject)"/>
                                        </div>
                                        <div class="right-magnet cell" data-ng-show="subject.shared.length > 0"><i class="shared" style="position: inherit;   bottom: 0px;  right: 0px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <!-- array part -->
        <div class="row" data-ng-show="displayList == 'array'">
            <table class="list-view">
                <thead>
                <tr>
                    <th scope="col" class="icon">
                        <input type="checkbox" data-ng-model="data.selectAll" data-ng-change="selectAllFn(data.selectAll)" />
                    </th>
                    <!-- icon folder -->
                    <th data-ng-if="display.tab == 'mySubject'"><i class="drag-anchor" ></i></th>
                    <th scope="col">
                        <span>Nom</span>
                    </th>
                    <th scope="col">
                        <span>Auteur</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- folder list-->
                <tr data-ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false">
                    <td>
                        <input type="checkbox" data-ng-model="folder.selected" data-ng-change="selectFolder(folder)"/>
                    </td>
                    <td data-ng-if="display.tab == 'mySubject'"
                        dragstart="drag(folder, $originalEvent)"
                        dragcondition="dragFolderCondition(folder)"
                        dragdrop="dropTo(folder, $originalEvent)"
                        dropcondition="dropFolderCondition(folder)">
                        <i class="folder"></i>
                    </td>
                    <td>
                        <a data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</a>
                    </td>
                    <td></td>
                </tr>
                <!-- subject  list -->
                <tr data-ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false">
                    <td>
                        <input type="checkbox" data-ng-model="subject.selected" data-ng-change="selectSubject(subject)"/>
                    </td>
                    <td data-ng-if="display.tab == 'mySubject'"
                        dragstart="drag(subject, $originalEvent)"
                        dragcondition="dragSubjectCondition(subject)"
                        dragdrop="dropTo(subject, $originalEvent)"
                        dropcondition="dropSubjectCondition(subject)">
                        <i class="doc-text"></i>
                        <!-- todo Lauren simple or interactive icon -->
                        <i class="[[subject.type === 'simple' ? 'download' : 'attachment']]" style="position: inherit;   bottom: 0px;  right: 0px;"></i>
                    </td>
                    <td>
                        <a data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</a>
                    </td>
                    <td>
                        <a>[[subject.owner_username]]</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <lightbox data-show="isImportDisplayed" data-on-close="closeImportLightbox()">
        <h1>Exercices et évaluations - importer un sujet</h1>
        <div class="row" data-ng-show="stateImport == 'import'">
            <form name="formImport" >
                <div class="row">
                    <span style="font-weight: bold"><i18n>exercizer.import.intro</i18n></span>
                </div>
                <div class="rigid-grid row vertical-spacing">
                    <div class="two cell clip height-two">
                        <div class="absolute" data-loading-panel="upload-collaborativeeditor-thumbnail">
                            <image-select data-ng-model="importSubject.picture" default="/img/illustrations/collaborativeeditor-default.png"></image-select>
                        </div>
                    </div>
                    <div class="margin-two height-three">
                        <div class="twelve cell horizontal-spacing">
                            <input type="text" data-ng-model="importSubject.title" class="twelve cell" placeholder="Titre du sujet">
                            <textarea data-ng-model="importSubject.description" class="twelve cell" placeholder="Description"></textarea>
                        </div>
                        <div class="twelve cell horizontal-spacing select-file input-block" style="margin-top:5px;margin-bottom:5px">
                            <button class="file-button"><i18n>exercizer.import.choose</i18n></button>
                            <input style="width:70% !important" ng-readonly="true" type="text" ng-model="fileImportName" data-display-file class="nomargin" />
                            <div class="hidden-content">
                                <input type="file" style="z-index:-1" files-input-change="setFilesName(this)"  ng-model="newFiles" />
                            </div>
                        </div>

                        <div class="twelve cell horizontal-spacing vertical-spacing">
                            <button data-ng-click="saveImportSubject()" class="right-magnet">
                                Importer
                            </button>
                            <button data-ng-click="closeImportLightbox()" class="right-magnet cancel">
                                Annuler
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" data-ng-show="stateImport == 'result'">
            <div class="height-three">
                <div class="twelve cell horizontal-spacing">
                    <div style="font-weight: bold"><i18n>exercizer.import.count</i18n> [[grainImportCount]]</div>
                    <div class="vertical-spacing" style="font-weight: bold"><i18n>exercizer.import.feedback</i18n></div>
                    <ul>
                        <li><i18n>exercizer.import.tdbase.type1</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type2</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type3</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type4</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type5</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type6</i18n></li>
                    </ul>
                    <div style="font-weight: bold"><i18n>exercizer.import.feedback2</i18n></div>
                </div>
                <div class="twelve cell horizontal-spacing vertical-spacing">
                    <button data-ng-click="goToSubjectAfterImport()" class="right-magnet">
                        Consulter le sujet
                    </button>
                    <button data-ng-click="closeImportLightbox()" class="right-magnet cancel">
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </lightbox>
</div>
