<lightbox show="isDisplayed" on-close="hide()">
    <h2>Supprimer</h2>
    <p>Voulez-vous vraiment supprimer ces éléments ?</p>
    <ul data-ng-show="folderList.length !=0">
            <li data-ng-repeat="folderId in folderList">
                [[ getFolderLabelById(folderId) ]]
            </li>
    </ul>
    <ul data-ng-show="subjectList.length !=0">
            <li data-ng-repeat="subjectId in subjectList">
                [[ getSubjectTitleById(subjectId) ]]
            </li>
    </ul>
    <div class="row">
        <button data-ng-click="deleteSelection()" class="right-magnet">Supprimer</button>
        <button data-ng-click="hide()" class="cancel right-magnet">Annuler</button>
    </div>
</lightbox>