<div class="row">
    <!-- navigation -->
    <section class="three cell vertical">
        <div class="row">
            <div class="eleven cell" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <nav class="vertical dragging-zone-folder" data-ng-init="display.tab = 'mySubject'; display.mySubjectSubFolder = true;">
            <ul>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'mySubject', opened: display.mySubjectSubFolder}"
                        dragdrop="dropToRoot($originalEvent)">
                        <i data-ng-click="display.mySubjectSubFolder = !display.mySubjectSubFolder" class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'mySubject'" >Mes sujets</span>
                    </a>
                    <div data-ng-repeat="item in  folderList() | orderObjectBy:'label':false | filterIf:display.mySubjectSubFolder" >
                        <folder-nav-item item="item"
                                         is-root="true"
                                         parent-id="parentId"
                                         current-folder-id="currentFolderId"
                                         set-current-folder-fn="setCurrentFolder"
                        ></folder-nav-item>
                    </div>
                </li>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'subjectShared'}"
                    >
                        <i class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'subjectShared'">Sujets partagés avec moi</span>
                    </a>
                </li>
            </ul>
            <a class="classic-link" data-ng-click="clickCreateFolder()">
                Créer un nouveau dossier
            </a>
        </nav>
    </section>
    <!-- main page -->
    <section class="nine cell">
        <div class="row">
            <div class="cell">
                <button data-ng-click="addNewSubject()" workflow="exercizer.create">Nouveau sujet</button>
            </div>
            <div class="cell right-magnet">
                <i data-ng-click="displayList = 'array'"
                   class="show-list"
                   data-ng-class="{selected: displayList == 'array'}"

                ></i>
                <i data-ng-click="displayList = 'domino'"
                   class="show-icons"
                   data-ng-class="{selected: displayList == 'domino'}"

                ></i>
            </div>
        </div>
        <!-- domino part -->
        <div class="row" data-ng-show="displayList == 'domino'">
            <div class="fallen dominos">
                <!-- folder part -->
                <div data-ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false">
                    <div class="item">
                        <section class="domino">
                            <div class="top" style="padding-top : 10%;"
                                 dragstart="drag(folder, $originalEvent)"
                                 dragcondition="dragFolderCondition(folder)"
                                 dragdrop="dropTo(folder, $originalEvent)"
                                 dropcondition="dropFolderCondition(folder)">
                                <a class="container">
                                    <i class="folder-large"></i>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</strong>
                                        <br />
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageFolder()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input  type="checkbox" data-ng-model="folder.selected" class="right-magnet cell" data-ng-change="selectFolder(folder)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- subject part -->
                <!-- my subject -->
                <div data-ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false">
                    <div  class="item" >
                        <section class="domino">
                            <div class="top"
                                 data-ng-if="display.tab == 'mySubject'"
                                 dragstart="drag(subject, $originalEvent)"
                                 dragcondition="dragSubjectCondition(subject)"
                                 dragdrop="dropTo(subject, $originalEvent)"
                                 dropcondition="dropSubjectCondition.dropCondition(subject)">
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                            </div>
                            <div class="top"
                                 data-ng-if="display.tab == 'subjectShared'">
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <div class="row">
                                            <strong data-ng-show="canAccessSubject(subject)" data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</strong>
                                            <strong data-ng-hide="canAccessSubject(subject)">[[subject.title]]</strong>
                                        </div>
                                        <div class="row">
                                            <span data-ng-if="subject.modified">Modifié le [[subject.modified | date: 'dd/MM/yyyy']]</span>
                                        </div>
                                    </div>
                                    <div data-ng-show="canManageSubject()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input type="checkbox" data-ng-model="subject.selected" class="right-magnet cell" data-ng-change="selectSubject(subject)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <!-- array part -->
        <div class="row" data-ng-show="displayList == 'array'">
            <table class="list-view">
                <thead>
                <tr>
                    <th scope="col" class="icon">
                        <input type="checkbox" data-ng-model="data.selectAll" data-ng-change="selectAllFn(data.selectAll)" />
                    </th>
                    <!-- icon folder -->
                    <th data-ng-if="display.tab == 'mySubject'"><i class="drag-anchor" ></i></th>
                    <th scope="col">
                        <span>Nom</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- folder list-->
                <tr data-ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false">
                    <td>
                        <input type="checkbox" data-ng-model="folder.selected" data-ng-change="selectFolder(folder)"/>
                    </td>
                    <td data-ng-if="display.tab == 'mySubject'"
                        dragstart="drag(folder, $originalEvent)"
                        dragcondition="dragFolderCondition(folder)"
                        dragdrop="dropTo(folder, $originalEvent)"
                        dropcondition="dropFolderCondition(folder)">
                        <i class="folder"></i>
                    </td>
                    <td>
                        <a data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</a>
                    </td>
                </tr>
                <!-- subject  list -->
                <tr data-ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false">
                    <td>
                        <input type="checkbox" data-ng-model="subject.selected" data-ng-change="selectSubject(subject)"/>
                    </td>
                    <td data-ng-if="display.tab == 'mySubject'"
                        dragstart="drag(subject, $originalEvent)"
                        dragcondition="dragSubjectCondition(subject)"
                        dragdrop="dropTo(subject, $originalEvent)"
                        dropcondition="dropSubjectCondition(subject)">
                        <i class="doc-text"></i>
                    </td>
                    <td>
                        <a data-ng-show="canAccessSubject(subject)" data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</a>
                        <a data-ng-hide="canAccessSubject(subject)">[[subject.title]]</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>