/*
*   COLOR CORRECTED / CORRECTION ON GOING / HAS BEEN START / IS SUBMITTED
*/

.background-color-corrected{
    background-color: #72BB53;
}
.color-corrected{
    color: #72BB53;
}
.background-color-is-correction-on-going{
    background-color: #FF8351;
}
.color-is-correction-on-going{
    color: #FF8351;
}
.background-color-is-submitted{
    background-color: #00A4D3;
}
.color-is-submitted{
    color: #00A4D3;
}
.background-color-has-been-started{
    background-color: #FF8351;
}
.color-has-been-started{
    color: #FF8351;
}

.input-response-correct{
    color: green !important;
    border: 1px solid green !important;
}
.input-response-incorrect{
    color: red !important;
    border: 1px solid red !important;
}

/**
*   FILTER STYLE
*/
.custom-filter-button {
    margin-right: 20px;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 2px;
    min-width: 150px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.custom-filter-button-library {
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px 0 5px 0;
    background-color: lightgray;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}
.custom-filter-button-correction {
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 2px;
    text-align: center;
}

.custom-filter-button.custom-selected, .custom-filter-button-library.custom-selected {
    background-color  : #FF8500;
    color: white;
}

/**
 * Floating nav selected
 */
.floating-navigation li.selected {
    background: #FF8500;
    box-shadow: none;
}
.floating-navigation li.selected a {
    color: white;
}

/**
 * Custom tags for subject library list
 */

.subject-library-tag {
    font-size: 12px;
    color: white;
    background-color: #FF8500;
    border-radius: 2px;
    padding: 1px 3px 1px 2px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

/**
*   OVERWRITE THEME
*/

.tabs header.selected{
    background-color: transparent !important;
}

.down-open:hover{
    color: #FF8351;
}

.hover-orange:hover{
    color: #FF8351;
}

#surcharge-force-cursor-default:before{
    cursor: default !important;
}
#edit-subject .surcharge-force-margin-zero{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

body editor.small-editor.edit [contenteditable] {
    width: 100%;
    max-height: 100px!important;
    min-height: 100px!important;
    overflow-y: scroll;
}

body editor.small-editor.edit [contenteditable]:focus {
    width: 100%;
    max-height: none!important;
    min-height: 250px!important;
    overflow: visible;
}