/*
*   COLOR CORRECTED / CORRECTION ON GOING / HAS BEEN START / IS SUBMITTED
*/

.background-color-corrected{
    background-color: #72BB53;
}
.color-corrected{
    color: #72BB53;
}
.background-color-is-correction-on-going{
    background-color: #FF8351;
}
.color-is-correction-on-going{
    color: #FF8351;
}
.background-color-is-submitted{
    background-color: #00A4D3;
}
.color-is-submitted{
    color: #00A4D3;
}
.background-color-has-been-started{
    background-color: #FF8351;
}
.color-has-been-started{
    color: #FF8351;
}

/**
*   FILTER STYLE
*/
.custom-filter-button {
    margin-right: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 2px;
    min-width: 150px;
    text-align: center;
}

.custom-filter-button-library {
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.custom-filter-button.custom-selected, .custom-filter-button-library.custom-selected {
    background-color  : #FF8500;
    color: white;
}

/**
 * Floating nav selected
 */
.floating-navigation li.selected {
    background: #FF8500;
    box-shadow: none;
}
.floating-navigation li.selected a {
    color: white;
}

/**
*   OVERWRITE THEME
*/

.tabs header.selected{
    background-color: transparent !important;
}

.down-open:hover{
    color: #FF8351;
}