<div class="row">
    <h1 class="cell">
        [[ subjectScheduled.title ]]<span style="font-size: large;">&nbsp;-&nbsp;NOM prénom</span>
    </h1>
</div>
<div class="row">
    <button class="cell right-magnet" data-ng-click="redirectToTeacherDashboardLibraryTab()" data-ng-if="previewingFromLibrary">
        Retour à la bibliothèque
    </button>

    <button class="cell right-magnet" data-ng-click="redirectToSubjectEdit()" data-ng-if="!previewingFromLibrary">
        Retour à l'édition
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToSubjectPreviewPerformCopy()">
        Retour à l'aperçu
    </button>
</div>