<div class="row">
    <section class="zone-image mb-16">
        <div class="row">
            <div class="drawing-zone base-image">
                <div class="image-container">
                    <image-select ng-model="grain.grain_data.custom_data.guideImage" ng-change="updateGrain();" id="[[ grain.id ]]-bckgrnd"></image-select>
                </div>
                <placed-block ng-repeat="iconZone in grain.grain_data.custom_data.zones" style="padding:0;" draggable
                                x="iconZone.position.x" y="iconZone.position.y" z="iconZone.position.z"
                                transform-x="getResizedIconZoneX" transform-y="getResizedIconZoneY"
                >
                    <image-zone>
                        <svg ng-click="removeZone(iconZone)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                        <img ng-src="[[iconZone.answer]]?thumbnail=120x120" />
                        <div class="actions" ng-click="editZone(iconZone)">
                            <i class="edit"></i> <i18n>exercizer.edit</i18n>
                        </div>
                    </image-zone>

                </placed-block>
            </div>
        </div>
        <div class="select-zone gap-8">
            <button ng-click="displayState.pickOption = true" class="btns btns-secondary flex-inline gap-8"><svg class="icon-plus" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#plus"></use></svg><i18n>exercizer.grain.add.answer</i18n></button>
            <button class="cancel flat-button flex-inline gap-8" ng-click="displayState.changeBackground = true"><svg class="icon-edit" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#edit"></use></svg><i18n>exercizer.grain.background</i18n></button>
            <div class="options right">
                <image-zone ng-repeat="option in grain.grain_data.custom_data.options track by $index">
                    <svg ng-click="removeOption(grain.grain_data.custom_data, option)" class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
                    <img ng-src="[[option]]?thumbnail=120x120" />
                </image-zone>
            </div>
        </div>
    </section>

    <lightbox show="displayState.changeBackground" on-close="displayState.changeBackground = false">
        <div ng-if="displayState.changeBackground">
            <media-library ng-model="grain.grain_data.custom_data.guideImageFile" ng-change="displayState.changeBackground = false; updateGrain();" file-format="'img'"></media-library>
        </div>
    </lightbox>

    <lightbox show="displayState.editZone" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <div class="info row">
            <i18n>exercizer.grain.responses.info</i18n>
        </div>

        <div class="row options">
            <image-zone 
                ng-click="editAnswer(displayState.editedIcon, option)" 
                ng-repeat="option in grain.grain_data.custom_data.options track by $index">
                <img ng-src="[[option]]?thumbnail=120x120" />
            </image-zone>
        </div>
    </lightbox>
    <lightbox show="displayState.pickOption" on-close="displayState.pickOption = false">
        <div ng-if="displayState.pickOption">
            <media-library ng-model="displayState.newOption" file-format="'img'" ng-change="addOption(grain.grain_data.custom_data); displayState.pickOption = false"></media-library>
        </div>
    </lightbox>
</div>