<div class="row vertical-spacing">
    <div class="row">
        <div class="drawing-zone base-image">
            <div class="image-container">
                <image-select ng-model="grain.grain_data.custom_data.guideImage" ng-change="updateGrain();"></image-select>
            </div>
            <placed-block ng-repeat="iconZone in grain.grain_data.custom_data.zones" style="padding:0;"
                            draggable x="iconZone.position.x" y="iconZone.position.y" z="iconZone.position.z">
                <image-zone>
                    <i class="close" ng-click="removeZone(iconZone)"></i>
                    <img ng-src="[[iconZone.answer]]?thumbnail=120x120" />
                    <div class="actions" ng-click="editZone(iconZone)">
                        <i class="edit"></i> <i18n>exercizer.edit</i18n>
                    </div>
                </image-zone>

            </placed-block>
        </div>
    </div>
    <lightbox show="displayState.changeBackground" on-close="displayState.changeBackground = false">
        <div ng-if="displayState.changeBackground">
            <media-library ng-model="grain.grain_data.custom_data.guideImageFile" ng-change="displayState.changeBackground = false; updateGrain();" file-format="'img'"></media-library>
        </div>
    </lightbox>

    <lightbox show="displayState.editZone" on-close="displayState.editZone = false">
        <h2><i18n>exercizer.grain.responses</i18n></h2>

        <div class="info row">
            <i18n>exercizer.grain.responses.info</i18n>
        </div>

        <div class="row options">
            <image-zone 
                ng-click="editAnswer(displayState.editedIcon, option)" 
                ng-repeat="option in grain.grain_data.custom_data.options track by $index">
                <img ng-src="[[option]]?thumbnail=120x120" />
            </image-zone>
        </div>
    </lightbox>
    <lightbox show="displayState.pickOption" on-close="displayState.pickOption = false">
        <div ng-if="displayState.pickOption">
            <media-library ng-model="displayState.newOption" file-format="'img'" ng-change="addOption(grain.grain_data.custom_data); displayState.pickOption = false"></media-library>
        </div>
    </lightbox>
    <div class="row">
        <label><strong><i18n>exercizer.grain.zoneimg.advisable</i18n></strong></label>
    </div>
    <div class="row vertical-spacing">
        <button class="cancel" ng-click="displayState.changeBackground = true"><i18n>exercizer.grain.background</i18n></button>
    </div>
    <div class="row options">
        <image-zone ng-repeat="option in grain.grain_data.custom_data.options track by $index">
            <i class="close" ng-click="removeOption(grain.grain_data.custom_data, option)"></i>
            <img ng-src="[[option]]?thumbnail=120x120" />
        </image-zone>
        <image-zone ng-click="displayState.pickOption = true">
            <button class="add-answer"><i18n>exercizer.grain.add.answer</i18n></button>
        </image-zone>
    </div>
</div>
