<article>
    <grain-edit-text-header data-text="Ajouter..." data-grain="grain"></grain-edit-text-header>
    <div class="row">
        <grain-edit-aside data-grain="grain" data-cell-count="four"></grain-edit-aside>
        <div class="eight cell vertical-spacing">
            <a class="comment" data-ng-click="displayNextStep(3)">
                Énoncé&nbsp;&nbsp;<i class="doc-text"></i>
            </a>
            <a class="comment" style="margin-left:10px;" data-ng-click="displayNextStep(2)">
                Question&nbsp;&nbsp;<i class="help"></i>
            </a>
        </div>
    </div>
</article>