<div class="row">

    <!-- grain type icon -->
    <div class="cell">
        <i data-ng-class="grainType.illustration"></i>
    </div>

    <!-- grain toggle icon -->
    <div class="cell right-magnet" data-ng-click="toggleGrain()">
        <i data-ng-show="isFolded" data-tooltip="Déplier" class="down-open"></i>
        <i data-ng-hide="isFolded" data-tooltip="Plier" class="up-open"></i>
    </div>

    <!-- grain trash icon -->
    <div class="cell right-magnet horizontal-spacing" data-tooltip="Supprimer" data-ng-click="removeGrain()">
        <i class="trash"></i>
    </div>

</div>