<article class="grain-perform">
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList" data-display-hint="true"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div class="row vertical-spacing">
        <editor data-ng-model="grainCopy.grain_copy_data.custom_copy_data.filled_answer"></editor>
    </div>
</article>