<article id="[[ grainCopy.id ]]">
    <grain-copy-header data-grain-copy="grainCopy"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div class="row vertical-spacing">
        <div class="vertical-spacing" style="word-wrap: break-word;" data-ng-bind-html="openAnswerHtml"></div>
    </div>
    <grain-copy-footer data-grain-scheduled="grainScheduled"
                       data-grain-copy="grainCopy"
                       data-is-teacher="isTeacher">
    </grain-copy-footer>
</article>