<article>
    <grain-copy-header data-grain-copy="grainCopy"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div class="base-image">
            <div class="image-container">
                <img ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
            </div>
            <placed-block ng-repeat="iconZone in grainCopy.grain_copy_data.custom_copy_data.zones"
                x="iconZone.position.x" y="iconZone.position.y" z="iconZone.position.z">
                <image-zone class="drop-zone" drop-item="answer(iconZone, $item);">
                    <img ng-src="[[iconZone.answer]]?thumbnail=120x120" ng-if="iconZone.answer" drag-item="iconZone" />
                </image-zone>

            </placed-block>
        </div>

        <div class="row options" drop-item="removeAnswer($item);">
            <image-zone 
                ng-repeat="option in grainCopy.grain_copy_data.custom_copy_data.options | filter:availableOption track by $index"
                drag-item="option">
                <img ng-src="[[option]]?thumbnail=120x120" />
            </image-zone>
        </div>
    </div>

</article>