<article id="[[grainCopy.id]]">
    <grain-copy-header data-grain-copy="grainCopy"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>

    <div class="row">
        <div class="drawing-zone base-image">
            <div class="image-container">
                <img ng-src="[[grainCopy.grain_copy_data.custom_copy_data.guideImage]]" />
            </div>

            <placed-block ng-repeat="iconZone in grainCopy.grain_copy_data.custom_copy_data.zones"
                x="iconZone.position.x" y="iconZone.position.y" z="iconZone.position.z">
                <image-zone ng-class="{ success: correction[$index], error: !correction[$index] }">
                    <img ng-src="[[iconZone.answer]]?thumbnail=120x120" ng-if="iconZone.answer" drag-item="iconZone" />
                </image-zone>

            </placed-block>
        </div>
    </div>

</article>