<!--LIGHTBOX -->

<lightbox show="display.grain.showConfirmRemove" on-close="display.grain.showConfirmRemove = false">
    <h2>Supprimer</h2>
    <p>Voulez-vous vraiment supprimer cet élement du sujet ?</p>
    <div class="row">
        <button data-ng-click="deleteGrain(); display.grain.showConfirmRemove = false;" class="right-magnet">Supprimer</button>
        <input type="button" class="cancel right-magnet" i18n-value="cancel" data-ng-click="display.grain.showConfirmRemove = false" />
    </div>
</lightbox>


<!-- PAGE -->

<article>
    <div class="row">
        <div class="one cell"><grain-icon directive-name = "getTypeDirectiveEditNameByCurrentGrain()"></grain-icon></div>
        <div class="nine cell">&nbsp;</div>
        <div class="one cell" data-ng-click="display.grain.showConfirmRemove = true"><i class="close-2x"></i></div>
        <div class="one cell" data-ng-click="toggle()"><grain-toggle ></grain-toggle></div>
    </div>

    <div class="row" data-ng-show="isToggle">
        <div data-ng-show="getTypeDirectiveEditNameByCurrentGrain() == 'edit-statement'">
            <div class="row">
                <div class="two cell">
                    <input type="checkbox">
                </div>
                <div class="ten cell" ng-bind-html="grain.grain_data.custom_data.statement"></div>
            </div>
        </div>
        <div data-ng-hide="getTypeDirectiveEditNameByCurrentGrain() == 'edit-statement'">
            <div class="row">
                <div class="two cell">
                    <input type="checkbox"><br>
                </div>
                <div class="six cell">[[grain.grain_data.title]]</div>
                <div class="two cell"><exercise-icon grain = "grain"></exercise-icon></div>
                <div class="two cell">/ [[grain.grain_data.max_score]]</div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-hide="isToggle">
        <div ng-switch on="getTypeDirectiveEditNameByCurrentGrain()">
            <div ng-switch-when="edit-statement">
                <edit-statement grain = "grain"></edit-statement>
            </div>
            <div class="animate-switch" ng-switch-when="edit-open-question">
                <edit-open-question></edit-open-question>
            </div>
            <div class="animate-switch" ng-switch-when="edit-simple-answer">
                <edit-simple-answer grain="grain"></edit-simple-answer>
            </div>
            <div class="animate-switch" ng-switch-default>
                [[getTypeNameByCurrentGrain()]] ---  [[grain]]
            </div>
        </div>
    </div>
</article>




