<div class="fallen dominos">
    <div class="item" style="width: 100%; max-width: none;">
        <section class="domino">
            <div class="top">
                <img data-ng-src="[[getSubjectCopyPicture()]]" class="absolute" />
            </div>
            <div class="bottom">
                <div class="content">
                    <div class="cell">
                        <div class="row">
                            <div data-ng-switch="selectTitle()">
                                <strong data-ng-switch-when="perform" data-ng-click="performSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="view" data-ng-click="viewSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="text" ><span class="token" data-ng-class="copyStateColorClass()">[[textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-default >default</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div data-ng-show="isDueDateDisplayed()">Pour le <span  data-ng-bind="getSubjectCopyDueDate() | date:'dd/MM/yyyy'"></span></div>
                            <div data-ng-show="isSubmittedDateDisplayed()">Rendu le <span  data-ng-bind="getSubjectCopySubmittedDate() | date:'dd/MM/yyyy'"></span></div>
                        </div>
                        <div class="row">
                            <em class="high-importance">[[ getSubjectScheduledOwner() ]]</em>
                        </div>
                        <div class="row">
                            <a data-ng-click="viewSubjectCopy(subjectCopy.id)">test view</a>
                        </div>
                    </div>
                    <div class="cell right-magnet"
                         data-ng-show="isColorColumnDisplay()"
                         data-ng-class="copyStateBackGroundColorClass();"
                         style="height: 100%; width: 20px;margin-left: 20px;">
                        &nbsp;
                    </div>
                    <div class="cell right-magnet">
                        <strong>[[subjectCopy.final_score]] / [[getSubjectScheduledMaxScore()]]</strong>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>