<div class="fallen dominos">
    <div class="item" style="width: 100%;max-width: none">
        <section class="domino">
            <div class="top">
                <img data-ng-src="[[getSubjectCopyPicture()]]" class="fixed twelve cell" />
            </div>
            <div class="bottom">
                <div class="content">
                    <div class="cell"
                         data-ng-show="isColorColumnDisplay()"
                         data-ng-style="{'background-color': getColorColumn()}"
                        style="height: 100%; width: 20px; margin-right: 20px"
                    >
                        &nbsp;
                    </div>
                    <div class="cell"
                         data-ng-hide="isColorColumnDisplay()"
                         style="height: 100%; width: 20px; margin-right: 20px"                    >
                        &nbsp;
                    </div>
                    <div class="nine cell">
                        <h4 data-ng-show="canAccessPerform()" data-ng-click="performSubjectCopy(subjectCopy.id)"><span class="token" data-ng-style="{'color': getColorColumn()}">[[textBeforeTitle()]]</span>[[getSubjectScheduledTitle()]]</h4>
                        <h4 data-ng-hide="canAccessPerform()"><span class="token" data-ng-style="{'color': getColorColumn()}">[[textBeforeTitle()]]</span>[[getSubjectScheduledTitle()]]</h4>
                        <h4 data-ng-click="viewSubjectCopy(subjectCopy.id)">view</h4>
                        <div data-ng-show="isDueDateDisplayed()">Pour le <span  data-ng-bind="getSubjectCopyDueDate() |  date:'dd/MM/yyyy'"></span></div>
                        <div data-ng-show="isSubmittedDateDisplayed()">Rendu le <span  data-ng-bind="getSubjectCopySubmittedDate() |  date:'dd/MM/yyyy'"></span></div>
                        <div>[[getSubjectScheduledOwner()]]</div>
                    </div>
                    <div class="two cell">
                        <h4>/ [[getSubjectScheduledMaxScore()]]</h4>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>