<div class="row">
    <h1 class="cell">
        <span class="hover-orange" data-ng-click="clickReturnExercizer()"><span class="hover-orange">Exercices et évaluations</span></span>
        <span data-ng-click="clickReturnExercizerTab()"> / <span class="hover-orange">[[ getTab()]]</span></span>
        <span data-ng-click="" data-ng-if="selectedSubjectScheduled"> / <span class="hover-orange">[[ getSubjectSelectedTitle()]]</span></span>
    </h1>
    <div class="cell right-magnet" data-ng-if="!selectedSubjectScheduled || selectedSubjectScheduled.type === 'interactive'">
        <div class="label-badge" style="padding: 5px 10px 5px 10px;" data-ng-click="switchToStudentView()">
            <span class="cell">Passer en vue apprenant</span>
            <i role="close" class="right-magnet"></i>
        </div>
    </div>
</div>
<div class="row twelve cell tabs" style="min-height: 60px;">
    <div class="cell">
        <header class="horizontal-spacing"
                data-ng-click="switchTab('mySubjects')"
                data-ng-class="{ selected: currentTab === 'mySubjects' }"
        >
            Mes sujets
        </header>
        <header class="horizontal-spacing"
                data-ng-click="switchTab('correction')"
                data-ng-class="{ selected: currentTab === 'correction' }"
        >
            Mes corrections
        </header>
        <header class="horizontal-spacing"
                data-ng-click="switchTab('library')"
                data-ng-class="{ selected: currentTab === 'library' }"
        >
            Bibliothèque
        </header>
    </div>
</div>