<!-- GRAIN TEXT HEADER -->
<div class="row">
    <!-- TEXT HEADER -->
    <div class="cell">
        <em class="high-importance">[[ text ]]</em>
    </div>

    <!-- GRAIN TRASH ICON -->
    <div class="cell right-magnet" data-tooltip="Supprimer" data-ng-click="displayModalRemoveGrain()">
        <i class="trash"></i>
    </div>
</div>

<!-- REMOVE GRAIN MODAL -->
<div data-ng-if="isModalRemoveGrainDisplayed()">
    <lightbox data-show="isModalRemoveGrainDisplayed()" data-on-close="closeModalRemoveGrain()">
        <h2>Supprimer un élément</h2>
        <p>Confirmez-vous la suppression de l'élément ?</p>
        <div class="row">
            <button data-ng-click="removeGrain()" class="cell right-magnet">Supprimer l'élement</button>
            <button data-ng-click="closeModalRemoveGrain()" class="cell right-magnet cancel">Annuler</button>
        </div>
    </lightbox>
</div>