<!-- TITLE & SCORE -->
<div class="row vertical-spacing">
    <input type="text" class="six cell" data-ng-model="grain.grain_data.title" complete-change="updateGrain()" value="[[ grain.grain_data.title ]]" placeholder="Titre de la question" />
    <input type="text" class="cell right-magnet" data-ng-model="grain.grain_data.max_score" complete-change="updateGrain()" data-digits-input-restrict placeholder="Pondération" />
    <em class="high-importance cell right-magnet">Question sur /</em>
</div>