<div class="row" data-ng-show="grain.grain_data.document_list.length > 0">
    <table class="twelve">
        <thead>
        <tr>
            <th>
                Documents
            </th>
            <th style="text-align: right">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="grainDocument in grain.grain_data.document_list">
            <td>
                <a href="[[ grainDocument.path ]]" target="_blank">[[ grainDocument.name ]]</a>
            </td>
            <td style="text-align: right">
                <i class="close" data-ng-click="removeGrainDocument(grainDocument)"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>