{
    "name": "{{ exercizerVersion }}",
    "config": {
        "main": "fr.openent.exercizer.Exercizer",
        "port": 8105,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "app-name": "Exercices et évaluations",
        "app-address": "/exercizer",
        "app-icon": "exercizer-large",
        "sql": true,
        "app-type" : "END_USER",
        "mongodb": true,
        "host": "https://{{ host }}",
        "ssl": true,
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        {% if exercizerJob is defined and exercizerJob %}
        "scheduledNotificationCron": "0 0 4 * * ? 2099",
        {% else %}
        "scheduledNotificationCron": "0 0 4 * * ? *",
        {% endif %}
        "entcore.port": 8009,
        "publicConf": {
            "disable-timezone-check": {{ disableTimeZoneCheck|default('false') }},
            {% if bprEnabled is defined and bprHost is defined %}
            "libraryHost": "{{ bprHost }}",
            {% endif %}
            "xiti": {
                "ID_SERVICE": {
                    "default": 17
                },
                "LIBELLE_SERVICE": {
                    "default": "PARCOURS_PEDAGOGIQUE"
                }
            }
        }
    }
}