<article>
    <div class="row" style="margin-bottom: 20px;">
        <div class="cell">
            <exercizer-help></exercizer-help>
        </div>
        <div class="right-magnet cell">^</div>
    </div>
    <div class="row">
        <div class="eight cell">
            <edit-question-title></edit-question-title>
        </div>
        <div class="one cell">&nbsp;</div>
        <div class="three cell">
            <edit-question-max-score></edit-question-max-score>
        </div>
    </div>
    <div class="row">
        <edit-question-statement></edit-question-statement>
    </div>
    <div class="row">
        <edit-question-add-document></edit-question-add-document>
    </div>
    <div class="row">
        <!-- HERE COMES CUSTOM TEMPLATES -->
    </div>
</article>