<div class="row">
    <div class="three cell">
        <button data-ng-show="display.buttonBackToSubjectList()">
            Retour au sujets
        </button>
        &nbsp;
    </div>
    <div class="one cell">
        <span> / [[getSubjectMaxScore()]]</span>
    </div>
    <div class="eight cell">
        <span>[[getSubjectTitle()]]</span>
        <input type="button" class="button right-magnet cancel" data-ng-click="clickOnAutoCorrection()" data-ng-show="display.buttonAutoCorrection()" value="Aperçu d'une correction d'une copie">
    </div>
</div>

<div class="row">
    <!-- part navigation -->
    <div class="three cell">
        <div class="row">
            <span>Temps restant : libre</span>
        </div>
        <subject-tree subject-copy="subjectCopy"
                      current-item="currentOrder">

        </subject-tree>
    </div>
    <!-- PART GRAIN  -->
    <div class="nine cell scrollable">
        <div class="row">
            <div class="twelve cell">
                <div data-ng-show="display.pagePresentationSubject()">
                    <article>
                        <div class="row">
                            <div class="twelve cell">
                                <div>Sujet à rendre avant le : <i>[[getDueDate()]]</i></div>
                            </div>
                            <div class="twelve cell">
                                <div>Durée de réalisation : <i>[[getDuration()]]</i></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div data-ng-repeat="grainCopy in grainCopyList() | orderObjectBy:'order':false"
                     data-ng-show="display.grainCopyByOrder(grainCopy.order)">
                    <grain-perform grain-copy="grainCopy" grain-state="perform"></grain-perform>
                </div>
            </div>
        </div>
        <!-- BUTTON PART -->
        <div class="row">
            <div class="twelve cell">
                <!-- button next question -->
                <button class="right-magnet cell" data-ng-click="clickNextQuestion()" data-ng-show="display.buttonNextQuestion()">
                    Suivant
                </button>
                <!-- button previous question -->
                <input type="button" class="button right-magnet cancel" data-ng-click="clickPreviousQuestion()" data-ng-show="display.buttonPreviousQuestion()" value="Précèdent">
                <!-- button return copy-->
                <button class="right-magnet cell" data-ng-show="display.buttonReturnCopy()">
                    Rendre la copie
                </button>
                <!-- button return copy later-->
                <input type="button" class="button right-magnet cancel" data-ng-show="display.buttonReturnCopy()" value="Rendre la copie plus tard">
                <!-- button start -->
                <button class="right-magnet cell" data-ng-click="startSubject()" data-ng-show="display.buttonStartSubject()">
                    Commencer
                </button>

            </div>
        </div>
    </div>
</div>
