<!DOCTYPE html>
<html>

<head>
	<title>{{#i18n}}exercizer.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system.js" type="text/javascript"></script>
	<script src="/exercizer/public/js/controller.js" type="text/javascript"></script>
	<script src="/exercizer/public/js/scripts.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/exercizer/public/style/style.css" media="screen" />
	<!-- todo lauren cheat for use dropdown with scroll in lightbox-->
	<style>
		div[data-drop-down]{
			z-index: 100000;
			max-height: 400px;
			overflow-y: scroll;
			background-color: white;
		}
	</style>
</head>

<body class="exercizer">
<portal>
	<div data-ng-controller="ExercizerController">
		<container template="main"></container>
	</div>
</portal>
</body>

</html>
