<h2 class="row" data-ng-if="grainType.id === 3">
    [[ grainCopy.grain_copy_data.title || grainType.public_name ]]
</h2>

<div class="row" data-ng-if="grainType.id > 3">
    <h2 class="cell">
        <i class="help"></i><span class="vertical-spacing">&nbsp;[[ getCorrectOrder() + ') ' ]] [[ grainCopy.grain_copy_data.title ]] - [[ grainCopy.grain_copy_data.max_score ]] <i18n>exercizer.score</i18n></span>
    </h2>

    <!-- grain copy toggle hint button -->
    <a class="comment right-magnet cell"
       style="margin: 0;"
       data-ng-click="toggleGrainCopyHint()"
       data-ng-if="hasAnswerHint() && displayHint">
        <i18n>exercizer.grain.help</i18n>&nbsp;&nbsp;
        <i data-ng-show="isAnswerHintFolded" data-tooltip="exercizer.unfold" class="down-open"></i>
        <i data-ng-hide="isAnswerHintFolded" data-tooltip="exercizer.fold" class="up-open"></i>
    </a>

</div>

<!-- grain copy hint -->
<div class="row" data-ng-hide="isAnswerHintFolded" data-ng-if="hasAnswerHint()">
    <p style="text-align: justify" class="info"><em class="medium-importance">[[ grainCopy.grain_copy_data.answer_hint ]]</em></p>
</div>

<!-- if no error allowed -->
<div class="row" data-ng-if="grainType.id > 5 && grainCopy.grain_copy_data.custom_copy_data.no_error_allowed">
    <div class="warning"><i18n>exercizer.grain.no.error.allowed</i18n></div>
</div>
