<div class="row">

    <article class="cell" style="width: 49%;">
        <h2 class="row" style="color: firebrick;">Cette semaine</h2>

        <div class="row">
            <input type="text" data-ng-model="search.text_1" placeholder="Rechercher" class="four cell">
        </div>

        <div class="row" data-ng-controller="SubjectCopyListController as subjectCopyListController">
            <div data-ng-repeat="subjectCopy in filteredSubjectCopyList = (subjectCopyListController.orderByDueDate(subjectCopyListController.scheduledThisWeek(subjectCopyList)) | filter: subjectCopyListController.filterOnSubjectScheduledTitle(search.text_1) | filter: subjectCopyListController.filterOnSubjectCopyNotStartedOrStarted()) | orderBy:'modified':true">
                <subject-copy-domino subject-copy = "subjectCopy" subject-scheduled = "subjectCopyListController.getSubjectScheduledById(subjectCopy.subject_scheduled_id)"></subject-copy-domino>
            </div>

            <div data-ng-show="!filteredSubjectCopyList.length" style="text-align: center">
                <img src="exercizer/public/assets/img/smiley.PNG"/>
                <h4>Vous n'avez aucun sujet à faire cette semaine</h4>
            </div>
        </div>
    </article>

    <article class="cell right-magnet" style="width: 49%;">
        <h2 class="row">Plus tard</h2>

        <div class="row">
            <input type="text" data-ng-model="search.text_2" placeholder="Rechercher" class="four cell">

            <date-picker data-ng-model="search.endDate" class="three cell right-magnet"></date-picker>
            <label class="cell right-magnet">
                &nbsp;&nbsp;&nbsp;Au
            </label>

            <date-picker data-ng-model="search.beginDate" class="three cell right-magnet"></date-picker>
            <label class="cell right-magnet">
                Du
            </label>
        </div>
        <div class="row" data-ng-controller="SubjectCopyListController as subjectCopyListController">
            <div data-ng-repeat="subjectCopy in filteredSubjectCopyList = (subjectCopyListController.orderByDueDate(subjectCopyList) | filter: subjectCopyListController.filterOnSubjectScheduledTitle(search.text_2) | filter: subjectCopyListController.filterOnSubjectCopyNotStartedOrStarted() | filter: subjectCopyListController.filterOnSubjectScheduledDueDate(search.beginDate, search.endDate)) | orderBy:'modified':true">
                <subject-copy-domino subject-copy = "subjectCopy" subject-scheduled = "subjectCopyListController.getSubjectScheduledById(subjectCopy.subject_scheduled_id)"></subject-copy-domino>
            </div>

            <div data-ng-show="!filteredSubjectCopyList.length" style="text-align: center">
                <img src="exercizer/public/assets/img/smiley.PNG"/>
                <h4>Vous n'avez aucun sujet à faire plus tard</h4>
            </div>
        </div>
    </article>
</div>