<div class="row rigid-grid">
    <!-- navigation -->
    <section class="four cell">
        <div class="row">
            <div class="ten cell" data-ng-click="clickOnAutocompletee()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <nav class="vertical dragging-zone-folder">
            <ul>
                <li>
                    <a  class="selected"
                        data-ng-click="goToRoot()"
                        dragdrop="dropToRoot($originalEvent)"
                    >
                        Mes sujets
                    </a>
                    <div data-ng-repeat="item in  folderList() | orderObjectBy:'label':false" >
                        <folder-nav-item   item = "item"
                                       is-root = "true"
                                       set-current-folder-fn="setCurrentFolder"
                                       parent-id="parentId"
                                       current-folder-id = "currentFolderId"
                        ></folder-nav-item>
                    </div>
                </li>
            </ul>
            <a class="classic-link" data-ng-click="clickCreateFolder()">
                Créer un nouveau dossier
            </a>
        </nav>
    </section>
    <!-- main page -->
    <section class="margin-four">
        <nav class="twelve cell">
            <div class="cell right-magnet">
                <i data-ng-click="displayList = 'array'"
                   class="show-list"
                   data-ng-class="{selected: displayList == 'array'}"

                ></i>
                <i data-ng-click="displayList = 'domino'"
                   class="show-icons"
                   data-ng-class="{selected: displayList == 'domino'}"

                ></i>
            </div>
        </nav>
        <!-- domino part -->
        <div class="twelve cell" data-ng-show="displayList == 'domino'">
            <div class="fallen dominos">
                <!-- folder part -->
                <div data-ng-repeat="folder in folderList()">
                    <div class="item" data-ng-if="filterFolderByParentFolder(folder)">
                        <section class="domino">
                            <div
                                    class="top"
                                    style="padding-top : 10%;"
                                    dragstart="drag(folder, $originalEvent)"
                                    dragcondition="dragFolderCondition(folder)"
                                    dragdrop="dropTo(folder, $originalEvent)"
                                    dropcondition="dropFolderCondition(folder)"
                            >
                                <a class="container">
                                    <i class="folder-large"></i>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</strong>
                                        <br />
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageFolder()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input  type="checkbox" data-ng-model="folder.selected" class="right-magnet cell" data-ng-change="selectFolder(folder)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- subject part -->
                <div data-ng-repeat="subject in subjectList()">
                    <div  class="item"  data-ng-if="filterSubjectByParentFolder(subject)" >
                        <section class="domino">
                            <div
                                    class="top"
                                    dragstart="drag(subject, $originalEvent)"
                                    dragcondition="dragSubjectCondition(subject)"
                                    dragdrop="dropTo(subject, $originalEvent)"
                                    dropcondition="dropSubjectCondition.dropCondition(subject)"
                            >
                                <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                            </div>
                            <div class="bottom">
                                <div class="content">
                                    <div class="cell">
                                        <strong data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</strong>
                                        <br />
                                        <span>[[getSubjectModificationDate()]]</span>
                                        <br />
                                    </div>
                                    <div data-ng-show="canManageSubject()" class="bottom-locked eleven vertical-spacing-twice">
                                        <input type="checkbox" data-ng-model="subject.selected" class="right-magnet cell" data-ng-change="selectSubject(subject)"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <!-- array part -->
        <div class="twelve cell" data-ng-show="displayList == 'array'">
            <table class="list-view">
                <thead>
                <tr>
                    <th scope="col" class="icon">
                        <input type="checkbox" data-ng-click="" data-ng-model="selectAll"  />
                    </th>
                    <!-- icon folder -->
                    <th><i class="drag-anchor"></i></th>
                    <th scope="col">
                        <span>Nom</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- folder list-->
                <tr data-ng-repeat="folder in folderList()">
                    <td data-ng-if="filterFolderByParentFolder(folder)">
                        <input type="checkbox" data-ng-model="folder.selected"/>
                    </td>
                    <td     dragstart="drag(getItem(), $originalEvent)"
                            dragcondition="dragCondition(getItem())"
                            dragdrop="dropTo(getItem(), $originalEvent)"
                            dropcondition="dropCondition(getItem())"
                            data-ng-if="filterFolderByParentFolder(folder)">
                        <i class="folder"></i>
                    </td>
                    <td data-ng-if="filterFolderByParentFolder(folder)">
                        <a data-ng-click="clickOnFolderTitle(folder)">[[folder.label]]</a>
                    </td>
                </tr>
                <!-- subject  list -->
                <tr data-ng-repeat="subject in subjectList()">
                    <td data-ng-if="filterSubjectByParentFolder(subject)">
                        <input type="checkbox" data-ng-model="subject.selected"/>
                    </td>
                    <td     dragstart="drag(getItem(), $originalEvent)"
                            dragcondition="dragCondition(getItem())"
                            dragdrop="dropTo(getItem(), $originalEvent)"
                            dropcondition="dropCondition(getItem())"
                            data-ng-if="filterSubjectByParentFolder(subject)">
                        <i class="pdf"></i>
                    </td>
                    <td data-ng-if="filterSubjectByParentFolder(subject)">
                        <a data-ng-click="clickOnSubjectTitle(subject)">[[subject.title]]</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>