<lightbox data-show="isDisplayed" data-on-close="hide()">
    <h1>Programmer un sujet</h1>
    <div class="row">
        <div class="three cell">
            <nav class="vertical">
                <ul>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'assignSubject'}"
                            data-ng-click="state='assignSubject'">
                            Attribuer le sujet
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'option'}"
                            data-ng-click="state='option'">
                            Option de programmation
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'schedule'}"
                            data-ng-click="state='schedule'">
                            Programmer
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="nine cell">
            <div data-ng-show="state == 'assignSubject'">
                <div class="row vertical-spacing">
                    <h3>Rechercher un utilisateur ou un groupe</h3>
                    <autocomplete
                            options="data.lists"
                            ng-change="clickOnItem(selectedItem)"
                            ng-model="selectedItem">
                    </autocomplete>
                </div>
                <div class="row vertical-spacing">
                    <div class="six cell">
                        <h3>Groupes ajoutés</h3>
                        <div class="row vertical-spacing" data-ng-repeat="group in data.groupList">
                            <div class="one cell">&nbsp;</div>
                            <div class="one cell" data-ng-click="removeItem(group)"><i class="close"></i></div>
                            <div class="one cell">&nbsp;</div>
                            <div class="nine cell">[[group.toString()]]</div>
                        </div>
                    </div>
                    <div class="six cell">
                        <h3>Utilisateurs ajoutés</h3>
                        <div class="row vertical-spacing" data-ng-repeat="user in data.userList">
                            <div class="one cell">&nbsp;</div>
                            <div class="one cell" data-ng-click="removeItem(user)"><i class="close"></i></div>
                            <div class="one cell">&nbsp;</div>
                            <div class="nine cell">[[user.toString()]]</div>
                        </div>
                    </div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'option'">
                        Suivant
                    </button>
                    <button class="cancel right-magnet cell" data-ng-click="hide()">
                        Annuler
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'option'">
                <div class="row  vertical-spacing">
                    <h3>Options</h3>
                </div>
                <div class="row">
                    <div class="six cell"><span> Date de début :&nbsp;</span></div>
                    <date-picker ng-model="option.begin_date"  class="six cell"></date-picker>
                </div>
                <div class="row">
                    <div class="six cell"><span> Date de fin :&nbsp;</span></div>
                    <date-picker ng-model="option.due_date" class="six cell"></date-picker>
                </div>
                <div class="row">
                    <input type="checkbox" data-ng-model="option.is_one_shot_submit"/>
                    <span>Rendu définif</span>
                </div>
                <div class="row vertical-spacing">
                    <input type="checkbox" data-ng-model="option.has_automatic_display"/>
                    <span>Affichage du résultat automatique pour les élèves</span>
                </div>
                <div class="row vertical-spacing">
                    <span>Temps de réalisation estimé du devoir </span>
                    <input type="text" data-ng-model="option.estimated_duration"/>
                    <span>minute(s)</span>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'schedule'">
                        Suivant
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'assignSubject'">
                        Précédent
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'schedule'">
                <div class="row">
                    <h3>Confirmez-vous la programmation du sujet ?</h3>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="scheduleSubject()">
                        Programmer
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'option'">
                        Précédent
                    </button>
                </div>
            </div>
        </div>
    </div>
</lightbox>