<lightbox data-show="isDisplayed" data-on-close="hide()">
    <h1>Distribuer un sujet</h1>
    <div class="row">
        <div class="three cell">
            <nav class="vertical">
                <ul>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'assignSubject'}"
                            data-ng-click="state='assignSubject'">
                            Destinataires
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'option'}"
                            data-ng-click="state='option'">
                            Options
                        </a>

                    </li>
                    <li>
                        <a  data-ng-class="{'selected' : state == 'schedule'}"
                            data-ng-click="state='schedule'">
                            Valider
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="nine cell">
            <div data-ng-show="state == 'assignSubject'">
                <div class="row">
                    <h4>Rechercher un utilisateur ou un groupe</h4>
                    <autocomplete
                            options="data.lists"
                            ng-change="clickOnItem(selectedItem)"
                            ng-model="selectedItem">
                    </autocomplete>
                </div>
                <div class="row">
                    <div class="six cell">
                        <h4>Groupes ajoutés</h4>
                        <div class="row" data-ng-repeat="group in data.groupList">
                            <div class="one cell">&nbsp;</div>
                            <div class="one cell" data-ng-click="removeItem(group)"><i class="close"></i></div>
                            <div class="one cell">&nbsp;</div>
                            <div class="nine cell">[[group.toString()]]</div>
                        </div>
                        <div class="row" data-ng-if="data.groupList.length === 0">
                            Aucun groupe ajouté.
                        </div>
                    </div>
                    <div class="six cell">
                        <h4>Utilisateurs ajoutés</h4>
                        <div class="row" data-ng-repeat="user in data.userList">
                            <div class="one cell">&nbsp;</div>
                            <div class="one cell" data-ng-click="removeItem(user)"><i class="close"></i></div>
                            <div class="one cell">&nbsp;</div>
                            <div class="nine cell">[[user.toString()]]</div>
                        </div>
                        <div class="row" data-ng-if="data.userList.length === 0">
                            Aucun utilisateur ajouté.
                        </div>
                    </div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'option'">
                        Suivant
                    </button>
                    <button class="cancel right-magnet cell" data-ng-click="hide()">
                        Annuler
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'option'">
                <div class="row">
                    <h4>Options</h4>
                </div>
                <div class="row">
                    <div class="six cell"><span> Date de début :&nbsp;</span></div>
                    <date-picker ng-model="option.begin_date"  class="six cell"></date-picker>
                </div>
                <div class="row">
                    <div class="six cell"><span> Date de fin :&nbsp;</span></div>
                    <date-picker ng-model="option.due_date" class="six cell"></date-picker>
                </div>
                <div class="row vertical-spacing">
                    <input type="checkbox" data-ng-model="option.allow_students_to_update_copy"/>
                    <span>Autoriser l'élève à améliorer sa copie</span>
                </div>
                <!--
                <div class="row vertical-spacing">
                    <input type="checkbox" data-ng-model="option.has_automatic_display"/>
                    <span>Résultat et correction automatique visibles pour les élèves</span>
                </div>
                -->
                <div class="row vertical-spacing" style="margin-top: 50px !important;">
                    <span>Temps de réalisation estimé du devoir </span>
                    <input type="text" data-ng-model="option.estimated_duration"/>
                    <span>minute(s)</span>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="state = 'schedule'">
                        Suivant
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'assignSubject'">
                        Précédent
                    </button>
                </div>
            </div>

            <div data-ng-show="state == 'schedule'">
                <div class="row vertical-spacing">
                    <div class="warning"><i18n>exercizer.schedule.confirm</i18n></div>
                </div>
                <div class="row vertical-spacing">
                    <button class="right-magnet cell" data-ng-click="scheduleSubject()" data-ng-disabled="scheduleSubjectInProgress">
                        Distribuer
                    </button>
                    <button class="flat-button right-magnet cell" data-ng-click="state = 'option'">
                        Précédent
                    </button>
                </div>
            </div>
        </div>
    </div>
</lightbox>