<article>
    <div class="row">
        <div class="cell">
            <grain-icon type-name="getTypeNameByCurrentGrain()"></grain-icon>
        </div>
            <div class="cell right-magnet horizontal-spacing" data-tooltip="Supprimer" data-ng-click="eventDeleteGrain()">
                <i class="trash"></i>
            </div>
        <div class="cell right-magnet" data-ng-click="eventToggleGrain()">
            <grain-toggle is-toggle="isToggle"></grain-toggle>
        </div>
    </div>

    <!-- toggle part -->
    <div class="row" data-ng-show="isToggle">

        <div class="two-cell vertical-spacing">
            <input type="checkbox" data-ng-change="eventSelectGrain()" />
        </div>
        <div class="ten cell">
            <div data-ng-show="getTypeNameByCurrentGrain() == 'statement'" data-ng-bind-html="grain.grain_data.custom_data.statement"></div>
            <h2 data-ng-hide="getTypeNameByCurrentGrain() == 'statement'">[[ grain.grain_data.title ]]<span class="horizontal-spacing">&nbsp;/&nbsp;[[ grain.grain_data.max_score ]]</span></h2>
        </div>

    </div>

    <!-- not toggle part -->
    <div class="row" data-ng-hide="isToggle">
        <!-- statement -->
        <div data-ng-show="getTypeNameByCurrentGrain() == 'statement'">
            <statement-edit grain="grain" update-grain="updateGrain()"></statement-edit>
        </div>
        <!-- not statement -->
        <div data-ng-hide="getTypeNameByCurrentGrain() == 'statement'">
            <div class="row">
                <div class="one cell">&nbsp;</div>
                <div class="ten cell">
                    <div class="row">
                        <div class="eight cell">
                            <grain-title grain-state="edit" title="grain.grain_data.title"
                                         on-blur-function="updateGrain()"></grain-title>
                        </div>
                        <div class="four cell">
                            <grain-max-score grain-state="edit" max-score="grain.grain_data.max_score"
                                             on-blur-function="updateGrain()"></grain-max-score>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve cell">
                            <grain-statement grain-state="edit" statement="grain.grain_data.statement"
                                             on-blur-function="updateGrain()"></grain-statement>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve cell">
                            <grain-add-document grain = "grain" state="edit"></grain-add-document>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve cell">
                            <grain-document document-list = "grain.grain_data.documentList" state="edit"></grain-document>
                        </div>
                    </div>
                    <div ng-switch on="getTypeNameByCurrentGrain()">
                        <!-- HERE IS THE SWITCH ON THE EXERCISE -->
                        <div class="animate-switch" ng-switch-when="simpleAnswer">
                            <simple-answer-edit grain-state="edit" grain="grain" update-grain="updateGrain()"></simple-answer-edit>
                        </div>
                        <div class="animate-switch" ng-switch-default></div>
                    </div>
                    <div class="row">
                        <div class="twelve cell">
                            <grain-hint grain-state="edit" hint="grain.grain_data.hint"
                                        on-blur-function="updateGrain()"></grain-hint>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve cell">
                            <grain-correction grain-state="edit" correction="grain.grain_data.correction"
                                              on-blur-function="updateGrain()"></grain-correction>
                        </div>
                    </div>
                </div>
                <div class="one cell">&nbsp;</div>
            </div>
        </div>
    </div>
</article>