<article>
    <div class="row">
        <div class="one cell"><grain-icon directive-name = "getTypeDirectiveEditNameByCurrentGrain()"></grain-icon></div>
        <div class="nine cell">&nbsp;</div>
        <div class="one cell" data-ng-click="eventDeleteGrain()"><i class="close-2x"></i></div>
        <div class="one cell" data-ng-click="eventToggleGrain()"><grain-toggle ></grain-toggle></div>
    </div>

    <div class="row" data-ng-show="isToggle">
        <div data-ng-show="getTypeDirectiveEditNameByCurrentGrain() == 'edit-statement'">
            <div class="row">
                <div class="two cell">
                    <input type="checkbox" data-ng-model="isGrainSelected" data-ng-change="eventSelectGrain()">
                </div>
                <div class="ten cell" ng-bind-html="grain.grain_data.custom_data.statement"></div>
            </div>
        </div>
        <div data-ng-hide="getTypeDirectiveEditNameByCurrentGrain() == 'edit-statement'">
            <div class="row">
                <div class="two cell">
                    <input type="checkbox" data-ng-model="isGrainSelected" data-ng-change="eventSelectGrain()"><br>
                </div>
                <div class="six cell">[[grain.grain_data.title]]</div>
                <div class="two cell"><exercise-icon grain = "grain"></exercise-icon></div>
                <div class="two cell">/ [[grain.grain_data.max_score]]</div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-hide="isToggle">
        <div ng-switch on="getTypeDirectiveEditNameByCurrentGrain()">
            <div ng-switch-when="edit-statement">
                <edit-statement grain = "grain"></edit-statement>
            </div>
            <div class="animate-switch" ng-switch-when="edit-open-question">
                <edit-open-question></edit-open-question>
            </div>
            <div class="animate-switch" ng-switch-when="edit-simple-answer">
                <edit-simple-answer grain="grain"></edit-simple-answer>
            </div>
            <div class="animate-switch" ng-switch-default>
                [[getTypeNameByCurrentGrain()]] ---  [[grain]]
            </div>
        </div>
    </div>
</article>



