<article>
    <div class="row">
        <div class="six cell">
            <textarea data-ng-if="state == 'correction'" data-ng-model="grainCopy.teacher_comment" data-ng-blur="updateGrainCopy()" placeholder="Commentaire"></textarea>
        </div>
        <div class="six cell">
            <span> Note automatique : </span>
            <span>[[grainCopy.calculated_score]]</span>
        </div>
        <div class="six cell">
            <span> Note prof : </span>
            <input type="text" data-ng-model="grainCopy.final_score" data-ng-blur="updateGrainCopy()">
        </div>
    </div>
</article>




