<article>
    <div class="row">
        <div class="six cell">
            <textarea data-ng-if="grainState == 'marking'" data-ng-model="grainCopy.teacher_comment" data-ng-blur="updateGrainCopy()" placeholder="Commentaire"></textarea>
        </div>
        <div class="six cell">
            <grain-auto-correction grain-scheduled="grainScheduled" grain-copy="grainCopy"></grain-auto-correction>
        </div>
        <div class="six cell">
            <span> Note prof : </span>
            <input type="text" data-ng-model="grainCopy.final_score" data-ng-blur="updateGrainCopy()">
        </div>
    </div>

</article>




