<article>
    <div ng-switch on="getTypeDirectiveEditNameByCurrentGrainCopy()">
        <div ng-switch-when="statement">
            <perform-statement grain-copy="grainCopy"></perform-statement>
        </div>
        <div class="animate-switch" ng-switch-when="simpleAnswer">
            <simple-answer-perform grain-copy="grainCopy" state="[[state]]"></simple-answer-perform>
        </div>
        <div class="animate-switch" ng-switch-default>
            [[grainCopy]]
        </div>
    </div>
</article>




