<article>
    <div class="row">
        <div class="one cell"><exercizer-help></exercizer-help></div>
        <div class="ten cell">&nbsp;</div>
        <div class="one cell"><exercizer-fold></exercizer-fold></div>
    </div>

    <div class="row">
        <div class="one cell">&nbsp;</div>
        <div class="ten cell">
            <div class="row">
                <div class="eight cell"><edit-question-title></edit-question-title></div>
                <div class="four cell"><edit-question-max-score></edit-question-max-score></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-statement></edit-question-statement></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-add-document></edit-question-add-document></div>
            </div>
            <div class="row">
                <div class="twelve cell">
                    <textarea class="twelve cell" placeholder="Réponse - champ réserver à l'élève"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-hint></edit-question-hint></div>
            </div>
            <div class="row">
                <div class="twelve cell"><edit-question-correction></edit-question-correction></div>
            </div>
        </div>
        <div class="one cell">&nbsp;</div>
    </div>
</article>