<article>
    <grain-copy-header data-grain-copy="grainCopy" data-grain-copy-list="grainCopyList"></grain-copy-header>
    <grain-copy-statement data-grain-copy="grainCopy"></grain-copy-statement>
    <grain-copy-grain-document-list data-grain-copy="grainCopy"></grain-copy-grain-document-list>
    <div data-ng-show="grainCopy.grain_copy_data.custom_copy_data.show_left_column">
        <div data-ng-repeat="(key, filled_answer) in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list"
             class="row vertical-spacing"
            data-ng-init="data.hover[key] = { bool : false }">
            <div style="border-bottom: 1px solid" class="four cell">[[filled_answer.text_left]]</div>
            <div class="one cell">&nbsp;</div>
            <!-- dragdrop="dropTo(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key)"-->
            <div drop-item="dropTo($item, filled_answer, key)"
                 class="five cell"
                 style="  border: 1px dashed;
                             border-radius: 10px;
                             text-align: center;
                             min-height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                    "
                 data-ng-class="{'association-drop-hover'  : data.hover[key].bool == true}">
                <span style="width: 80%">{{filled_answer.text_right}}</span>
            </div>
            <div class="one cell">&nbsp;</div>
            <div class="one cell" data-ng-click="deleteFilledAnswer(filled_answer)"><i class="close"></i></div>

        </div>
        <div class="row vertical-spacing">
            <div data-ng-repeat="possible_answer in possible_answer_left_list"
                 class="cell association-possible-answer-left"
                 drag-item="possible_answer">
                <!--dragstart="drag(possible_answer, $originalEvent)-->
                [[possible_answer.text_right]]
            </div>
        </div>

    </div>
    <div data-ng-hide="grainCopy.grain_copy_data.custom_copy_data.show_left_column">
        <div data-ng-repeat="(key, filled_answer) in grainCopy.grain_copy_data.custom_copy_data.filled_answer_list"
             class="row vertical-spacing">
            <!-- dragdrop="dropToLeft(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key, false, true)" -->
            <div drop-item="dropToLeft($item, filled_answer, key, false, true)"
                 class="three cell "
                 style="  border: 1px dashed;
                             border-radius: 10px;
                             text-align: center;
                             min-height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                    "
                 data-ng-class="{'association-drop-hover'  : data.hover[key].left == true}">
                <span style="width: 80%">{{filled_answer.text_left}}</span>
            </div>
            <div class="one cell">&nbsp;</div>
            <div class="one cell" data-ng-click="deleteFilledAnswerLeft(filled_answer)"><i class="close"></i></div>
            <div class="two cell">&nbsp;</div>
            <!-- dragdrop="dropToRight(filled_answer, $originalEvent)"
                 dropcondition="dropConditionFunction(filled_answer, $originalEvent, key, true, false)" -->
            <div drop-item="dropToRight($item, filled_answer, key, true, false)"
                 class="three cell "
                 style="  border: 1px dashed;
                             border-radius: 10px;
                             text-align: center;
                             min-height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                    "
                 data-ng-class="{'association-drop-hover'  : data.hover[key].right == true}">
                <span style="width: 80%">{{filled_answer.text_right}}</span>
            </div>
            <div class="one cell">&nbsp;</div>
            <div class="one cell" data-ng-click="deleteFilledAnswerRight(filled_answer)"><i class="close"></i></div>
        </div>
    </div>
    <div class="row vertical-spacing">
        <div data-ng-repeat="possible_answer in grainCopy.grain_copy_data.custom_copy_data.all_possible_answer | orderBy:'rank'"
             class="cell association-possible-answer-left"
             drag-item="possible_answer">
            <!-- dragstart="drag(possible_answer, $originalEvent)" -->
            [[possible_answer.item]]
        </div>
    </div>
</article>