<div class="row">
    <input 
           class="twelve cell m-16"
           type="text" 
           i18n-placeholder="exercizer.grain.type.statement"
           ng-change="updateGrain()" 
           ng-model="grain.grain_data.title" />
</div>

<div class="row">
    <editor 
        class="small-editor radius-8 m-0" 
        data-ng-model="grain.grain_data.custom_data.statement" 
        on-change="updateGrain()" 
        inline 
        track-input-event="grain.getTracker()"
    >
    </editor>
</div>

