<div class="row">
    <h1 class="cell">
        [[ subjectScheduled.title ]]&nbsp;/&nbsp;[[ subjectScheduled.max_score ]]
    </h1>
</div>
<div class="row">
    <button class="cell right-magnet" data-ng-click="redirectToSubjectPreviewViewCopy()">
        Aperçu de la correction
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToSubjectEdit()" data-ng-if="!previewingFromLibrary">
        Retour à l'édition
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToTeacherDashboardLibraryTab()" data-ng-if="previewingFromLibrary">
        Retour à la bibliothèque
    </button>
</div>