<div class="row">
    <h1 class="cell">
        [[ subjectScheduled.title ]]&nbsp;-&nbsp;[[ subjectScheduled.max_score ]]&nbsp;point(s)
    </h1>
    </div>
<div class="row">

    <button class="cell right-magnet" data-ng-if="canSubmit()" data-ng-click="redirectToDashboard(true)">
        Rendre la copie
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)">
        Continuer plus tard
    </button>
</div>

<lightbox data-show="isModalDisplayed" on-close="closeModal()">
    <h2>Rendre la copie</h2>

    <p>Voulez-vous vraiment rendre votre copie du sujet <em>[[ subjectScheduled.title ]]</em> à <strong>[[ subjectScheduled.owner_username ]]</strong> ?</p>

    <div class="info">Vérifiez bien que toutes les questions soient remplies avant de rendre votre copie.</div>

    <div class="warning" data-ng-if="subjectScheduled.is_one_shot_submit"><strong>Attention !</strong> Le rendu de votre copie sera définitif, vous ne pourrez plus la modifier ensuite.</div>

    <div class="row">
        <button data-ng-click="submitSubjectCopy()" class="cell right-magnet">Rendre la copie</button>
        <button data-ng-click="closeModal()" class="cell right-magnet cancel">Annuler</button>
    </div>
</lightbox>