<div class="row">
    <h1 class="cell">
        <span class="hover-orange" data-ng-click="(previewingFromLibrary) ? redirectToTeacherDashboardLibraryTab() : redirectToDashBoard()"><i18n>exercizer.title</i18n></span> / [[ subjectScheduled.title ]]&nbsp;-&nbsp;[[ subjectScheduled.max_score ]] point(s)
    </h1>
</div>
<div class="row">
    <button class="cell right-magnet" data-ng-click="redirectToSubjectPreviewViewCopy()" data-ng-if="!previewingFromLibrary" data-ng-hide="previewingReader">
        Aperçu de la correction
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToSubjectEdit()" data-ng-if="!previewingFromLibrary" data-ng-hide="previewingReader">
        Retour à l'édition
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashBoard()" data-ng-if="previewingReader && !previewingFromLibrary">
        Retour à mes sujets
    </button>

    <button class="cell right-magnet" data-ng-click="displayModalCopyPaste()" data-ng-if="previewingFromLibrary">
        Copier dans mes sujets
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToTeacherDashboardLibraryTab()" data-ng-if="previewingFromLibrary">
        Retour à la bibliothèque
    </button>
</div>

<!-- MODAL COPY PAST -->
<teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>