<div class="row">
     <div class="cell">
          <h2> [[selectedSubjectScheduled.title]]</h2>
     </div>
     <div class="cell right-magnet">
          <button data-ng-click="clickReturnSubjectScheduledList()" class="right-magnet cancel">
               Retour
          </button>
     </div>
</div>
<div class="row vertical-spacing">
     <div class="cell">
          <span data-ng-repeat="user in selectedSubjectScheduled.scheduled_at.userList"
                style="font-weight: bold;font-size: large;">
               [[user.name]] -
          </span>
          <span data-ng-repeat="group in selectedSubjectScheduled.scheduled_at.groupList"
                style="font-weight: bold;font-size: large;">
               [[group.name]] -
          </span>
     </div>
     <div class="cell">
          &nbsp;
     </div>
     <div class="cell">
          Il reste [[numberCopyNotCorrected()]] copies à corriger
     </div>
     <div class="cell right-magnet">
          [[numberCopySubmitted()]] élèves sur [[subjectCopyList.length]] ont rendu le devoir
     </div>

</div>
<div class="row vertical-spacing">
     <table class="list-view">
          <thead>
          <tr>
               <th><input type="checkbox" data-ng-model="selectAll" data-ng-click="clickSelectAll(selectAll)"/></th>
               <th>Copie de</th>
               <th>État</span></th>
               <th>Date de rendu</th>
               <th>Auto-correction</th>
               <th>Score finale</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="copy in subjectCopyList">
               <td>
                    <input type="checkbox" data-ng-model="copy.selected" data-ng-click="selectCopy()"/>
               </td>
               <td data-ng-switch="selectTitle(copy)">
                    <span data-ng-switch-when="text">[[copy.owner_username]]</span>
                    <span data-ng-switch-when="correction" data-ng-click="clickOnCopy(copy)" class="hover-orange">[[copy.owner_username]]</span>
                    <span data-ng-switch-default>Default</span>
               </td>
               <td>
                    <div data-ng-show="copyStateBackGroundColorClass(copy)"
                         style="border: 1px solid black;border-radius: 2px;color: white;text-align: center"
                         data-ng-class="copyStateBackGroundColorClass(copy)"
                    >
                         [[copyStateText(copy)]]
                    </div>
               </td>
               <td>
                    <span>[[copy.submitted_date | date:'dd/MM/yyyy']]</span>
               </td>
               <td>
                    <span>[[copy.calculated_score | truncateNumber ]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
               <td>
                    <span>[[copy.final_score  | truncateNumber]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
          </tr>
          </tbody>
     </table>
</div>

<section class="toggle-buttons" data-ng-show="toasterDisplayed">
     <div class="toggle">
          <div class="row">
               <div class="cell">
                    <button data-ng-click="applyAutomaticMark()">Passer le statut de la sélection à "Corrigé"</button>
               </div>
          </div>
     </div>
</section>


