
 <div class="twelve cell">
     <h2 class="no-margin"> [[selectedSubjectScheduled.title]]</h2>
     <p class="small-text">
         Commence le <b> [[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]]</b> <br>
         Date limite de rendu le <b> [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]]</b> <br>
     </p>
 </div>

<div class="row vertical-spacing">
     <div class="cell">
          <span data-ng-repeat="user in lUserGroup" class="small-text">
              <b>[[user.name]] </b>
          </span>
          <em class="small-text"> - Il reste <b>[[numberCopyNotCorrected()]]</b> copie(s) à corriger </em>
     </div>
</div>

<div class="vertical-spacing">
    <div class="small-text right-magnet" style="margin-top: 12px;">
         [[numberCopySubmitted()]] élève(s) sur [[subjectCopyList.length]] ont rendu le devoir
    </div>
     <input type="text" class="five cell" data-ng-model="search.owner.owner_username" placeholder="Rechercher un élève">
</div>
<div class="row vertical-spacing">
     <table class="list-view">
          <thead>
          <tr>
               <th class="one centered-text" ><input type="checkbox" data-ng-model="selectAll" data-ng-click="clickSelectAll(selectAll)"/></th>
               <th scope="col" ng-click="orderByField('owner_username')">
                    <span translate content="Copie de" ></span>
                    <i class="sort" ng-if="order.field !== 'owner_username'"></i>
                    <i class="sort-asc" ng-if="order.field === 'owner_username' && !order.desc"></i>
                    <i class="sort-desc" ng-if="order.field === 'owner_username' && order.desc"></i>
               </th>
               <th scope="col" ng-click="orderByField('state')">
                    <span translate content="État" ></span>
                    <i class="sort" ng-if="order.field !== 'state'"></i>
                    <i class="sort-asc" ng-if="order.field === 'state' && !order.desc"></i>
                    <i class="sort-desc" ng-if="order.field === 'state' && order.desc"></i>
               </th>
               <th scope="col" ng-click="orderByField('submitted_date')">
                    <span translate content="Date de rendu" ></span>
                    <i class="sort" ng-if="order.field !== 'submitted_date'"></i>
                    <i class="sort-asc" ng-if="order.field === 'submitted_date' && !order.desc"></i>
                    <i class="sort-desc" ng-if="order.field === 'submitted_date' && order.desc"></i>
               </th>
               <th scope="col" ng-click="orderByField('calculated_score')">
                    <span translate content="Score automatique" ></span>
                    <i class="sort" ng-if="order.field !== 'calculated_score'"></i>
                    <i class="sort-asc" ng-if="order.field === 'calculated_score' && !order.desc"></i>
                    <i class="sort-desc" ng-if="order.field === 'calculated_score' && order.desc"></i>
               </th>
               <th scope="col" ng-click="orderByField('final_score')">
                    <span translate content="Score final" ></span>
                    <i class="sort" ng-if="order.field !== 'final_score'"></i>
                    <i class="sort-asc" ng-if="order.field === 'final_score' && !order.desc"></i>
                    <i class="sort-desc" ng-if="order.field === 'final_score' && order.desc"></i>
               </th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="copy in subjectCopyList | filter:search.owner | orderBy:order.order:order.desc">
               <td class="centered-text">
                    <input type="checkbox" data-ng-model="copy.selected" data-ng-click="selectCopy()"/>
               </td>
               <td data-ng-switch="selectTitle(copy)">
                    <span data-ng-switch-when="text">[[copy.owner_username]]</span>
                    <span data-ng-switch-when="correction" data-ng-click="clickOnCopy(copy)" class="hover-orange">[[copy.owner_username]]</span>
                    <span data-ng-switch-default>Default</span>
               </td>
               <td>
                    <div data-ng-show="copyStateBackGroundColorClass(copy)"
                         style="border: 1px solid black;border-radius: 2px;color: white;text-align: center"
                         data-ng-class="copyStateBackGroundColorClass(copy)" >
                         [[copyStateText(copy)]]
                    </div>
               </td>
               <td>
                   <div data-ng-if="tooLate(copy)" class="alert">
                       <i class="timer-off"></i> &nbsp; Retard <span class="warning-text">[[copy.submitted_date | date:'dd/MM/yyyy']]</span>
                   </div>

                   <div data-ng-if="!tooLate(copy) && copy.submitted_date" class="valid-color">
                       <i class="check-circle"></i> &nbsp;<em>[[copy.submitted_date | date:'dd/MM/yyyy']]</em>
                   </div>

                   <div data-ng-if="showReminder(copy)" class="flex-row align-center">
                      <i class="pending-action horizontal-spacing medium-text"></i>
                      <button data-ng-click="reminder(copy.id)" class="flat-button no-margin"><i18n>Rappel</i18n></button>
                   </div>
               </td>
               <td>
                    <span>[[copy.calculated_score | truncateNumber ]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
               <td>
                    <span>[[copy.final_score  | truncateNumber]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
          </tr>
          </tbody>
     </table>
</div>

<section class="toggle-buttons" data-ng-show="toasterDisplayed">
     <div class="toggle">
          <div class="row">
               <div class="cell" data-ng-if="showAutomaticMark()">
                    <button data-ng-click="applyAutomaticMark()">Passer le statut de la sélection à "Corrigé"</button>
               </div>
               <div class="cell">
                    <button data-ng-click="reminder()">Rappel aux non-rendus</button>
               </div>
          </div>
     </div>
</section>

<reminders is-displayed="reminderDisplayed" selected-subject-scheduled="selectedSubjectScheduled" reminder-copies="reminderCopies" />
