<div>
    <!-- filter -->
    <div class="row vertical-spacing">
        <div class="cell one"
             data-ng-click="clickFilter('corrected')"
             data-ng-style="search.filter == 'corrected' && {'background-color': 'lightblue'} || search.filter != 'corrected' && {'background-color': 'lightgray'}"
             style="margin-right: 20px;border: 1px solid lightgray;padding: 10px;background-color: lightgray;border-radius: 2px;min-width: 150px;text-align: center;">
            <span>Corrigés</span>
        </div>
        <div class="cell one"
             data-ng-click="clickFilter('notCorrected')"
             data-ng-style="search.filter == 'notCorrected' && {'background-color': 'lightblue'} || search.filter != 'notCorrected' && {'background-color': 'lightgray'}"
             style="margin-right: 20px;border: 1px solid lightgray;padding: 10px;background-color: lightgray;border-radius: 2px;min-width: 150px;text-align: center;">
            <span>Non corrigés</span>
        </div>
        <div class="cell one">
            &nbsp;
        </div>
        <div class="cell two">
            <div class="cell two" style="text-align: center">Du</div>
            <date-picker data-ng-model="search.beginDate"  class="cell four"></date-picker>
        </div>
        <div class="cell two">
            <div class="cell two" style="text-align: center">Au</div>
            <date-picker data-ng-model="search.endDate"  class="four"></date-picker>
        </div>
        <div class="cell right-magnet">
            <i data-ng-click="displayList = 'array'" class="show-list" data-ng-class="{selected: displayList == 'array'}"></i>
            <i data-ng-click="displayList = 'domino'" class="show-icons selected" data-ng-class="{selected: displayList == 'domino'}"></i>
        </div>
    </div>
    <!-- page -->
    <div class="row vertical-spacing">
        <div class="cell three">
            <article>
                <div>
                    <h2>Classes - groupes</h2>
                </div>
                <div class="row">
                    <div class="twelve cell" data-ng-click="clickOnAutoComplete()">
                        <autocomplete
                                options="autocomplete.groupList"
                                ng-change="clickOnItem(selectedItem)"
                                ng-model="selectedItem">
                        </autocomplete>
                    </div>
                </div>
                <div class="row" data-ng-if="search.groupSelected">
                    <h4 class="cell"><i style="margin-right: 10px;" data-ng-click="resetGroupSelected()" class="close"></i> [[search.groupSelected.name]]</h4>
                </div>
            </article>

        </div>
        <div class="cell one">
            &nbsp;
        </div>
        <div class="cell eight">
            <article>
                <div class="row vertical-spacing">
                    <h1>Derniers sujets programmés</h1>
                </div>
                <div class="row vertical-spacing">
                    <div class="five cell">
                        <input type="text" data-ng-model="search.text.title" placeholder="Rechercher">
                    </div>                </div>
                <div class="row vertical-spacing">
                    <!-- list subject scheduled -->
                    <div class="fallen dominos">
                        <div data-ng-repeat="subjectScheduled in filteredSubjectScheduledList = (subjectScheduledList | filter:search.text | filter: filterOnSubjectScheduledDueDate(search.beginDate, search.endDate) | filter: filterOnGroupSelected(search.groupSelected) | filter: filterOnGroupSelectedState(search.filter) | orderBy : modified)"
                             class="item" style="width: 100%;max-width: none">
                            <section class="domino">
                                <div class="top">
                                    <img data-ng-src="[[getSubjectScheduledPicture(subjectScheduled)]]" class="fixed twelve cell" />
                                </div>
                                <div class="bottom">
                                    <div class="content">
                                        <div class="eight cell">
                                            <h4>[[subjectScheduled.title]]</h4>
                                            <div> Modifié le  {{subjectScheduled.modified | date:'dd/MM/yyyy'}}</div>
                                            <div>-- nombre de personnes ayant rendu leurs copy - </div>
                                        </div>
                                        <div class="four cell">
                                            <div data-ng-repeat="group in subjectScheduled.scheduled_at.groupList">
                                                <h3>[[group.name]]</h3>
                                            </div>
                                            <div data-ng-repeat="user in subjectScheduled.scheduled_at.userList">
                                                <h3>[[user.name]]</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>