<div class="row">
     <div class="cell">
          <h2> [[selectedSubjectScheduled.title]]</h2>
     </div>
     <div class="cell">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </div>
     <div class="cell">
          <h4> Commence le [[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]], pour le [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]]</h4>
     </div>
     <div class="cell right-magnet">
          <button data-ng-click="clickReturnSubjectScheduledList()" class="right-magnet cancel">
               Retour
          </button>
     </div>
</div>

<div class="row">
     <div class="cell">
          <h2> Corrigé du devoir (publié le [[ selectedSubjectScheduled.corrected_date | date:'dd/MM/yyyy' ]])</h2>
     </div>
     <div class="cell">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </div>
     <div class="three cell">
          <div class="twelve cell horizontal-spacing select-file input-block" style="margin-top:5px;margin-bottom:5px">
               <input style="width:70% !important" ng-readonly="true" type="text" ng-model="selectedSubjectScheduled.corrected_metadata.filename" data-display-file class="nomargin" />
               <div class="hidden-content">
                    <input type="file" style="z-index:-1" files-input-change="saveCorrected(this)"  ng-model="newFiles" />
               </div>
               <button class="file-button flat-button"><i18n>exercizer.import.choose</i18n></button>
          </div>
     </div>
     <div class="cell" data-ng-if="selectedSubjectScheduled.corrected_file_id" data-tooltip="Supprimer le corrigé"  style="margin-top:5px;margin-bottom:5px">
          <button class="flat-button" data-ng-click="removeCorrected()"><i class="close-2x"  style=""></i></button>
     </div>
     <div class="two cell select-file hidden-content">
          <div class="hidden-content">
               <input type="file" files-input-change="saveCurrentCorrected(this)"  ng-model="newFiles" />
          </div>
          <button id="currentUpload" class="file-button"><i18n>exercizer.import.choose</i18n></button>
     </div>
</div>

<div class="row vertical-spacing">
     <div class="cell">
          <span data-ng-repeat="user in selectedSubjectScheduled.scheduled_at.userList"
                style="font-weight: bold;font-size: large;">
               [[user.name]] -
          </span>
          <span data-ng-repeat="group in selectedSubjectScheduled.scheduled_at.groupList"
                style="font-weight: bold;font-size: large;">
               [[group.name]] -
          </span>
     </div>
     <div class="cell">
          &nbsp;
     </div>
     <div class="cell">
          Date limite de rendu le [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]]
     </div>
     <div class="cell right-magnet">
          [[numberCopySubmitted()]] élève(s) sur [[subjectCopyList.length]] ont rendu le devoir
     </div>

</div>

<div class="row vertical-spacing">
     <input type="text" class="twelve cell" data-ng-model="search.owner.owner_username" placeholder="Rechercher un élève">
</div>
<form name="formCopyTest" >
     <div class="row vertical-spacing">
          <table class="list-view">
               <thead>
               <tr>
                    <!-- todo Lauren sortable icon -->
                    <th class="one cell"><input type="checkbox" data-ng-model="selectAll" data-ng-click="clickSelectAll(selectAll)"/></th>
                    <th scope="col" class="two cell" ng-click="orderByField('owner_username')">
                         <span translate content="Devoir de" ></span>
                         <i class="arrow-bottom" ng-if="order.field === 'owner_username' && !order.desc"></i>
                         <i class="arrow-top" ng-if="order.field === 'owner_username' && order.desc"></i>
                    </th>
                    <th scope="col" class="one cell" ng-click="orderByField('submitted_date')">
                         <span translate content="Date de rendu" ></span>
                         <i class="arrow-bottom" ng-if="order.field === 'submitted_date' && !order.desc"></i>
                         <i class="arrow-top" ng-if="order.field === 'submitted_date' && order.desc"></i>
                    </th>
                    <th scope="col" class="four cell" ng-click="orderByField('homework_metadata.filename')">
                         <span translate content="Fichier" ></span>
                         <i class="arrow-bottom" ng-if="order.field === 'homework_metadata.filename' && !order.desc"></i>
                         <i class="arrow-top" ng-if="order.field === 'homework_metadata.filename' && order.desc"></i>
                    </th>
                    <th scope="col" class="four cell" ng-click="orderByField('corrected_metadata.filename')">
                         <span translate content="Correction individuelle" ></span>
                         <i class="arrow-bottom" ng-if="order.field === 'corrected_metadata.filename' && !order.desc"></i>
                         <i class="arrow-top" ng-if="order.field === 'corrected_metadata.filename' && order.desc"></i>
                    </th>
               </tr>
               </thead>
               <tbody>
               <tr data-ng-repeat="copy in subjectCopyList | filter:search.owner | orderBy:order.order:order.desc">
                    <td class="one cell">
                         <input type="checkbox" data-ng-model="copy.selected" data-ng-click="selectCopy()"/>
                    </td>
                    <td class="two cell">
                         <span>[[copy.owner_username]]</span>

                    </td>
                    <td class="one cell">
                         <!-- TODO Lauren -->
                         <span data-ng-if="tooLate(copy)" style="border: 1px solid black;border-radius: 2px;color: white;text-align: center;background-color:red;padding:4px">Retard</span>
                         <span style="[[tooLate(copy) ? 'color:red' : 'color:green']]">[[copy.submitted_date | date:'dd/MM/yyyy']]</span>
                         <button data-ng-click="reminder(copy.id)" data-ng-if="showReminder(copy)" class="flat-button"><i18n>Rappel</i18n></button>
                    </td>
                    <td class="four cell">
                         <span><a data-ng-click="downloadFile(copy)">[[copy.homework_metadata.filename]]</a></span>
                    </td>
                    <td class="four cell">
                         <!-- todo Lauren drop zone -->
                         <div ng-if="!copy.corrected_metadata.filename && copy.submitted_date" style="text-align: center;padding-bottom: 5px;padding-top: 5px;border: dashed #FF8500;" drop-files="newFiles" on-drop="selectedCorrectedFileCopy(copy);saveCurrentCorrected(this);">
                              <a data-ng-click="selectedCorrectedFileCopy(copy)" onclick="$(currentUpload).click();"><i class="download" style="position: inherit;   bottom: 0px;  right: 0px;"></i><i18n>Ajouter un fichier</i18n></a>
                         </div>
                         <span ng-if="copy.corrected_metadata.filename">[[copy.corrected_metadata.filename]]&nbsp;<i data-ng-click="removeCurrentCorrected(copy)" class="close-2x"></i></span>
                    </td>
               </tr>
               </tbody>
          </table>
     </div>
</form>

<section class="toggle-buttons" data-ng-show="toasterDisplayed">
     <div class="toggle">
          <div class="row">
               <div class="cell">
                    <button data-ng-click="downloadFiles()">Télécharger la sélection</button>
               </div>
               <div class="cell">
                    <button data-ng-click="reminder()">Rappel aux non-rendus</button>
               </div>
          </div>
     </div>
</section>

<reminders is-displayed="reminderDisplayed" selected-subject-scheduled="selectedSubjectScheduled" reminder-copies="reminderCopies" />