<h2> [[selectedSubjectScheduled.title]]</h2>
<div class="row vertical-spacing">
     <div class="cell">
          <span data-ng-repeat="user in selectedSubjectScheduled.scheduled_at.userList"
                style="font-weight: bold;font-size: large;">
               [[user.name]] -
          </span>
          <span data-ng-repeat="group in selectedSubjectScheduled.scheduled_at.groupList"
                style="font-weight: bold;font-size: large;">
               [[group.name]] -
          </span>
     </div>
     <div class="cell">
          &nbsp;
     </div>
     <div class="cell">
          Il reste [[numberCopyNotCorrected()]] copies à corriger
     </div>
     <div class="cell right-magnet">
          [[numberCopySubmitted()]] élèves sur [[subjectCopyList.length]] ont rendu le devoir
     </div>

</div>
<div class="row vertical-spacing">
     <table class="list-view">
          <thead>
          <tr>
               <th><input type="checkbox" data-ng-model = "selectAll" data-ng-click="clickSelectAll(selectAll)"/></th>
               <th><span>Copie de </span></th>
               <th><span>Etat </span></th>
               <th><span>Date de rendu </span></th>
               <th><span>Auto Correction </span></th>
               <th><span>Note final </span></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="copy in subjectCopyList">
               <td>
                    <input type="checkbox" data-ng-model = "copy.selected" data-ng-click="selectCopy()"/>
               </td>
               <td>
                    <span>[[copy.owner_username]]</span>
               </td>
               <td>
                    <div
                    style="border: 1px solid black;border-radius: 2px;color: white;text-align: center"
                    data-ng-style="copy.is_corrected && copy.is_correction_on_going && {'background-color': '#72BB53'} || !copy.is_corrected &&  copy.is_correction_on_going && {'background-color': '#FF8351'} ||  !copy.is_corrected &&  !copy.is_correction_on_going && {'background-color': '#00A4D3'}"
                    >
                         [[correctionStateText(copy)]]
                    </div>
               </td>
               <td>
                    <span>[[copy.submitted_date]]</span>
               </td>
               <td>
                    <span>[[copy.calculated_score]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
               <td>
                    <span>[[copy.final_score]] / [[selectedSubjectScheduled.max_score]]</span>
               </td>
          </tr>
          </tbody>
     </table>
</div>

<section class="toggle-buttons" data-ng-show="toasterDisplayed">
     <div class="toggle">
          <div class="row">
               <div class="cell">
                    <button data-ng-click="applyAutomaticMark()">Note final automatique</button>
               </div>
          </div>
     </div>
</section>


