<div class="row">
    <h1 class="cell">
        <span class="zero-mobile"><span class="hover-orange" data-ng-if="!subjectCopy.is_training_copy" data-ng-click="redirectToDashboard(false)"><i18n>exercizer.title</i18n></span>
        <span class="hover-orange" data-ng-if="subjectCopy.is_training_copy" data-ng-click="redirectToTrainingSubjects()"><i18n>exercizer.training.subject</i18n></span> / </span>
        <span tooltip="[[subjectScheduled.title]]">[[ subjectScheduled.title | limitTo: 35  ]][[ subjectScheduled.title.length > 35 ? '...' : '']]&nbsp;-&nbsp;[[ subjectScheduled.max_score ]]&nbsp;<i18n>exercizer.score</i18n></span>
    </h1>
</div>
<div class="row">

    <button class="cell right-magnet" data-ng-if="canSubmit() && !subjectCopy.is_training_copy" data-ng-click="redirectToDashboard(true)">
        <i18n>exercizer.make.copy</i18n>
    </button>

    <button class="cell right-magnet" data-ng-if="subjectCopy.is_training_copy" data-ng-click="submitSubjectCopy()">
        <i18n>exercizer.copy.see.final.score</i18n>
    </button>

    <button class="cell right-magnet flat-button" data-ng-click="redirectToDashboard(false)">
        <i18n>exercizer.make.later</i18n>
    </button>
</div>

<lightbox data-show="isModalDisplayed" on-close="closeModal()">
    <h2><i18n>exercizer.make.copy</i18n></h2>

    <p><i18n>exercizer.make.copy.confirm</i18n> <em>[[ subjectScheduled.title ]]</em> <i18n>exercizer.to</i18n> <strong>[[ subjectScheduled.owner_username ]]</strong> ?</p>

    <div class="info"><i18n>exercizer.make.copy.info</i18n></div>

    <div class="warning" data-ng-if="subjectScheduled.is_one_shot_submit"><strong><i18n>exercizer.one.submit</i18n></strong></div>
    <div class="warning" data-ng-if="!subjectScheduled.is_one_shot_submit"><strong><i18n>exercizer.several.submit</i18n></strong></div>

    <div class="row">
        <button data-ng-click="submitSubjectCopy()" class="cell right-magnet"><i18n>exercizer.make.copy</i18n></button>
        <button data-ng-click="closeModal()" class="cell right-magnet cancel"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>