<div class="row">
    <div data-ng-switch="currentGrainCopy.grain_type_id">
        <div data-ng-switch-when="3">
            <perform-statement data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-statement>
        </div>
        <div data-ng-switch-when="4">
            <perform-simple-answer data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-simple-answer>
        </div>
        <div data-ng-switch-when="5">
            <perform-open-answer data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-open-answer>
        </div>
        <div data-ng-switch-when="6">
            <perform-multiple-answer data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-multiple-answer>
        </div>
        <div data-ng-switch-when="7">
            <perform-qcm data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-qcm>
        </div>
        <div data-ng-switch-when="8">
            <perform-association data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-association>
        </div>
        <div data-ng-switch-when="9">
            <perform-order data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-order>
        </div>
        <div data-ng-switch-when="10">
            <perform-fill-text data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-fill-text>
        </div>
        <div data-ng-switch-when="11">
            <perform-zone-text data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-zone-text>
        </div>
        <div data-ng-switch-when="12">
            <perform-zone-image data-grain-copy="currentGrainCopy" data-grain-copy-list="grainCopyList"></perform-zone-image>
        </div>
        <div data-ng-switch-default>
            <perform-summary data-subject-scheduled="subjectScheduled" data-subject-copy="subjectCopy" data-previewing="previewing"></perform-summary>
        </div>
    </div>

</div>