<div class="row">
    <h1 class="cell flex-inline align-items-center gap-8 only-desktop title">
        <svg class="icon-exercizer" width="30" height="30"><use href="exercizer/public/assets/icons/illustrations.svg#exercizer"></use></svg>
        <span class="no-responsive"><span data-ng-click="(previewingFromLibrary) ? redirectToTeacherDashboardLibraryTab() : redirectToDashBoard()"><i18n>exercizer.title</i18n></span> / </span><span tooltip="[[subjectScheduled.title]]">[[ subjectScheduled.title | limitTo: 35  ]][[ subjectScheduled.title.length > 35 ? '...' : '']]&nbsp;-&nbsp;[[ subjectScheduled.max_score ]] <i18n>exercizer.score</i18n></span>
    </h1>
</div>
<div class="flex gap-16 flex-wrap-wrap mt-16 justify-content-end">

    <button class="button button-secondary" data-ng-click="redirectToSubjectEdit()" data-ng-if="!previewingFromLibrary" data-ng-hide="previewingReader">
        <svg class="icon-chevronLeft" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#chevronLeft"></use></svg>
        <i18n>exercizer.back.edit</i18n>
    </button>
    <button class="button button-accent" data-ng-click="redirectToSubjectPreviewViewCopy()" data-ng-if="!previewingFromLibrary" data-ng-hide="previewingReader">
        <svg class="icon-eye" width="20" height="20"><use xlink:href="exercizer/public/assets/icons/icons.svg#eye"></use></svg>
        <i18n>exercizer.preview.correction</i18n>
    </button>

    <button class="button button-secondary" data-ng-click="redirectToDashBoard()" data-ng-if="previewingReader && !previewingFromLibrary">
        <i18n>exercizer.back.subject</i18n>
    </button>

    <button data-ng-click="displayModalCopyPaste()" data-ng-if="previewingFromLibrary">
        <i18n>exercizer.copy.from.library</i18n>
    </button>

    <button class="button button-secondary" data-ng-click="redirectToTeacherDashboardLibraryTab()" data-ng-if="previewingFromLibrary">
        <i18n>exercizer.back.library</i18n>
    </button>
</div>

<!-- MODAL COPY PAST -->
<teacher-dashboard-copy-paste></teacher-dashboard-copy-paste>