<lightbox show="isDisplayed" on-close="hide()">
    <h2><i18n>exercizer.copypaste.title</i18n></h2>
    <p><i18n>exercizer.copypaste.confirm</i18n></p>
    <div data-ng-if="!fromLibrary">
        <ul data-ng-show="folderList.length !=0">
            <li data-ng-repeat="folderId in folderList">
                [[getFolderLabelById(folderId)]]
            </li>
        </ul>
        <ul data-ng-show="subjectList.length !=0">
            <li data-ng-repeat="subjectId in subjectList">
                [[getSubjectTitleById(subjectId)]]
            </li>
        </ul>
    </div>
    <div data-ng-if="fromLibrary">
        <ul data-ng-show="subjectList.length !=0">
            <li data-ng-repeat="subject in subjectList">
                [[ subject.title ]]
            </li>
        </ul>
    </div>
    <div class="row">
        <label class="four cell margin-one"><i18n>exercizer.folder.target</i18n>&nbsp;* :</label>
        <select data-ng-model="data.selectedFolder" class="four cell">
            <option value="null">[[translate('exercizer.root.folder')]]</option>
            <option data-ng-repeat="folder in allFolderList" value="[[folder.id]]">[[folder.label]]</option>
        </select>
    </div>
    <div class="row">
        *&nbsp;<em class="low-importance"><i18n>exercizer.folder.notarget</i18n></em>
    </div>
    <div class="row">
        <button data-ng-click="pasteSelection()" class="right-magnet"><i18n>exercizer.copypaste.copy</i18n></button>
        <button data-ng-click="hide()" class="cancel right-magnet"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>