<lightbox show="isDisplayed" on-close="hide()">
    <h2><i18n>exercizer.subject.remove.title</i18n></h2>
    <p><i18n>exercizer.subject.remove.confirm</i18n></p>
    <ul data-ng-show="folderList.length !=0">
            <li data-ng-repeat="folderId in folderList">
                [[ getFolderLabelById(folderId) ]]
            </li>
    </ul>
    <ul data-ng-show="subjectList.length !=0">
            <li data-ng-repeat="subjectId in subjectList">
                [[ getSubjectTitleById(subjectId) ]]
            </li>
    </ul>
    <div class="row">
        <button data-ng-click="deleteSelection()" class="right-magnet"><i18n>exercizer.subject.remove.action</i18n></button>
        <button data-ng-click="hide()" class="cancel right-magnet"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>