<lightbox show="isDisplayed" on-close="hide()">
    <h2><i18n>exercizer.export.title</i18n> [[subject.title]] <i18n>exercizer.export.format</i18n></h2>
    <p class=""><i18n>exercizer.export.desc</i18n> : </p>
    <ul>
        <li><i18n>exercizer.unsup.export.type1</i18n></li>
        <li><i18n>exercizer.unsup.export.type2</i18n></li>
        <li><i18n>exercizer.unsup.export.type3</i18n></li>
    </ul>

    <div class="row">
        <button data-ng-click="exportMoodle()" class="right-magnet"><i18n>exercizer.export.action</i18n></button>
        <button data-ng-click="hide()" class="cancel right-magnet"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>