<div class="row">
    <!-- navigation -->
    <section class="three cell vertical">
        <div class="row">
            <div class="eleven cell" data-ng-click="clickOnAutoComplete()">
                <autocomplete
                        options="autocomplete.subjectList"
                        ng-change="clickOnItem(selectedItem)"
                        ng-model="selectedItem">
                </autocomplete>
            </div>
        </div>
        <nav class="vertical dragging-zone-folder" data-ng-init="display.tab = 'mySubject'; display.mySubjectSubFolder = true;">
            <ul>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'mySubject', opened: display.mySubjectSubFolder}"
                        dragdrop="dropToRoot($originalEvent)">
                        <i data-ng-click="display.mySubjectSubFolder = !display.mySubjectSubFolder" class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'mySubject'" ><i18n>exercizer.dashboard.learner.tab1</i18n></span>
                    </a>
                    <div data-ng-repeat="item in  folderList() | orderObjectBy:'label':false | filterIf:display.mySubjectSubFolder" >
                        <folder-nav-item item="item"
                                         is-root="true"
                                         parent-id="parentId"
                                         current-folder-id="currentFolderId"
                                         set-current-folder-fn="setCurrentFolder"></folder-nav-item>
                    </div>
                </li>
                <li>
                    <a  data-ng-class="{selected: currentFolderId == null && display.tab == 'subjectShared'}">
                        <i class="arrow"></i>
                        <span data-ng-click="goToRoot(); display.tab = 'subjectShared'"><i18n>exercizer.shared</i18n></span>
                    </a>
                </li>
            </ul>
            <a class="classic-link" data-ng-click="clickCreateFolder(currentFolderId)">
                <i18n>exercizer.new.folder</i18n>
            </a>
        </nav>
    </section>
    <!-- main page -->
    <section class="nine cell">
        <div class="row">
            <div class="cell">
                <button data-ng-click="addNewSubject(currentFolderId)" workflow="exercizer.create"><i18n>exercizer.new.subject</i18n></button>
            </div>
            <dropdown-buttons class="cell">
                <open><i class="manage" ></i></open>
                <options>
                    <bt ng-click="importNewSubject()" >
                        <i18n>exercizer.import</i18n>
                    </bt>
                    <bt ng-click="openArchive()" >
                        <i18n>exercizer.archive.open</i18n>
                    </bt>
                </options>
            </dropdown-buttons>
            <div class="cell right-magnet">
              <div class="choice-view">
                <i data-ng-click="displayList = 'domino'"
                class="show-icons"
                data-ng-class="{selected: displayList == 'domino'}"></i>
                <i data-ng-click="displayList = 'array'"
                   class="show-list"
                   data-ng-class="{selected: displayList == 'array'}"></i>
              </div>
            </div>
        </div>

        <!-- empty -->
        <div class="row" data-ng-show="subjectList().length === 0 && folderList().length === 0">
            <h2><i18n>exercizer.empty.subjects</i18n></h2>
        </div>

        <div data-ng-show="subjectList().length > 0 || folderList().length > 0">
            <!-- domino part -->
            <div class="row" data-ng-show="displayList == 'domino'">
                <div class="fallen dominos">
                    <!-- folder part -->
                    <explorer
                        ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false"
                        ng-model="folder.selected"
                        ng-change="selectFolder(folder)"
                        on-open="openFolder(folder)"
                    >
                        <div class="item">
                            <section class="domino">
                                    <div class="top" style="padding-top : 10%;"
                                     dragstart="drag(folder, $originalEvent)"
                                     dragcondition="dragFolderCondition(folder)"
                                     dragdrop="dropTo(folder, $originalEvent)"
                                     dropcondition="dropFolderCondition(folder)">
                                    <a class="container">
                                        <i class="folder-large" style="color: #4bafd5; cursor: move!important;"></i>
                                    </a>
                                </div>
                                <div class="bottom">
                                    <div class="content">
                                        <div class="cell">
                                            <strong>[[folder.label]]</strong>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </explorer>
                    <!-- subject part -->
                    <!-- my subject -->
                    <explorer
                        ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false"
                        ng-model="subject.selected"
                        ng-change="selectSubject(subject)"
                        on-open="openSubject(subject)"
                        class="item"
                    >
                        <div>
                            <section class="domino">
                                <div class="top"
                                     data-ng-if="display.tab == 'mySubject'"
                                     dragstart="drag(subject, $originalEvent)"
                                     dragcondition="dragSubjectCondition(subject)"
                                     dragdrop="dropTo(subject, $originalEvent)"
                                     dropcondition="dropSubjectCondition.dropCondition(subject)">
                                    <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                                </div>
                                <div class="top"
                                     data-ng-if="display.tab == 'subjectShared'">
                                    <img class="absolute" data-ng-src="[[getSubjectPicture(subject)]]" />
                                </div>
                                <div class="bottom">
                                    <div class="content">
                                        <div class="cell">
                                            <div class="row">
                                                <div class="cell title-icon">
                                                    <i class="[[subject.type === 'simple' ? 'file-upload' : 'file-interactive']]" tooltip="[[subject.type === 'simple' ? 'exercizer.simple.subject' : 'exercizer.interactive.subject']]"></i>
                                                </div>
                                                <strong>[[ subject.title | limitTo: 35  ]][[ subject.title.length > 35 ? '...' : '']]</strong>
                                            </div>
                                            <div class="row">
                                                <span data-ng-if="subject.modified"><i18n>exercizer.domino.modified</i18n> [[subject.modified | date: 'dd/MM/yyyy']]</span>
                                            </div>
                                            <div class="row" data-ng-if="!amITheAuthor(subject)">
                                                <span data-ng-if="subject.modified"><i18n>exercizer.author</i18n> :  [[subject.owner_username]]</span>
                                            </div>
                                        </div>
                                        <div data-ng-show="canManageSubject()" class="bottom-locked eleven vertical-spacing-twice">
                                            <div class="right-magnet cell" data-ng-show="subject.shared.length > 0"><i class="shared" style="position: inherit;   bottom: 0px;  right: 0px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </explorer>

                </div>
            </div>

            <!-- array part -->
            <div class="row" data-ng-show="displayList == 'array'">
                <table class="list-view">
                    <thead>
                        <tr>
                            <th scope="col" class="icon">
                                <input
                                    type="checkbox"
                                    ng-model="data.selectAll"
                                    ng-click="$event.stopPropagation()"
                                    ng-change="selectAllFn(data.selectAll)"
                                />
                            </th>
                            <!-- icon folder -->
                            <th data-ng-if="display.tab == 'mySubject'"><i class="drag-anchor" ></i></th>
                            <th scope="col">
                                <span><i18n>exercizer.subject.title</i18n></span>
                            </th>
                            <th scope="col">
                                <span><i18n>exercizer.author</i18n></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- folder list-->
                        <tr data-ng-repeat="folder in folderList() | filter: filterFolderByParentFolderId() | filter: filterFolderTab(display.tab) | orderObjectBy:'label':false">
                            <td>
                                <input
                                    type="checkbox"
                                    ng-model="folder.selected"
                                    ng-click="$event.stopPropagation()"
                                    ng-change="selectFolder(folder)"
                                />
                            </td>
                            <td data-ng-if="display.tab == 'mySubject'"
                                dragstart="drag(folder, $originalEvent)"
                                dragcondition="dragFolderCondition(folder)"
                                dragdrop="dropTo(folder, $originalEvent)"
                                dropcondition="dropFolderCondition(folder)">
                                <i class="folder"></i>
                            </td>
                            <td>
                                <a data-ng-click="openFolder(folder)">[[folder.label]]</a>
                            </td>
                            <td></td>
                        </tr>
                    <!-- subject  list -->
                        <tr data-ng-repeat="subject in subjectList() | filter: filterSubjectByParentFolderId(display.tab) | filter: filterSubjectTab(display.tab) | orderObjectBy:'title':false">
                            <td>
                                <input
                                    type="checkbox"
                                    ng-model="subject.selected"
                                    ng-click="$event.stopPropagation()"
                                    ng-change="selectSubject(subject)"
                                />
                            </td>
                            <td data-ng-if="display.tab == 'mySubject'"
                                dragstart="drag(subject, $originalEvent)"
                                dragcondition="dragSubjectCondition(subject)"
                                dragdrop="dropTo(subject, $originalEvent)"
                                dropcondition="dropSubjectCondition(subject)">
                                <i class="[[subject.type === 'simple' ? 'file-upload' : 'file-interactive']]" tooltip="[[subject.type === 'simple' ? 'exercizer.simple.subject' : 'exercizer.interactive.subject']]"></i>
                            </td>
                            <td>
                                <a data-ng-click="openSubject(subject)">[[subject.title]]</a>
                            </td>
                            <td>
                                <a>[[subject.owner_username]]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <lightbox data-show="isImportDisplayed" data-on-close="closeImportLightbox()">
        <h1><i18n>exercizer.title</i18n> - <i18n>exercizer.import</i18n></h1>
        <div class="row" data-ng-show="stateImport == 'begin'">
            <div class="row">
                <span style="font-weight: bold"><i18n>exercizer.import.intro</i18n></span>
            </div>
            <div class="row vertical-spacing">
                <i18n>exercizer.import.feedback</i18n>
            </div>
            <div class="row vertical-spacing">
                <div class="seven cell" style="font-weight: bold"><i18n>exercizer.import.moodle</i18n></div>
                <div class="five cell" style="font-weight: bold"><i18n>exercizer.import.tdbase</i18n></div>
                <div class="seven cell">
                    <ul>
                        <li><i18n>exercizer.import.moodle.type1</i18n></li>
                        <li><i18n>exercizer.import.moodle.type2</i18n></li>
                        <li><i18n>exercizer.import.moodle.type3</i18n></li>
                        <li><i18n>exercizer.import.moodle.type4</i18n></li>
                    </ul>
                </div>
                <div class="five cell">
                    <ul>
                        <li><i18n>exercizer.import.tdbase.type1</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type2</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type3</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type4</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type5</i18n></li>
                        <li><i18n>exercizer.import.tdbase.type6</i18n></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <i18n>exercizer.import.feedback2</i18n>
            </div>
            <div class="row vertical-spacing" style="font-weight: bold">
                <i18n>exercizer.import.info</i18n> :
            </div>
            <div class="row" >
                <ul>
                    <li><i18n>exercizer.import.info1</i18n></li>
                    <li><i18n>exercizer.import.info2</i18n></li>
                </ul>
            </div>
            <div class="twelve cell horizontal-spacing vertical-spacing">
                <button data-ng-click="setStateImport('import')" class="right-magnet">
                    <i18n>exercizer.next</i18n>
                </button>
                <button data-ng-click="closeImportLightbox()" class="right-magnet cancel">
                    <i18n>exercizer.cancel</i18n>
                </button>
            </div>
        </div>
        <div class="row" data-ng-show="stateImport == 'import'">
            <form id="idFormImport" name="formImport">
                <div class="rigid-grid row vertical-spacing">
                    <div class="two cell clip height-two">
                        <div class="absolute" data-loading-panel="upload-collaborativeeditor-thumbnail">
                            <image-select data-ng-model="importSubject.picture" default="/img/illustrations/collaborativeeditor-default.png"></image-select>
                        </div>
                    </div>
                    <div class="margin-two height-three">
                        <div class="twelve cell horizontal-spacing">
                            <input type="text" data-ng-model="importSubject.title" class="twelve cell" i18n-placeholder="exercizer.subject.title">
                            <textarea data-ng-model="importSubject.description" class="twelve cell" i18n-placeholder="exercizer.subject.desc"></textarea>
                        </div>
                        <div class="twelve cell horizontal-spacing select-file input-block" style="margin-top:5px;margin-bottom:5px">
                            <button class="file-button"><i18n>exercizer.import.choose</i18n></button>
                            <input style="width:70% !important" ng-readonly="true" type="text" ng-model="fileImportName" data-display-file class="nomargin" />
                            <div class="hidden-content">
                                <input type="file" style="z-index:-1" files-input-change="setFilesName(this)"  ng-model="newFiles" />
                            </div>
                        </div>

                        <div class="twelve cell horizontal-spacing vertical-spacing">
                            <span style="padding:10px" data-ng-show="loadingImport">
                                <i class="left-magnet loading" style="padding:10px"></i>
                                <strong class="left-magnet" style="padding:10px"><i18n>exercizer.import.loading</i18n></strong>
                            </span>
                            <button data-ng-click="saveImportSubject()" class="right-magnet" data-ng-disabled="loadingImport">
                                <i18n>exercizer.import.launch</i18n>
                            </button>
                            <button data-ng-click="closeImportLightbox()" class="right-magnet cancel" data-ng-disabled="loadingImport">
                                <i18n>exercizer.cancel</i18n>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" data-ng-show="stateImport == 'result'">
            <div class="height-three">
                <div class="twelve cell horizontal-spacing">
                    <div style="font-weight: bold"><i18n>exercizer.import.count</i18n>[[grainImportCount]]</div>
                </div>
                <div class="twelve cell horizontal-spacing vertical-spacing">
                    <div style="font-weight: bold"><i18n>exercizer.import.unsupported</i18n> :</div>
                </div>
                <div class="twelve cell horizontal-spacing vertical-spacing">
                    <div style="overflow-y: auto; max-height:150px; border:1px dotted lightgrey;">
                        <ul>
                            <li data-ng-repeat="item in unsupported track by $index">{{item}}</li>
                        </ul>
                    </div>
                </div>
                <div class="twelve cell horizontal-spacing vertical-spacing">
                    <button data-ng-click="goToSubjectAfterImport()" class="right-magnet">
                        <i18n>exercizer.import.view</i18n>
                    </button>
                    <button data-ng-click="closeImportLightbox()" class="right-magnet cancel">
                        <i18n>exercizer.close</i18n>
                    </button>
                </div>
            </div>
        </div>
    </lightbox>
    <library-prompt data-ng-if="displayLibraryIncentive()" data-origin-module="'exercizer'"></library-prompt>
</div>
