<lightbox show="isDisplayed" on-close="hide()">
    <h1 class="row"><i18n>exercizer.publishto.title</i18n></h1>

    <div class="row vertical-spacing">
        <div class="four cell">
            <i18n>exercizer.publishto.subject</i18n> * :
        </div>
        <select data-ng-model="selection.selectedSubjectLessonTypeId" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonType in subjectLessonTypeList" value="[[ subjectLessonType.id ]]">[[ subjectLessonType.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        <div class="four cell">
            <i18n>exercizer.publishto.level</i18n> * :
        </div>
        <select data-ng-model="selection.selectedSubjectLessonLevelId" class="seven cell margin-one">
            <option value="null"></option>
            <option data-ng-repeat="subjectLessonLevel in subjectLessonLevelList" value="[[ subjectLessonLevel.id ]]">[[ subjectLessonLevel.label ]]</option>
        </select>
    </div>

    <div class="row vertical-spacing">
        <i18n>exercizer.publishto.tag.title</i18n> :
    </div>

    <div class="row vertical-spacing">
        <autocomplete
                class="ten cell"
                data-ng-init="searchedSubjectTagObject = undefined"
                options="autocompleteSubjectTagList"
                ng-change="selectSubjectTag(selectedSubjectTagObject)"
                search="searchedSubjectTagObject"
                ng-model="selectedSubjectTagObject">
        </autocomplete>
        <button class="cell right-magnet" data-ng-click="addNewSubjectTag(searchedSubjectTagObject); searchedSubjectTagObject = undefined;" data-ng-disabled="!searchedSubjectTagObject && !isPublicationOnGoing">
            <i18n>exercizer.publishto.add</i18n>
        </button>
    </div>

    <!--<div class="row vertical-spacing">

        <p>Le tag n'apparaît pas ? Créez-le :</p>

        <input type="text" class="eight cell" maxlength="255" data-ng-model="newCustomTagLabel" placeholder="Libellé du nouveau tag">

        <button class="cell right-magnet" data-ng-click="addNewSubjectTag(newCustomTagLabel); newCustomTagLabel = undefined;" data-ng-disabled="!newCustomTagLabel && !isPublicationOnGoing">
            Créer et ajouter le tag
        </button>
    </div>-->

    <h2 class="row" data-ng-show="selectedSubjectTagList.length > 0"><i18n>exercizer.publishto.tag.linked</i18n> :</h2>

    <div class="row vertical-spacing">
        <div class="label-badge" data-ng-repeat="subjectTag in selectedSubjectTagList">
            <span class="cell">[[ subjectTag.label ]]</span>
            <span class="cell right-magnet" data-ng-click="removeFromSelectedSubjectTagList(subjectTag)">
                <svg class="icon-close" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#close"></use></svg>
            </span>
        </div>
    </div>

    <div class="row vertical-spacing">
        <i18n>exercizer.publishto.author</i18n> :
    </div>

    <div class="row vertical-spacing">
        <input type="text" class="twelve cell" maxlength="255" data-ng-model="cc.authorsContributors" i18n-placeholder="exercizer.publishto.author.ex">
    </div>

    <div data-ng-if="isSimpleSubject">
        <div class="row vertical-spacing">
            <i18n>exercizer.simple.library.corrected</i18n> :
        </div>

        <div class="row vertical-spacing">
            <div class="twelve cell horizontal-spacing select-file input-block" style="margin-top:5px;margin-bottom:5px">
                <button class="file-button flat-button"><i18n>exercizer.simple.upload.choose</i18n></button>
                <input style="width:70% !important" ng-readonly="true" type="text" ng-model="correctedName" data-display-file class="nomargin" />
                <div class="hidden-content">
                    <input type="file" style="z-index:-1" files-input-change="setCorrectedFileName(this)"  ng-model="newFiles" />
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-spacing">
        <input type="checkbox" class="cell"
               data-ng-checked="hasAgreedToPublish"
               data-ng-click="toggleHasAgreedToPublish()" />
        <span class="cell"><i18n>exercizer.publishto.license</i18n>&nbsp;&nbsp;&nbsp;</span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank" class="cell"><img src="exercizer/public/assets/img/creative_commons.png" alt="Creative Commons" /></a>
    </div>

    <div class="row">
        <button data-ng-click="publish()" class="right-magnet" data-ng-disabled="isPublicationOnGoing"><i18n>exercizer.publishto</i18n></button>
        <button data-ng-click="hide()" class="cancel right-magnet" data-ng-disabled="isPublicationOnGoing"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>