<h2 class="row" data-ng-if="grainType.id === 3">
    [[grainCopy.order_by]]&nbsp;)&nbsp;[[ grainType.public_name ]]
</h2>

<div class="row" data-ng-if="grainType.id > 3">
    <h2 class="cell">
        <i class="help"></i><span class="vertical-spacing">&nbsp;&nbsp; [[grainCopy.order_by]]&nbsp;)&nbsp;[[ grainCopy.grain_copy_data.title ]]&nbsp;&nbsp;&nbsp;/&nbsp;[[ grainCopy.grain_copy_data.max_score ]]</span>
    </h2>

    <!-- grain copy toggle hint button -->
    <a class="comment right-magnet cell"
       style="margin: 0;"
       data-ng-click="toggleGrainCopyHint()"
       data-ng-if="hasAnswerHint()">
        Aide à la réponse&nbsp;&nbsp;
        <i data-ng-show="isAnswerHintFolded" data-tooltip="Déplier" class="down-open"></i>
        <i data-ng-hide="isAnswerHintFolded" data-tooltip="Plier" class="up-open"></i>
    </a>
</div>

<!-- grain copy hint -->
<div class="row" data-ng-hide="isAnswerHintFolded" data-ng-if="hasAnswerHint()">
    <p style="text-align: justify"><em class="medium-importance">[[ grainCopy.grain_copy_data.answer_hint ]]</em></p>
</div>