<hr class="row" style="border-bottom: 1px solid black;" />

<div class="row">
    <div class="cell right-magnet" data-ng-click="toggle()">
        <i data-ng-show="isFolded" data-tooltip="Déplier" class="down-open"></i>
        <i data-ng-hide="isFolded" data-tooltip="Plier" class="up-open"></i>
    </div>
</div>

<div data-ng-show="isFolded">
    <div class="row">
        <div class="eight cell">
            <h2 class="row">
                Commentaire [[ hasComment() ? '(1)' : '(0)' ]]
            </h2>
        </div>
        <div class="one cell">
            &nbsp;
        </div>
        <div class="three cell">
            <h2 class="row">
                Résultat :&nbsp;[[ grainCopy.calculated_score ]]&nbsp;/&nbsp;[[ grainScheduled.grain_data.max_score ]]
            </h2>
        </div>
    </div>
</div>

<div data-ng-hide="isFolded">
    <div class="row" data-ng-if="hasAnswerExplanation()">
        <p style="text-align: justify"><em class="medium-importance">[[ grainScheduled.grain_data.answer_explanation ]]</em></p>
    </div>

    <div class="row">
        <div class="eight cell">
            <h2 class="row">
                Commentaire :
            </h2>
            <div class="row">
                <textarea data-ng-model="grain_copy.comment" complete-change="updateGrain()" style="height: 80px;" placeholder="[[ isTeacher ? Indiquez un commentaire : Pas de commentaire ]]"></textarea>
            </div>
        </div>
        <div class="one cell">
            &nbsp;
        </div>
        <div class="three cell">
            <h2 class="row">
                Résultats :
            </h2>
            <div class="row">
                <strong>Score calculé :</strong>&nbsp;[[ grainCopy.calculated_score ]]&nbsp;/&nbsp;[[ grainScheduled.grain_data.max_score ]]
            </div>
            <div class="row vertical-spacing">
                <strong>Score final :</strong>
            </div>
        </div>
    </div>
</div>
