<hr style="width: 100%; border: 1px solid lightgrey;" />

<div class="row">
    <div class="five cell">
        <div class="row">
            <textarea data-ng-model="grain.grain_data.answer_hint" complete-change="updateGrain()" style="height: 80px;" placeholder="Inquiquez un commentaire"></textarea>
        </div>
    </div>
    <div class="two cell">
        &nbsp;
    </div>
    <div class="five cell">
        <div class="row">
            Résultat automatique :
        </div>
        <div class="row">
            Résultat final :
        </div>
    </div>
</div>
