<!-- subject-copy-domino -->
<div class="fallen dominos" style="margin-bottom: 0px">
    <div class="item" style="width: 100%; max-width: none;">
        <section class="domino">
            <div class="top">
                <img data-ng-src="[[getSubjectCopyPicture()]]" class="absolute" />

            </div>

            <div class="bottom" data-ng-class="copyStateBackGroundColorClass();">


                <div class="content">
                    <div class="right-magnet" data-ng-if="subjectScheduled.type === 'interactive'">
                        <strong>[[subjectCopy.final_score | truncateNumber ]] / [[getSubjectScheduledMaxScore()]]</strong>
                    </div>

                    <div class="ten cell">

                        <div class="row">
                            <div class="cell title-icon">
                                <i class="[[subjectScheduled.type === 'simple' ? 'file-upload' : 'file-interactive']]" tooltip="[[subjectScheduled.type === 'simple' ? 'exercizer.simple.subject' : 'exercizer.interactive.subject']]"></i>
                            </div>

                            <div data-ng-switch="selectTitle()" class="custom-ellipsis">
                                <strong data-ng-switch-when="perform" data-ng-click="performSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="view" data-ng-click="viewSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="text" ><span class="token" data-ng-class="copyStateColorClass()">[[textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-default >default</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div data-ng-show="isDueDateDisplayed()"><i18n>exercizer.domino.todelivered</i18n> <span  data-ng-bind="getSubjectCopyDueDate() | date:'dd/MM/yyyy'"></span></div>
                            <div data-ng-show="isSubmittedDateDisplayed()"><i18n>exercizer.domino.delivered</i18n> <span  data-ng-bind="getSubjectCopySubmittedDate() | date:'dd/MM/yyyy'"></span></div>
                        </div>
                        <div class="row">
                            <em class="high-importance">[[ getSubjectScheduledOwner() ]]</em>
                        </div>
                        <div class="row">
                            <div data-ng-if="tooLate()" class="alert no-margin cell">
                                <i class="timer-off"></i> &nbsp; <i18n>exercizer.lag</i18n> &nbsp;
                            </div>
                        </div>

                    </div>

                    <div class="buttons">
                        <button class="flat-button"
                            data-ng-if="canShowGeneralCorrected()"
                            data-ng-click="downloadGeneralCorrectedFile()">
                            <i18n>exercizer.domino.corrected</i18n>
                            &nbsp; &nbsp; <i class="download"></i>
                        </button>

                        <button class="flat-button"
                            data-ng-if="canShowIndividualCorrected()"
                            data-ng-click="downloadCorrectedFile()">
                            <i18n>exercizer.domino.individual.corrected</i18n>
                            &nbsp; &nbsp; <i class="download"></i>
                        </button>
                    </div>

                </div>

            </div>
        </section>
    </div>  <!-- item -->
</div>
