<!-- subject-copy-domino -->
<div class="fallen dominos" style="margin-bottom: 0px">
    <div class="item" style="width: 100%; max-width: none;">
        <section class="domino">
            <div class="top" ng-class="{ 'divide-opacity': cantSart() }">
                <img data-ng-src="[[getSubjectCopyPicture()]]" class="absolute" />
            </div>
            <div class="bottom">
                <div class="content">
                    <div class="cell twelve-mobile" style="width: 80%">
                        <div class="row" ng-class="{ 'divide-opacity': cantSart() }">
                            <div class="cell title-icon">
                                <i class="[[subjectScheduled.type === 'simple' ? 'file-upload' : 'file-interactive']]" tooltip="[[subjectScheduled.type === 'simple' ? 'exercizer.simple.subject' : 'exercizer.interactive.subject']]"></i>
                            </div>
                            <div data-ng-switch="selectTitle()" class="custom-ellipsis">
                                <strong data-ng-switch-when="perform" data-ng-click="performSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="view" data-ng-click="viewSubjectCopy(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="text" ><span class="token" data-ng-class="copyStateColorClass()">[[textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-when="training" data-ng-click="viewSubjectCopyFinalScore(subjectCopy.id)"><span class="token" data-ng-class="copyStateColorClass()">[[ textBeforeTitle() ]]</span>[[ getSubjectScheduledTitle() ]]</strong>
                                <strong data-ng-switch-default >default</strong>
                            </div>
                        </div>
                        <div class="row" ng-class="{ 'divide-opacity': cantSart() }">
                            <i18n>exercizer.domino.by</i18n><em class="high-importance"><a data-ng-href="/userbook/annuaire#[[subjectScheduled.owner]]">[[subjectScheduled.owner_username]]</a></em>
                        </div>
                        <div class="due-date row" data-ng-if="!subjectCopy.is_training_copy" ng-class="{ 'divide-opacity': cantSart(), 'delay': tooLate() }">
                            <!-- Appliquer une class .delay quand le sujet est en retard -->
                            <div data-ng-show="isDueDateDisplayed()">
                              <i18n>exercizer.domino.todelivered</i18n> <strong data-ng-bind="dueDate | date:'dd/MM/yyyy'"></strong> <i18n>exercizer.at</i18n> <span data-ng-bind="dueDate | date:'HH:mm'"></span>
                            </div>

                            <!-- Ici il faut remplacer isDueDateDisplayed() par ce bloc quand la condition est respecté -->
                            <div data-ng-if="cantSart()">
                              &nbsp;<i18n>exercizer.domino.access</i18n> <span data-ng-bind="subjectScheduled.begin_date | date:'dd/MM/yyyy'"></span> <i18n>exercizer.at</i18n> <span  data-ng-bind="subjectScheduled.begin_date | date:'HH:mm'"></span>&nbsp;&nbsp;
                            </div>

                            <div data-ng-show="isSubmittedDateDisplayed()">
                              <i18n>exercizer.domino.delivered</i18n> <span  data-ng-bind="submittedDate | date:'dd/MM/yyyy'"></span> <i18n>exercizer.at</i18n> <span  data-ng-bind="submittedDate | date:'HH:mm'"></span>
                            </div>
                            <div class="row" data-ng-show="isSubmittedDateDisplayed()">
                              <i18n>exercizer.corrected.available</i18n> <span  data-ng-bind="dueDate | date:'dd/MM/yyyy'"></span> <i18n>exercizer.at</i18n> <span  data-ng-bind="dueDate | date:'HH:mm'"></span>
                            </div>
                        </div>
                        <div class="row italic-text" data-ng-if="subjectCopy.is_training_copy">
                            <br>
                            <div class="row" data-ng-show="isSubmittedDateDisplayed()">
                              <i18n>exercizer.copy.last.training</i18n> <span data-ng-bind="submittedDate | date:'dd/MM/yyyy'"></span> <i18n>exercizer.at</i18n> <span  data-ng-bind="submittedDate | date:'HH:mm'"></span>
                            </div>
                            <div class="row" data-ng-show="!isSubmittedDateDisplayed()">
                              <i18n>exercizer.copy.no.score.yet</i18n>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="subjectScheduled.type === 'interactive'">
                        <strong class="score">[[(subjectCopy.is_training_copy ? subjectCopy.calculated_score : subjectCopy.final_score) | truncateNumber ]] / [[getSubjectScheduledMaxScore()]]</strong>
                    </div>
                    <div class="buttons">
                        <button class="flat-button"
                            data-ng-if="canShowGeneralCorrected()"
                            data-ng-click="downloadGeneralCorrectedFile()">
                            <i18n>exercizer.domino.corrected</i18n>
                            &nbsp; &nbsp; <i class="download"></i>
                        </button>
                        <button class="flat-button"
                            data-ng-if="canShowIndividualCorrected()"
                            data-ng-click="downloadCorrectedFile()">
                            <i18n>exercizer.domino.individual.corrected</i18n>
                            &nbsp; &nbsp; <i class="download"></i>
                        </button>
                    </div>
                    <div class="right-glider"
                    data-ng-class="{'green': canCreateTraining(), 'grey': !canCreateTraining() }"
                    data-ng-if="canShowTrainingOption()">
                        <span>&#60;</span>
                        <a data-ng-if="canCreateTraining()" data-ng-click="createTrainingCopy()">
                            <i18n class="zero-desktop">exercizer.scheduled.subject.training.get.full</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.part1</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.part2</i18n>
                        </a>
                        <a style="cursor: initial" data-ng-if="!subjectScheduled.is_training_permitted">
                            <i18n class="zero-desktop">exercizer.scheduled.subject.training.get.unavailable.full</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.unavailable.part1</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.unavailable.part2</i18n>
                        </a>
                        <a style="cursor: initial" data-ng-if="canSoonCreateTraining()">
                            <i18n class="zero-desktop">exercizer.scheduled.subject.training.get.soon.full</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.soon.part1</i18n>
                            <i18n class="only-desktop">exercizer.scheduled.subject.training.get.soon.part2</i18n>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>  <!-- item -->
</div>
