
<div class="six cell">
    <h2 class="no-margin"> [[selectedSubjectScheduled.title]]</h2>
    <p class="small-text">
        <i18n>exercizer.scheduled.start</i18n> <b> [[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.begin_date | date:'HH:mm']]</b> <br>
        <i18n>exercizer.scheduled.end</i18n> <b> [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.due_date | date:'HH:mm']]</b> <br>
        <i18n>exercizer.scheduled.publish.corrected</i18n> <b> [[ selectedSubjectScheduled.corrected_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.corrected_date | date:'HH:mm']]</b>
    </p>
</div>

<div class="six cell">

      <b class="block"> <i18n>exercizer.corrected.homework</i18n></b>

      <div class="cell select-file input-block" style="margin-top:5px;margin-bottom:0px">
          <div class="hidden-content cell">
               <input type="file"  files-input-change="saveCorrected(this)" ng-model="newFiles" />
          </div>
           <input class="cell" ng-readonly="true" type="text"
           style="margin-right:5px;"
           ng-model="selectedSubjectScheduled.corrected_metadata.filename"
           data-display-file class="nomargin" />
           <button class="cell file-button flat-button"><i18n>exercizer.import.choose</i18n></button>
      </div>
     <div class="cell" data-ng-if="selectedSubjectScheduled.corrected_file_id" data-tooltip="exercizer.scheduled.corrected.delete"  style="margin-top:5px;margin-bottom:5px">
          <button class="flat-button" data-ng-click="removeCorrected()"><i class="close"></i></button>
     </div>
     <div class="two cell select-file hidden-content">
          <div class="hidden-content">
               <input type="file" files-input-change="saveCurrentCorrected(this)"  ng-model="newFiles" />
          </div>
          <button id="currentUpload" class="file-button"><i18n>exercizer.import.choose</i18n></button>
     </div>
</div>


<div class="row vertical-spacing">
     <div class="cell">
          <span data-ng-repeat="user in lUserGroup" class="small-text">
             <b>[[user.name]]</b>
          </span>
     </div>
</div>

<div class="vertical-spacing">
    <div class="small-text right-magnet" style="margin-top: 12px;">
         [[numberCopySubmitted()]] <i18n>exercizer.total.made</i18n> [[subjectCopyList.length]] <i18n>exercizer.total.made2</i18n>
    </div>
     <input type="text" class="five cell" data-ng-model="search.owner.owner_username" i18n-placeholder="exercizer.find.learner">
</div>
<form name="formCopyTest" >
     <div class="row vertical-spacing">
          <table class="list-view">
               <thead>
               <tr>
                    <th class="one centered-text"><input type="checkbox" data-ng-model="selectAll" data-ng-click="clickSelectAll(selectAll)"/></th>
                    <th scope="col" ng-click="orderByField('owner_username')">
                         <span translate content="exercizer.homework.from" ></span>
                         <i class="sort" ng-if="order.field !== 'owner_username'"></i>
                         <i class="sort-asc" ng-if="order.field === 'owner_username' && !order.desc"></i>
                         <i class="sort-desc" ng-if="order.field === 'owner_username' && order.desc"></i>
                    </th>
                    <th scope="col" ng-click="orderByField('submitted_date')">
                         <span translate content="exercizer.submitted.date" ></span>
                         <i class="sort" ng-if="order.field !== 'submitted_date'"></i>
                         <i class="sort-asc" ng-if="order.field === 'submitted_date' && !order.desc"></i>
                         <i class="sort-desc" ng-if="order.field === 'submitted_date' && order.desc"></i>
                    </th>
                    <th scope="col" ng-click="orderByField('homework_metadata.filename')">
                         <span translate content="exercizer.file" ></span>
                         <i class="sort" ng-if="order.field !== 'homework_metadata.filename'"></i>
                         <i class="sort-asc" ng-if="order.field === 'homework_metadata.filename' && !order.desc"></i>
                         <i class="sort-desc" ng-if="order.field === 'homework_metadata.filename' && order.desc"></i>
                    </th>
                    <th scope="col" ng-click="orderByField('corrected_metadata.filename')">
                         <span translate content="exercizer.simple.individual.corrected" ></span>
                         <i class="sort" ng-if="order.field !== 'corrected_metadata.filename'"></i>
                         <i class="sort-asc" ng-if="order.field === 'corrected_metadata.filename' && !order.desc"></i>
                         <i class="sort-desc" ng-if="order.field === 'corrected_metadata.filename' && order.desc"></i>
                    </th>
               </tr>
               </thead>
               <tbody>
               <tr data-ng-repeat="copy in subjectCopyList | filter:search.owner | orderBy:order.order:order.desc" ng-class="{ checked: copy.selected }">
                    <td class="centered-text">
                         <input type="checkbox" data-ng-model="copy.selected" data-ng-click="selectCopy()"/>
                    </td>
                    <td>
                         <span>[[copy.owner_username]]</span>
                    </td>
                    <td>
                         <div data-ng-if="tooLate(copy)" class="alert">
                             <i class="timer-off"></i> &nbsp; <i18n>exercizer.lag</i18n> <span class="warning-text">[[copy.submitted_date | date:'dd/MM/yyyy']] <i18n>exercizer.at</i18n> [[copy.submitted_date | date:'HH:mm']]</span>
                         </div>

                         <div data-ng-if="!tooLate(copy) && copy.submitted_date" class="valid-color">
                             <i class="check-circle"></i> &nbsp;<em>[[copy.submitted_date | date:'dd/MM/yyyy']] <i18n>exercizer.at</i18n> [[copy.submitted_date | date:'HH:mm']]</em>
                         </div>

                         <div data-ng-if="showReminder(copy)" class="flex-row align-center">
                            <i class="pending-action horizontal-spacing medium-text"></i>
                            <button data-ng-click="reminder(copy.id)" class="flat-button no-margin"><i18n>exercizer.reminder</i18n></button>
                         </div>
                    </td>

                    <td data-ng-if="copy.homework_metadata">
                        <span>
                            <i class="attachment medium-text"></i>
                            <a data-ng-click="downloadFile(copy)" target="_blank">
                                &nbsp;
                                [[copy.homework_metadata.filename | limitTo: 15  ]][[ copy.homework_metadata.filename.length > 15 ? '...' : '']]
                            </a>
                        </span>
                    </td>
                    <td data-ng-if="!copy.homework_metadata" colspan="2">
                        <em>
                            <i18n>exercizer.none.student.file</i18n>
                        </em>
                    </td>

                    <td ng-hide="!copy.corrected_metadata.filename && !copy.submitted_date">
                         <div ng-if="!copy.corrected_metadata.filename && copy.submitted_date"
                            class="cell droppable centered-text block-container flex-row align-center justify-center"
                            drop-files="newFiles"
                            on-drop="selectedCorrectedFileCopy(copy);saveCurrentCorrected(this);">

                                <i class="upload"></i>&nbsp;&nbsp;&nbsp;

                                <a data-ng-click="selectedCorrectedFileCopy(copy)"
                                    onclick="$(currentUpload).click();">
                                    <i18n>exercizer.add.file</i18n>
                                </a>
                         </div>

                         <span ng-if="copy.corrected_metadata.filename">
                             <i class="attachment medium-text"></i>&nbsp;&nbsp;
                             [[copy.corrected_metadata.filename | limitTo: 15  ]][[ copy.corrected_metadata.filename.length > 15 ? '...' : '']]
                             &nbsp;
                             <i data-ng-click="removeCurrentCorrected(copy)" class="close"></i>
                         </span>
                    </td>
               </tr>
               </tbody>
          </table>
     </div>
</form>

<section class="toggle-buttons" data-ng-show="toasterDisplayed.main">
     <div class="toggle">
          <div class="row">
               <div class="cell">
                    <button data-ng-click="downloadFiles()"><i18n>exercizer.downloads</i18n></button>
               </div>
               <div class="cell">
                    <button data-ng-click="reminder()"><i18n>exercizer.reminder.raise</i18n></button>
               </div>
              <div class="cell" data-ng-show="toasterDisplayed.exclude">
                  <button data-ng-click="exclude()"><i18n>exercizer.exclude</i18n></button>
              </div>
          </div>
     </div>
</section>
<reminders is-displayed="reminderDisplayed" selected-subject-scheduled="selectedSubjectScheduled" reminder-copies="reminderCopies" />
<exclude is-displayed="excludeDisplayed" subject-copy-list="subjectCopyList" toaster-displayed="toasterDisplayed" />
