<article class="five cell left-magnet" style="height:150px">
    <h2 class="no-margin"><i18n>exercizer.schedule.info</i18n> "[[selectedSubjectScheduled.title]]"</h2>
    <div class="row vertical-spacing row-like-input">
        <div class="cell"><span><i18n>exercizer.scheduled.start</i18n>&nbsp;</span></div>
        <b>  [[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.begin_date | date:'HH:mm']]</b>
    </div>
    <div class="row vertical-spacing row-like-input">
        <div class="cell"><span><i18n>exercizer.scheduled.end</i18n> &nbsp;</span></div>
        <b> [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.due_date | date:'HH:mm']]</b>
    </div>
</article>

<article class="six cell right-magnet" style="height:150px">
    <h2 class="block"> <i18n>exercizer.schedule.stats</i18n> "[[selectedSubjectScheduled.title]]"</h2>
    <div class="row vertical-spacing">
        <i18n>exercizer.schedule.stats.info1</i18n> [[score.nb]] <i18n>exercizer.schedule.stats.info2</i18n> : [[score.sum/score.nb | truncateNumber]] / [[selectedSubjectScheduled.max_score]]
    </div>
    <div class="row vertical-spacing">
        [[numberCopySubmitted]] <i18n>exercizer.total.made</i18n> [[subjectCopyList.length]] <i18n>exercizer.total.made2</i18n>
    </div>
</article>

<div class="row vertical-spacing" data-ng-click="seeAllAssignAtList(subjectScheduled)">
    <div class="cell">
         <span class="small-text">
             <i18n>exercizer.schedule.at</i18n>
         </span>
        <span data-ng-repeat="user in selectedSubjectScheduled.lUserGroup | limitTo: 3" class="small-text" class="hover-orange">
             <b>[[user.name]] </b>
         </span>
        <span class="hover-orange"
              data-ng-if="lUserGroup.length > 3">...</span>
        <em class="small-text"> - <i18n>exercizer.numbercopy.notcorrected</i18n> <b>[[numberCopyNotCorrected]]</b> <i18n>exercizer.numbercopy.notcorrected2</i18n> </em>
    </div>
</div>

<div class="vertical-spacing">
    <input type="text" class="five cell" data-ng-model="search.owner.owner_username" i18n-placeholder="exercizer.find.learner">
</div>

<stats filter-owner= "search.owner" subject-copy-list="subjectCopyList" subject-scheduled="selectedSubjectScheduled" />



<subject-scheduled-assign-at is-displayed="assignDisplayed" subject-scheduled="selectedSubjectScheduled"></subject-scheduled-assign-at>
