<div class="grid grid-2 gap-24">
    <article class="article-column">
        <div>
            <h2 class="no-margin"><i18n>exercizer.schedule.info</i18n> "[[selectedSubjectScheduled.title]]"</h2>
            <message-info status="warning" data-ng-if="option.editedDates && option.hasSubmitted"><i18n>exercizer.schedule.rule.copies</i18n></message-info>
            <div class="row small-text" data-ng-class="{'m-8' : !(option.editedDates && option.hasBeenSarted) }">
                <div class="cell"><span><i18n>exercizer.scheduled.start</i18n>&nbsp;</span></div>
                <span ng-if="!option.editedDates || option.hasSubmitted">  [[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.begin_date | date:'HH:mm']]</span>
                <div ng-if="option.editedDates && !option.hasSubmitted" class="option-edited-dates">
                    <date-picker ng-model="option.begin_date" class="two no-margin" ></date-picker>
                    <i18n>exercizer.at</i18n>
                    <input class="one no-margin" type="text" data-ng-model="option.begin_time" data-ng-blur="option.begin_time = checkTime(option.begin_time, selectedSubjectScheduled.begin_date)"/>
                </div>
            </div>
            <div class="row small-text m-8">
                <div class="cell"><span><i18n>exercizer.scheduled.end</i18n> &nbsp;</span></div>
                <span ng-if="!option.editedDates"> [[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.due_date | date:'HH:mm']]</span>
                <div ng-if="option.editedDates" class="option-edited-dates">
                    <date-picker ng-model="option.due_date" class="two no-margin"></date-picker>
                    <i18n>exercizer.at</i18n>
                    <input class="one no-margin" type="text" data-ng-model="option.due_time" data-ng-blur="option.due_time = checkTime(option.due_time, selectedSubjectScheduled.due_date)"/>
                </div>
            </div>
            <div class="row small-text m-8">
                <div class="cell"><span><i18n>exercizer.scheduled.publish.corrected</i18n> &nbsp;</span></div>
                <span ng-if="!option.editedDates"> [[ selectedSubjectScheduled.corrected_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.corrected_date | date:'HH:mm']]</span>
                <div ng-if="option.editedDates" class="option-edited-dates">
                    <date-picker ng-model="option.corrected_date" class="two no-margin"></date-picker>
                    <i18n>exercizer.at</i18n>
                    <input class="one no-margin" type="text" data-ng-model="option.corrected_time" data-ng-blur="option.corrected_time = checkTime(option.corrected_time, selectedSubjectScheduled.corrected_date)"/>
                </div>
            </div>
        </div>
    
        <div class="row small-text m-8">
            <div class="cell right-magnet" data-ng-show="!option.editedDates">
                <button class="flat-button" data-ng-click="option.showUnScheduled=true"><i18n>exercizer.unschedule</i18n></button>
                <button data-ng-click="option.editedDates=true"> <i18n>edit</i18n></button>
            </div>
            <div class="cell right-magnet" data-ng-show="option.editedDates">
                <button class="flat-button" data-ng-click="cancelDatesEditing()"><i18n>exercizer.cancel</i18n></button>
                <button data-ng-click="option.edit=true"><i18n>exercizer.validate</i18n></button>
            </div>
        </div>
    </article>
    
    <article class="article-column">
        <div>
            <h2 class="block"> <i18n>exercizer.corrected.homework</i18n></h2>
            <div>
                <div class="selected-subject-scheduled" 
                        data-ng-repeat="file in selectedSubjectScheduled.files">
                    <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                    <span>[[file.metadata.filename]]</span>
                    <button
                        class="download"
                        data-ng-click="downloadCorrectedFile(file)"
                        title="[['exercizer.scheduled.corrected.download'|i18n]]"
                        aria-label="[['exercizer.scheduled.corrected.download'|i18n]]">
                        <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                    </button>
                    <button
                        class="remove"
                        data-ng-click="removeCorrected(file)"
                        title="[['exercizer.scheduled.corrected.delete'|i18n]]"
                        aria-label="[['exercizer.scheduled.corrected.delete'|i18n]]">
                        <svg class="icon-delete" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#delete"></use></svg>
                    </button>
                </div>
                <div class="row media-library mt-16" ng-if="selectedSubjectScheduled.files.length < 5">
                    <div id="simple-correction-id" class="drop-zone import-files import-files-custom">
                        <article class="drop flex-row align-center">
                            <div class="three m-0"></div>
                            <svg class="icon-upload" width="24" height="24"><use href="exercizer/public/assets/icons/icons.svg#upload"></use></svg>
                            <div class="seven help">
                                <em><i18n>exercizer.drop.help2</i18n></em>
                            </div>
                        </article>
                        <article class="default flex-row align-center">
                            <button class="file-button no-margin" style="min-width:fit-content;" ng-click="fileSelectionDisplayed = true"><i18n>library.file.choose</i18n></button>
                            <svg class="icon-upload" width="24" height="24"><use href="exercizer/public/assets/icons/icons.svg#upload"></use></svg>
                            <div class="help">
                                <em><i18n>exercizer.drop.help</i18n></em>
                            </div>
                        </article>
                    </div>
                    <lightbox show="fileSelectionDisplayed" on-close="fileSelectionDisplayed = false">
                        <media-library 
                            visibility="selectedFile.visibility"
                            ng-change="appendCorrected()"
                            ng-model="selectedFile.file"
                            file-format="'any'">
                        </media-library>
                    </lightbox>
                </div>
            </div>
        </div>
        <div class="two cell m-0 select-file hidden-content">
            <div class="hidden-content">
                <input type="file" files-input-change="saveCurrentCorrected(this)"  ng-model="newFiles" />
            </div>
            <button id="currentUpload" class="file-button"><i18n>exercizer.import.choose</i18n></button>
        </div>
    </article>
</div>

<article>
    <div class="flex align-items-center gap-16 mb-24">
        <div data-ng-click="seeAllAssignAtList(subjectScheduled)">
            <span>
                 <i18n>exercizer.schedule.at</i18n>
            </span>
            <span data-ng-repeat="user in lUserGroup | limitTo: 3">
                [[user.name]]
            </span>
            <span class="hover-orange"
               data-ng-if="lUserGroup.length > 3">...</span>
        </div>
        <em class="small-text copy-not-corrected"><i18n>exercizer.numbercopy.notcorrected</i18n> <b>[[numberCopyNotCorrected()]]</b> <i18n>exercizer.numbercopy.notcorrected2</i18n> </em>
   </div>
   
   <div class="flex align-items-center justify-space-between gap-16 m-24">
        <input type="text" class="five twelve-mobile" data-ng-model="search.owner.owner_username" i18n-placeholder="exercizer.find.learner" style="flex: inherit;">

        <em class="small-text right-magnet">
            [[numberCopySubmitted()]] <i18n>exercizer.total.made</i18n> [[subjectCopyList.length]] <i18n>exercizer.total.made2</i18n>
        </em>
   </div>
   <form name="formCopyTest" >
        <div class="row vertical-spacing" style="overflow-x: auto;">
             <table class="list-view">
                  <thead>
                  <tr>
                       <th class="one">
                           <label for="select-all">
                                <input
                                    id="select-all"
                                    class="sized"
                                    type="checkbox"
                                    data-ng-model="selectAll"
                                    data-ng-change="clickSelectAll(selectAll)"/>
                           </label>
                        </th>
                       <th scope="col" ng-click="orderByField('owner_username')">
                            <span translate content="exercizer.homework.from" ></span>
                            <i class="sort" ng-if="order.field !== 'owner_username'"></i>
                            <i class="sort-asc" ng-if="order.field === 'owner_username' && !order.desc"></i>
                            <i class="sort-desc" ng-if="order.field === 'owner_username' && order.desc"></i>
                       </th>
                       <th scope="col" ng-click="orderByField('submitted_date')">
                            <span translate content="exercizer.submitted.date" ></span>
                            <i class="sort" ng-if="order.field !== 'submitted_date'"></i>
                            <i class="sort-asc" ng-if="order.field === 'submitted_date' && !order.desc"></i>
                            <i class="sort-desc" ng-if="order.field === 'submitted_date' && order.desc"></i>
                       </th>
                       <th scope="col" ng-click="orderByField('homework_files[0].metadata.filename')">
                            <span translate content="exercizer.file" ></span>
                            <i class="sort" ng-if="order.field !== 'homework_files[0].metadata.filename'"></i>
                            <i class="sort-asc" ng-if="order.field === 'homework_files[0].metadata.filename' && !order.desc"></i>
                            <i class="sort-desc" ng-if="order.field === 'homework_files[0].metadata.filename' && order.desc"></i>
                       </th>
                       <th scope="col" ng-click="orderByField('corrected_files[0].metadata.filename')">
                            <span translate content="exercizer.simple.individual.corrected" ></span>
                            <i class="sort" ng-if="order.field !== 'corrected_files[0].metadata.filename'"></i>
                            <i class="sort-asc" ng-if="order.field === 'corrected_files[0].metadata.filename' && !order.desc"></i>
                            <i class="sort-desc" ng-if="order.field === 'corrected_files[0].metadata.filename' && order.desc"></i>
                       </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="copy in subjectCopyList | filter:search.owner | orderBy:order.order:order.desc" ng-class="{ checked: copy.selected }">
                       <td>
                            <label for="copy_[[copy.id]]">
                                <input
                                    id="copy_[[copy.id]]"
                                    class="sized"
                                    type="checkbox"
                                    data-ng-model="copy.selected"
                                    data-ng-change="selectCopy()"/>
                            </label>
                       </td>
                       <td>
                            <span>[[copy.owner_username]]</span>
                       </td>
                       <td>
                            <message-info status="error" data-ng-if="tooLate(copy)">
                                <i18n>exercizer.lag</i18n> <span class="warning-text">[[copy.submitted_date | date:'dd/MM/yyyy']] <i18n>exercizer.at</i18n> [[copy.submitted_date | date:'HH:mm']]</span>
                            </message-info>
   
                            <div data-ng-if="!tooLate(copy) && copy.submitted_date" class="valid-color">
                                <span>[[copy.submitted_date | date:'dd/MM/yyyy']] <i18n>exercizer.at</i18n> [[copy.submitted_date | date:'HH:mm']]</span>
                            </div>
   
                            <div data-ng-if="showReminder(copy)" class="flex-row align-center">
                               <button data-ng-click="reminder(copy.id)" class="flat-button no-margin"><i18n>exercizer.reminder</i18n></button>
                            </div>
                       </td>
   
                       <td data-ng-if="copy.homework_files.length">
                            <div class="selected-subject-scheduled">
                                <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                                <span>[[copy.homework_files[0].metadata.filename | limitTo: 15  ]][[ copy.homework_files[0].metadata.filename.length > 15 ? '...' : '']]</span>
                                <span ng-if="copy.homework_files.length>1">+ [[copy.homework_files.length-1]]</span>
                                <button
                                    class="download"
                                    aria-label="[['exercizer.file.download'|i18n]]"
                                    data-ng-click="copy.homework_files.length===1 ? downloadFile(copy, copy.homework_files[0]) : showHomeworks(copy)"
                                    target="_blank">
                                    <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
                                </button>
                           </div>
                       </td>
                       <td data-ng-if="!copy.homework_files.length">
                           <em>
                               <i18n>exercizer.none.student.file</i18n>
                           </em>
                       </td>
   
                       <td ng-if="copy.corrected_files.length || copy.submitted_date">
                            <div class="selected-subject-scheduled droppable p-8"
                                    ng-if="!copy.corrected_files.length && copy.submitted_date"
                                    drop-files="newFiles"
                                    on-drop="selectedCorrectedFileCopy(copy);saveCurrentCorrected(this);">
                                <svg class="icon-upload" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#upload"></use></svg>
                                <a data-ng-click="selectedCorrectedFileCopy(copy)"
                                       onclick="$(currentUpload).click();">
                                    <i18n>exercizer.add.file</i18n>
                                </a>
                           </div>
   
                            <div class="selected-subject-scheduled" ng-if="copy.corrected_files.length">
                                <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
                                <span>[[copy.corrected_files[0].metadata.filename | limitTo: 15  ]][[ copy.corrected_files[0].metadata.filename.length > 15 ? '...' : '']]</span>
                                <button
                                    class="remove"
                                    aria-label="[['exercizer.scheduled.corrected.delete'|i18n]]"
                                    data-ng-click="removeCurrentCorrected(copy, copy.corrected_files[0])"
                                    target="_blank">
                                    <svg class="icon-delete" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#delete"></use></svg>
                                </button>
                           </div>
                       </td>
                  </tr>
                  </tbody>
             </table>
        </div>
   </form>

   <lightbox show="homeworksDisplayed" on-close="homeworksDisplayed=false">
      <div class="selected-subject-scheduled"
            ng-repeat="homeworks in selectedCopy.homework_files">
        <svg class="icon-attachement" width="16" height="16"><use href="exercizer/public/assets/icons/icons.svg#attachement"></use></svg>
        <span>[[homeworks.metadata.filename | limitTo: 15  ]][[ homeworks.metadata.filename.length > 15 ? '...' : '']]</span>
        <button
            class="download"
            aria-label="[['exercizer.file.download'|i18n]]"
            data-ng-click="downloadFile(selectedCopy, homeworks)"
            target="_blank">
            <svg class="icon-download" width="20" height="20"><use href="exercizer/public/assets/icons/icons.svg#download"></use></svg>
        </button>
      </div>
    </lightbox>
</article>

<section class="toggle-buttons" data-ng-show="toasterDisplayed.main">
     <div class="toggle">
          <div class="row">
               <div class="cell">
                    <button data-ng-click="downloadFiles()"><i18n>exercizer.downloads</i18n></button>
               </div>
               <div class="cell">
                    <button data-ng-click="reminder()"><i18n>exercizer.reminder.raise</i18n></button>
               </div>
              <div class="cell" data-ng-show="toasterDisplayed.exclude">
                  <button data-ng-click="exclude()"><i18n>exercizer.exclude</i18n></button>
              </div>
          </div>
     </div>
</section>

<subject-scheduled-assign-at is-displayed="assignDisplayed" subject-scheduled="selectedSubjectScheduled"></subject-scheduled-assign-at>

<reminders is-displayed="reminderDisplayed" selected-subject-scheduled="selectedSubjectScheduled" reminder-copies="reminderCopies"></reminders>
<exclude is-displayed="excludeDisplayed" subject-copy-list="subjectCopyList" selected-subject-scheduled="selectedSubjectScheduled" toaster-displayed="toasterDisplayed"></exclude>

<lightbox show="option.showUnScheduled" on-close="option.showUnScheduled=false">
    <h2><i18n>exercizer.unschedule.title</i18n></h2>
    <p><i18n>exercizer.unschedule.confirm</i18n></p>
    <div class="row">
        <button data-ng-click="unScheduled(); " data-ng-disabled="option.unScheduledDisabled" class="right-magnet"><i18n>exercizer.unschedule</i18n></button>
        <button data-ng-click="option.showUnScheduled=false" class="cancel right-magnet"><i18n>exercizer.cancel</i18n></button>
    </div>
</lightbox>
<lightbox show="option.edit" on-close="option.edit=false">
    <h2><i18n>exercizer.schedule.edit.title</i18n></h2>
    <p>
        <span><i18n>exercizer.schedule.edit.confirm</i18n></span>
        <span data-ng-if="selectedSubjectScheduled.is_notify"><i18n>exercizer.schedule.edit.confirm.notif</i18n></span>
    </p>
    <div class="cell right-magnet">
        <button class="flat-button" data-ng-click="option.edit=false"><i18n>cancel</i18n></button>
        <button data-ng-click="modifySchedule(); option.edit=false;"> <i18n>exercizer.validate</i18n></button>
    </div>
</lightbox>
