<div class="grid grid-2 gap-24">
    <article>
        <h2 class="no-margin"><i18n>exercizer.schedule.info</i18n> "[[selectedSubjectScheduled.title]]"</h2>
        <div class="row small-text m-8">
            <div class="cell"><span><i18n>exercizer.scheduled.start</i18n>&nbsp;</span></div>
            <span>[[ selectedSubjectScheduled.begin_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.begin_date | date:'HH:mm']]</span>
        </div>
        <div class="row small-text m-8">
            <div class="cell"><span><i18n>exercizer.scheduled.end</i18n> &nbsp;</span></div>
            <span>[[ selectedSubjectScheduled.due_date | date:'dd/MM/yyyy' ]] <i18n>exercizer.at</i18n> [[selectedSubjectScheduled.due_date | date:'HH:mm']]</span>
        </div>
    </article>
    
    <article>
        <h2 class="block"> <i18n>exercizer.schedule.stats</i18n> "[[selectedSubjectScheduled.title]]"</h2>
        <div class="row small-text m-8">
            <i18n>exercizer.schedule.stats.info1</i18n> [[score.nb]] <i18n>exercizer.schedule.stats.info2</i18n> : [[score.sum/score.nb | truncateNumber]] / [[selectedSubjectScheduled.max_score]]
        </div>
        <div class="row small-text m-8">
            [[numberCopySubmitted]] <i18n>exercizer.total.made</i18n> [[subjectCopyList.length]] <i18n>exercizer.total.made2</i18n>
        </div>
    </article>
</div>

<article>
    <div class="row vertical-spacing" data-ng-click="seeAllAssignAtList(subjectScheduled)">
        <div class="cell">
             <span>
                 <i18n>exercizer.schedule.at</i18n>
             </span>
            <span data-ng-repeat="user in selectedSubjectScheduled.lUserGroup | limitTo: 3" class="hover-orange">
                [[user.name]]
             </span>
            <span class="hover-orange"
                  data-ng-if="lUserGroup.length > 3">...</span>
            <em class="small-text copy-not-corrected"><i18n>exercizer.numbercopy.notcorrected</i18n> <b>[[numberCopyNotCorrected]]</b> <i18n>exercizer.numbercopy.notcorrected2</i18n> </em>
        </div>
    </div>
    
    <div class="vertical-spacing">
        <input type="text" class="five cell twelve-mobile" data-ng-model="search.owner.owner_username" i18n-placeholder="exercizer.find.learner">
    </div>

    <stats filter-owner= "search.owner" subject-copy-list="subjectCopyList" subject-scheduled="selectedSubjectScheduled"></stats>

    <subject-scheduled-assign-at is-displayed="assignDisplayed" subject-scheduled="selectedSubjectScheduled"></subject-scheduled-assign-at>

</article>